<style type="text/css">
@font-face {
	font-family: "cinco-jplayer-01";
  	src:url("http://s3.amazonaws.com/fpskin/jplayer/test/fonts/cinco-jplayer-01.eot");
  	src:url("http://s3.amazonaws.com/fpskin/jplayer/test/fonts/cinco-jplayer-01.eot?#iefix") format("embedded-opentype"),
    	url("http://s3.amazonaws.com/fpskin/jplayer/test/fonts/cinco-jplayer-01.woff") format("woff"),
    	url("http://s3.amazonaws.com/fpskin/jplayer/test/fonts/cinco-jplayer-01.ttf") format("truetype"),
    	url("http://s3.amazonaws.com/fpskin/jplayer/test/fonts/cinco-jplayer-01.svg#cinco-jplayer-1") format("svg");
  	font-weight: normal; font-style: normal;
}

/* ################################## */
/* BEGIN jPlayer icons font Cincopa ver 1.0 */
/* ################################## */
div {font-family: "cinco-jplayer-01" !important; color: #000; font-size: 20px; font-style: normal !important;font-weight: normal !important;font-variant: normal !important;text-transform: none !important;speak: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale; }
div .jpli-play:after { content: "b"; }
div .jpli-previous:after { content: "c"; }
div#~gallery_div~ .jp-controls li.jpli-pause>a>i:after { content: "a"; }
div#~gallery_div~ .jp-controls li.jpli-next>a>i:after { content: "e"; }
div#~gallery_div~ .jp-controls li.jpli-shuffle>a>i:after { content: "d"; }
/* ################################## */
/* END jPlayer icons font Cincopa ver 1.0 */
/* ################################## */
</style>

<div>
	<div class="jpli-play"></div>
</div>




ftp://nakrill@cbcmrb.com@cbcmrb.com/cbcmrb.com/tmp/cinco/iconfonts/01/cinco-jplayer-01.woff 