@import "global-mixins";




// -------------------------------------------------
// cincopa variables
// -------------------------------------------------
/*@createarg[
{'group':'branded','groupName':'Player logo','name':'watermark','type':'text','title':'Logo URL','default':'',desc:'Location of an external jpg, png or gif image to show in a corner of the display.'},
{'group':'branded','groupName':'Player logo','name':'watermark_link','type':'text','title':'Logo click URL','default':'',desc:'Open URL on  logo click.'},
{'group':'design','name':'theme_color2','type':'color','title':'Theme color 2','default':'#98a4b3',desc:'Customize Theme color 2 for your gallery'},

{'group':'design','name':'player_colors','type':'pallet','title':'Pallet',desc:'Select pre-defined color pallet',
values :{
   	"Default Blue" : { short_name : "default_blue", set : {
		theme_color: "#00a6ff",
		text_color : "#353535",
		bg_color : "#ffffff",
		theme_color2: "#00a6ff",
	}},
   	"Sweet Lavender" : { short_name : "sweet_lavender", set : {
		theme_color: "#620096",
		text_color : "#7a007a",
		bg_color : "#ffb8e9",
		theme_color2: "#c66bff",
	}},
   	"Many Oranges" : { short_name : "many_oranges", set : {
		theme_color: "#fff200",
		text_color : "#703114",
		bg_color : "#ffaa00",
		theme_color2: "#f2811d",
	}},
   	"Dark Glow" : { short_name : "dark_glow", set : {
		theme_color: "#ff8400",
		text_color : "#ffffff",
		bg_color : "#003a47",
		theme_color2: "#410069",
	}},
   	"Green Field" : { short_name : "green_field", set : {
		theme_color: "#f2ff3d",
		text_color : "#3c4f0e",
		bg_color : "#96db00",
		theme_color2: "#6fd178",
	}},
   	"Vintage Paint" : { short_name : "vintage_paint", set : {
		theme_color: "#9e0a3a",
		text_color : "#5d5553",
		bg_color : "#fff9d7",
		theme_color2: "#5fa1dd",
	}},
   	"Red Flame" : { short_name : "red_flame", set : {
		theme_color: "#8a173e",
		text_color : "#fffccc",
		bg_color : "#ff002b",
		theme_color2: "#ff5500",
	}},
   	"Gray Aluminium" : { short_name : "grayaluminium", set : {
		theme_color: "#a8b6bd",
		text_color : "#566069",
		bg_color : "#dde5eb",
		theme_color2: "#98a4b3",
	}},
   	"White Snowstorm" : { short_name : "whitesnowstorm", set : {
		theme_color: "#b3bcc2",
		text_color : "#1b1d1f",
		bg_color : "#ffffff",
		theme_color2: "#ebedf0",
	}},
   	"Deep Black" : { short_name : "whitesnowstorm", set : {
		theme_color: "#ffbf00",
		text_color : "#ffffff",
		bg_color : "#242424",
		theme_color2: "#000000",
	}},
}},
]@createarg */
// -------------------------------------------------
// ==cincopa variables
// -------------------------------------------------


// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------
.jp-controls {
	.jpli-playlistbtn, .jpli-repeat, .jpli-stop, .jpli-mute, .jpli-unmute, .jpli-volume-max { display: none !important; } // not currently supported
}
//-------------------------------------------------------------------------
} // gallery container

