@charset "UTF-8";

@font-face {
  font-family: "cincojplayer03";
  src:url("fonts/cincojplayer03.eot");
  src:url("fonts/cincojplayer03.eot?#iefix") format("embedded-opentype"),
    url("fonts/cincojplayer03.woff") format("woff"),
    url("fonts/cincojplayer03.ttf") format("truetype"),
    url("fonts/cincojplayer03.svg#cincojplayer03") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "cincojplayer03" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="jp-"]:before,
[class*=" jp-"]:before {
  font-family: "cincojplayer03" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jp-pause:before {
  content: "a";
}
.jp-next:before {
  content: "b";
}
.jp-play:before {
  content: "c";
}
.jp-previous:before {
  content: "d";
}
.jp-shuffle:before {
  content: "e";
}
