/*@version2@version */
/*@createarg[
{'group':'branded','name':'player_watermark_on_off','type':'bool','title':'Brand player','default':'false',desc:"Add your logo to the player control bar. If you don't want to add logo change the toggle button to 'Off'"},
{'group':'branded','name':'player_watermark','type':'text','title':'Player Logo URL','default':'','desc':'Type in the Logo file direct URL.', 'enableExp': 'param.player_watermark_on_off == "true"'},
{'group':'branded','name':'player_watermark_link','type':'text','title':'Player Logo click URL','default':'','desc':'Type in the click URL (target site URL when clicking the logo)', 'enableExp': 'param.player_watermark_on_off == "true"'},
{'group':'controls','name':'theme_color','type':'color','title':'Controls color','default':'#ffffff',desc:'Customize Theme color for your player'},
{'group':'design','name':'arrows_color','type':'color','title':'Lightbox arrows color','default':'#ffffff',desc:'Customize lightbox arrows color'}
]@createarg
*/

audio[controls] { height: auto !important; min-height: 40px; width: 100% !important; }

#~gallery_div~ ul.ze_imagelist {

	margin: 0; padding: 0; position: relative;
	/* this is for old wordpress templates */
	li:before { content: ''; }
	li { float: none; display: inline-block; vertical-align: top; border: none; padding: 0 0 7px 7px; background-image: none; list-style: none !important; transition: all 0.3s ease-out; }
	a {
		display: block; border: 1px solid #D6D6D6; padding: 8px; overflow: hidden; width: 100px; height: 75px; vertical-align: middle; text-align: center; background: rgba(255,255,255,0.3);
		&:hover { background:#DBE6ED; border:1px solid #BFCFD9; color:#000; }
	}
	img { margin:0px; padding:0px; border:0px solid white; max-width:none; max-height:none; width: auto; }
	.hide { display: none; }
}





#~gallery_div~ .ze_box { position: relative; text-decoration: none;}


#~gallery_div~ ul.pagination {
	padding: 0; list-style: none !important; text-align: center; clear: both; position: relative;
	li {
		display: inline-block; vertical-align: middle;
		a {
			text-decoration: none; color: #000; display: block; padding: 0 6px; background: rgb(224, 224, 224); margin: 1px; border-radius: 2px; font-size: 1.1em;
			&.firstBtn,
			&.lastBtn,
			&.prevBtn,
			&.nextBtn { font-size: 0.8em; color: rgb(165, 165, 165); }
			&:hover { background-color: #ECECEC; }
			&.active{ color: #f5911e; }
		}
	}	
}




#~gallery_div~ .ze_imagelist  li a,
.ze_imagelist  li a img {
	display: block;
	position: relative;
}

#~gallery_div~ .ze_title {
width:100%;
color: #fff;
font-size: 13px;
position: relative;
line-height: 35px;
bottom: 35px;
height: 35px;
background: rgba(0, 0, 0, 0.52);
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
}
#~gallery_div~ .ze_overlay_hover .ze_title{ position:absolute;bottom:0px;}

#~gallery_div~ .ze_overlay_hover {overflow:hidden;}

#~gallery_div~ ul.ze_imagelist li:hover .ze_title { opacity: 1; -webkit-transition: ease .5s opacity; }


#~gallery_div~ .ze_imagelist  li a div.ze_overlay .ze_title { line-height: 1.1em; 
font-size: 12px;
 padding: 5px;
 background: rgba(0,0,0,.7);

 }

#~gallery_div~ ul
{
list-style:none !important;
list-style-image:none !important;
}

#~gallery_div~  .ze-swipebox .locationInfo {
position: absolute;z-index: 99;bottom: 6px;right: 12px;font-size: 10px;color: #FFFFFF; 
}

.ze-swipebox-caption .locationInfo { font-size:10px;}

#~gallery_div~  .ze-swipebox .locationInfo:hover,
.ze-swipebox-caption .locationInfo:hover   {
  font-weight:bold;
  text-decoration:underline;
  color:#333FAF;
}

#~gallery_div~ .ze_type_image .ico{
	display:none
}

#swipebox-overlay~gallery_div~ .ze-swipebox-action a:before{color:#~arg_arrows_color~;}

div.videoTemplateVersion2 .mejs-container .mejs-overlay-play>.mejs-overlay-button:before{color:#~arg_theme_color~}
div.videoTemplateVersion2 .mejs-container .mejs-controls .mejs-time { color: #fff; color: #~arg_theme_color~; }
div.videoTemplateVersion2 .mejs-container .mejs-controls .mejs-time span { color: #fff; color: #~arg_theme_color~; }
div.videoTemplateVersion2 .mejs-container .mejs-controls .mejs-button button { color: #fff; color: #~arg_theme_color~ }
div.videoTemplateVersion2 .mejs-container .mediaElementVideoContainer .share-button:before { color: #fff; color: #~arg_theme_color~}
div.videoTemplateVersion2 .mejs-container .mejs-overlay.mejs-overlay-play .mejs-overlay-button { color: #FFF; color: #~arg_theme_color~; }
div.videoTemplateVersion2 .mejs-container .share-button:before {color: #fff; color: #~arg_theme_color~;}
div.videoTemplateVersion2 .mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {background: #~arg_theme_color~;}