//  Cincopa jPlayer skin
@import "init/init";



@import "layouts/ynd";
@import "colors/separated";  
@import "icons/iconfont02";  

@import "layouts/standard-mobile";




// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------

	position: fixed; bottom: 0; left: 0; width: 100%; overflow: visible; z-index: 500;
	.jp-audio,
	.jp-type-playlist { overflow: visible; }
	.jp-interface { max-width: 1200px; margin: 0 auto; }

	.slider-volume > .track,
	.slider-volume > .highlight-track { height: 100% !important; }

	.jp-playlist { text-align: left; position: absolute; bottom: -2000px; top: auto; bottom: -100vh; opacity: 0; height:0; width: 100%; transition: .5s ease all; }
	.jp-playlist ul { max-width: 1200px; margin: 0 auto; height: auto; padding-bottom: 20px; }
	&:hover .jp-playlist { opacity: 1; height: auto; max-height: 300%; max-height: 50vh; bottom: 100%; }



	.jp-controls li { border: none !important; }
	.jp-controls .jpli-currentinfo {
		display: inline-block !important; padding: 5px; background: none !important; box-shadow: none !important; height: auto !important;
		* { display: block; font-size: 1.4em; color: $arg_text_color; font-style: normal; text-shadow: 1px 1px 0 $arg_bg_color; line-height: 1em; }
		i { opacity: .7; font-size: .9em; }
	}
	
	.jp-controls .jpli-play > a > i,
	.jp-controls .jpli-pause > a > i { font-size: 34px; }




	//searchbox
	.cp-upper-panel { z-index: 5; position: relative; display: none; }
	&:hover .cp-upper-panel { display: block; }
	.cp-upper-panel + div .jp-playlist { margin-bottom: 28px; z-index: 4; }
	

//-------------------------------------------------------------------------
} // gallery container