//  Cincopa jPlayer skin
@import "init/init";


@import "layouts/simplepls";
@import "colors/simplepls";  

//@import "layouts/standard-mobile";


@import "layouts/addon-searchpanel-2016";



// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------



.jp-controls li.jpli-volume-max { display: none !important; }
.jp-playlist {
	display: block !important;
	li {
		a:before {
			content:'@'; margin-right: 15px;
			font-family: "jplayer-default" !important; font-size: 26px; color: $arg_theme_color; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: inherit; display: inline-block; vertical-align: middle; line-height: 1;
		}
	}
}
&.status-play .jp-playlist li.jp-playlist-current a:before { content: '#'; }



//-------------------------------------------------------------------------
} // gallery container





@import "icons/jplayer-default"; // all skins, tiny, aluminium