//  Cincopa jPlayer skin
@import "init/init";




@import "layouts/ynd";
@import "colors/simple";  
@import "icons/iconfont01";  

@import "layouts/standard-mobile";




// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------


	
	.jp-controls li { border: none !important; }
	.jp-controls .jpli-currentinfo {
		display: inline-block !important; padding: 5px; background: none !important; box-shadow: none !important; height: auto !important;
		* { display: block; font-size: 1.4em; color: $arg_text_color; font-style: normal; text-shadow: 1px 1px 0 $arg_bg_color; line-height: 1em; }
		i { opacity: .7; font-size: .9em; }
	}
	
	.jp-controls .jpli-play > a > i,
	.jp-controls .jpli-pause > a > i { font-size: 34px; }


//-------------------------------------------------------------------------
} // gallery container