// List of templates
$branded: false;
$branded2: false;
$tiny: false;
$tiny2: false;
$mixcloud: false;
$albumskin: false;
$flatter: false;
$flatter2: false;
$spotify: false;
$separate: false;
$aluminium: false;
$dark_bg: false;
$bright_bg: false;
$responsiveplayer: false;
$responsiveplaylist: false;
$ocean: false;
$album: false;
$wiki: false;

// Active template to compile:
$branded: true;



//  Cincopa jPlayer skin
/*@version1.1@version */
// -----------------------------------------
// Color palettes
// -----------------------------------------
// @import "init/init-noarg-new2016";

// @import "init/init-palette-01"; // rounded, tiny, separate, aluminium
// @import "init/init-palette-04"; // flatter, tiny2, responsiveplayer, responsiveplaylist
// @import "init/init-palette-spotify"; // spotify
// @import "init/init-palette-branded"; // branded, branded2
// @import "init/init-palette-ocean";
// @import "init/init-palette-all";  // to test only
// @import "init/init-palette-album";  // Album skin groups
// @import "init/init-palette-darkbg"; // dark_bg, dark_bg
// @import "init/init-palette-wiki";  // to test only
@if
	$rounded or $tiny or $separate or $aluminium
	{ @import "init/init-palette-01"; }
// @if
// 	$flatter or $tiny2 or $responsiveplayer or $responsiveplaylist
// 	{ @import "init/init-palette-04"; }
// @if
// 	$spotify
// 	{ @import "init-palette-spotify"; }
// @if
// 	$branded or $branded2
// 	{ @import "init/init-palette-branded"; }
// @if
// 	$ocean
// 	{ @import "init/init-palette-ocean"; }
// @if
// 	$album
// 	{ @import "init/init-palette-album"; }
// @if
// 	$dark_bg or $dark_bg
// 	{ @import "init/init-palette-darkbg"; }
// @if
// 	$wiki
// 	{ @import "init/init-palette-wiki"; }





// Player layouts
// -----------------------------------------
// @import "layouts/2016-newlayout"; // flatter, rounded, separated, aluminium
// @import "layouts/2016-newlayout-time"; // dark_bg, bright_bg, flatter-new
// @import "layouts/2016-expanded"; // responsivplaylist
// @import "layouts/2016-newlayout-neartitle"; // responsiveplayer, branded, branded2, mixcloud
// @import "layouts/2016-newlayout-tiny"; // tiny
// @import "layouts/2016-newlayout-tiny2"; // tiny2
// @import "layouts/2016-ocean";
// @import "layouts/2016-newlayout-albumskin"; // album skin
@import "layouts/2017-wiki"; // dark_bg, bright_bg, flatter-new



// Player layouts
// -----------------------------------------



// Playlist styles
// -----------------------------------------
// TURN OFF FOR: simple-pls, ocean
@import "layouts/2016-pls-default"; // default
// // // // @import "layouts/2016-pls-tiny"; // seems same as default for now
// @import "layouts/2016-pls-horizontal"; // horizontall scroll (albumskin???) depricated?
// @import "layouts/2016-pls-albumskin"; // albumskin



// Album list styles
// -----------------------------------------
// @import "layouts/2016-album-default"; // + colors


// Color sets
// -----------------------------------------
// @import "colors/new-separated"; // separated
// @import "colors/new-dark_bg"; // darkbg
// @import "colors/new-bright_bg"; // bright_bg
// @import "colors/new-bright_bg-rounded"; // bright_bg
// @import "colors/new-spotify"; // spotify
// @import "colors/new-aluminium"; // tiny, aluminium
// @import "colors/new-aluminium2"; // responsiveplayer, 
// @import "colors/new-aluminium-simple"; // tiny2, 
// depricated ??? // @import "colors/new-roundbuttons"; // roundbuttons
// @import "colors/new-flatter"; // flatter, 
// @import "colors/new-flatter-new"; // flatternew,
// @import "colors/new-flatter-expanded"; // responsivplaylist
// @import "colors/new-branded"; // branded
// @import "colors/new-branded2"; // branded2
// @import "colors/new-branded3"; // branded3
// @import "colors/new-ocean";
// @import "colors/new-aluminium-rounded"; // rounded
// @import "colors/new-mixcloud"; // mixcloud
// @import "colors/new-albumskin"; // albumskin,
@import "colors/new-wiki"; // flatternew,



// Fixed bottom player
// @import "layouts/addon-fixedbottom-2016";



@import "layouts/2016-newlayout-mobile"; 
// @import "layouts/2016-newlayout-extended-mobile"; 



// Branding
@import "layouts/addon-branding-2016";


// Search panel
// @import "layouts/addon-searchpanel-2016";
@import "layouts/addon-searchpanel-2016-2";





// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------



.jp-controls {
	li.jpli-repeat,
	li.jpli-mute, .jpli-unmute { display: none !important; }
}

&.btn_mute .jp-controls {
	li.jpli-mute, li.jpli-unmute {
		display: table-cell !important;
		&.cp-hide { display: none !important; }
	}
}
&.btn_repeat {
	li.jpli-repeat { display: table-cell !important; }
}
&.btn_playlist {
	li.jpli-playlistbtn { display: table-cell !important; }
}
&.btn_stop {
	li.jpli-stop { display: table-cell !important; }
}
&.btn_chromecast {
	.chromecastExist li.jpli-chromecast { display: table-cell !important; }
}

.jp-controls li.jpli-volume-max { display: none !important; }



// Tiny player dragger, disable for others
// .jp-slider-progress,
// .jp-slider-volume-bar {
// 	.slider-volume > .dragger { @include aluminiumTipSm(); &:after { display: none; } }
// }
// ------------------------




//-------------------------------------------------------------------------
} // gallery container





// @import "icons/jplayer-default"; // all skins, tiny, aluminium, bright_bg
// --  default font should be in skin files already
// @import "icons/iconfont01"; //
// @import "icons/iconfont02a"; // some old broken icons
// @import "icons/iconfont03"; // (line icons)
// @import "icons/iconfont05"; // responsiveplayer, rounded, responsiveplaylist
// @import "icons/jplayer-bandportal"; // separated, mixcloud, dark_bg
// @import "icons/jplayer-flatter"; // flatter
// @import "icons/jplayer-branded"; // branded, branded2, branded3, tiny2
@import "icons/jplayer-album"; // albumskin

