//  Cincopa jPlayer skin
@import "init/init-palette-02";
@import "init/init-noarg";



@import "layouts/bottom-onpage";
@import "colors/bottom-onpage";  
@import "icons/iconfont05";  

@import "layouts/standard-mobile";
 

#contentWrapper { -webkit-transform: none !important; }

// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------

	.jp-audio,
	.jp-type-playlist {  }
	.jp-interface {  }

	.slider-volume > .track,
	.slider-volume > .highlight-track { height: 100% !important; }

	.jp-playlist { text-align: left; }
	.jp-playlist ul { max-width: 1200px; margin: 0 auto; height: auto; padding-bottom: 20px; }


	.jp-controls li { border: none !important; }
	



	//searchbox
	.cp-upper-panel { z-index: 5; position: relative; display: none; }
	&:hover .cp-upper-panel { display: block; }
	.cp-upper-panel + div .jp-playlist { margin-bottom: 28px; z-index: 4; }
	

//-------------------------------------------------------------------------
} // gallery container