/*@createarg[
{'group':'branded','groupName':'Player logo','name':'watermark','type':'text','title':'Logo URL','default':'',desc:'Location of an external jpg, png or gif image to show in a corner of the display.'},
{'group':'branded','groupName':'Player logo','name':'watermark_link','type':'text','title':'Logo click URL','default':'',desc:'Open URL on  logo click.'},
{'group':'design','name':'theme_color2','type':'color','title':'Theme color 2','default':'#98a4b3',desc:'Customize Theme color 2 for your gallery'},

{'group':'design','name':'player_colors','type':'pallet','title':'Pallet',desc:'Select pre-defined color pallet',
values :{ 	"Default Blue" : { short_name : "default_blue", set : {
		theme_color: "#00a6ff",
		text_color : "#353535",
		bg_color : "#ffffff",
		theme_color2: "#00a6ff",
	}}, 	"Sweet Lavender" : { short_name : "sweet_lavender", set : {
		theme_color: "#620096",
		text_color : "#7a007a",
		bg_color : "#ffb8e9",
		theme_color2: "#c66bff",
	}}, 	"Many Oranges" : { short_name : "many_oranges", set : {
		theme_color: "#fff200",
		text_color : "#703114",
		bg_color : "#ffaa00",
		theme_color2: "#f2811d",
	}}, 	"Dark Glow" : { short_name : "dark_glow", set : {
		theme_color: "#ff8400",
		text_color : "#ffffff",
		bg_color : "#003a47",
		theme_color2: "#410069",
	}}, 	"Green Field" : { short_name : "green_field", set : {
		theme_color: "#f2ff3d",
		text_color : "#3c4f0e",
		bg_color : "#96db00",
		theme_color2: "#6fd178",
	}}, 	"Vintage Paint" : { short_name : "vintage_paint", set : {
		theme_color: "#9e0a3a",
		text_color : "#5d5553",
		bg_color : "#fff9d7",
		theme_color2: "#5fa1dd",
	}}, 	"Red Flame" : { short_name : "red_flame", set : {
		theme_color: "#8a173e",
		text_color : "#fffccc",
		bg_color : "#ff002b",
		theme_color2: "#ff5500",
	}}, 	"Gray Aluminium" : { short_name : "grayaluminium", set : {
		theme_color: "#a8b6bd",
		text_color : "#566069",
		bg_color : "#dde5eb",
		theme_color2: "#98a4b3",
	}}, 	"White Snowstorm" : { short_name : "whitesnowstorm", set : {
		theme_color: "#b3bcc2",
		text_color : "#1b1d1f",
		bg_color : "#ffffff",
		theme_color2: "#ebedf0",
	}}, 	"Deep Black" : { short_name : "whitesnowstorm", set : {
		theme_color: "#ffbf00",
		text_color : "#ffffff",
		bg_color : "#242424",
		theme_color2: "#000000",
	}},
}},
]@createarg */
div#gallery_div .jp-controls .jpli-playlistbtn, div#gallery_div .jp-controls .jpli-repeat, div#gallery_div .jp-controls .jpli-stop, div#gallery_div .jp-controls .jpli-mute, div#gallery_div .jp-controls .jpli-unmute, div#gallery_div .jp-controls .jpli-volume-max { display: none !important; }

div#gallery_div { font-size: 13px; width: 100% !important; text-align: left; }
div#gallery_div * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
div#gallery_div ul { list-style: none; padding: 0; margin: 0; display: block; width: 100%; height: 100%; }
div#gallery_div .jp-stop, div#gallery_div .jp-mute, div#gallery_div .jp-unmute, div#gallery_div .jp-volume-max { display: none !important; }
div#gallery_div .jp-type-playlist { height: 100%; overflow: hidden; width: 100%; position: relative; margin: 0 auto; }
div#gallery_div .jp-type-playlist .jp-interface, div#gallery_div .jp-type-playlist .cp-upper-panel { position: relative; width: 100%; z-index: 5; height: 40px; overflow: hidden; border-radius: 40px; }
div#gallery_div .jp-controls { display: block; height: 100%; position: absolute; left: 0; width: 20%; top: 0; }
div#gallery_div .jp-controls li { display: block; float: left; background: transparent; height: 100%; padding: 0px; margin: 0; width: 20%; position: relative; overflow: hidden; }
div#gallery_div .jp-controls li.jpli-pause { margin-left: -35%; }
div#gallery_div .jp-controls li.jpli-pause, div#gallery_div .jp-controls li.jpli-play { width: 35% !important; }
div#gallery_div .jp-controls li > a { z-index: 10; position: relative; }
div#gallery_div .jp-controls li > a > i { font-size: 13px; }
div#gallery_div .jp-controls li.jpli-pause > a > i, div#gallery_div .jp-controls li.jpli-play > a > i { font-size: 28px; margin-top: -2px; }
div#gallery_div .jp-volume-bar { width: 13%; display: block; height: 100%; margin: 0; position: absolute; left: 85%; }
div#gallery_div .jp-volume-bar-value { display: block; height: 100%; float: left; }
div#gallery_div .jp-progress { height: 11px; width: 40%; display: block; margin: 0; position: absolute; left: 41.5%; top: 50%; margin-top: -5px; }
div#gallery_div .jp-slider-progress { height: 11px; width: 60%; display: block; margin: 0; position: absolute; left: 22%; bottom: 9px; z-index: auto; }
div#gallery_div .jp-progress, div#gallery_div .slider-volume > .track, div#gallery_div .slider-volume > .highlight-track { overflow: hidden; }
div#gallery_div .jp-play-bar { height: 100%; display: block; position: absolute; left: 0; }
div#gallery_div .jp-seek-bar { width: 100%; }
div#gallery_div .jp-controls .jp-shuffle, div#gallery_div .jp-controls .jp-play, div#gallery_div .jp-controls .jp-pause, div#gallery_div .jp-controls .jp-next, div#gallery_div .jp-controls .jp-previous { display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; }
div#gallery_div .jp-controls .jpli-currentinfo { display: block !important; width: 295% !important; position: absolute; top: 3px !important; border: none; left: 100%; color: #cbacba !important; background: transparent !important; height: 1em; overflow: hidden; font-size: 11px; margin-left: 10%; white-space: nowrap; pointer-events: none; padding: 0 35px; overflow: hidden; text-overflow: ellipsis; text-align: center; }
div#gallery_div .jp-controls .jpli-currentinfo b { font-weight: normal; }
div#gallery_div .jp-controls .jpli-currentinfo i { opacity: .5; }
@media screen and (max-width: 750px) { div#gallery_div .jp-controls .jpli-currentinfo { width: 180% !important; } }
div#gallery_div .jp-controls .jpli-currentinfo .mobileLayout { width: 180% !important; }
div#gallery_div .jp-current-time, div#gallery_div .jp-duration { font-size: 10px; font-weight: bold; z-index: 5; position: absolute; pointer-events: none; top: 5px; margin: 0; line-height: 1em; height: 1em; }
div#gallery_div .jp-current-time { padding-left: 2px; right: 75.5%; }
div#gallery_div .jp-duration { padding-right: 2px; left: 78.5%; }
div#gallery_div .jp-playlist { position: relative; top: 0; height: 100%; margin: 0 18px; box-sizing: border-box; overflow-y: auto; height: calc(100% - 40px); height: 158795; text-align: left; }
div#gallery_div .jp-playlist ul { list-style: none; padding: 0; margin: 0; display: block; width: 100%; height: auto; }
div#gallery_div .jp-playlist li { overflow: hidden; display: block; margin: 0; padding: 0; }
div#gallery_div .jp-playlist li a { line-height: 1.2em; display: block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; position: relative; padding: .3em .5em; }
div#gallery_div .jp-playlist .audioItem_title, div#gallery_div .jp-playlist .audioItem_desc { font-size: 1em !important; line-height: inherit; }
div#gallery_div .jp-playlist .audioItem_desc { opacity: .6; }
div#gallery_div .slider-volume { margin-left: 0 !important; }
div#gallery_div .jp-slider-volume-bar { width: 10%; display: block; height: 100%; margin: 0; position: absolute; left: 88%; top: 50%; margin-top: -5px; height: 11px; }
div#gallery_div .slider-volume { top: 50%; margin-top: -7px; height: 18px; }
div#gallery_div .slider-volume > .dragger { width: 16px; height: 16px; border: 1px solid rgba(255, 255, 255, 0.6); -moz-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.5), 0 2px 5px 2px rgba(0, 0, 0, 0.2), 0 0 10px 2px #fabfab, inset 0 0 5px #fabfab; -webkit-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.5), 0 2px 5px 2px rgba(0, 0, 0, 0.2), 0 0 10px 2px #fabfab, inset 0 0 5px #fabfab; box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.5), 0 2px 5px 2px rgba(0, 0, 0, 0.2), 0 0 10px 2px #fabfab, inset 0 0 5px #fabfab; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; background: #c5c5c5; background: -moz-linear-gradient(90deg, #b4b4b4 20%, #e6e6e6 50%, #b4b4b4 80%); background: -webkit-radial-gradient(50% 0%, 12% 50%, white 0%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient(50% 100%, 12% 50%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient(50% 50%, 200% 50%, #e6e6e6 5%, #d9d9d9 30%, #999999 100%); z-index: 6; }
div#gallery_div .slider-volume > .dragger:after { content: ''; display: block; width: 10px; height: 10px; background: rgba(90, 90, 90, 0.1); position: absolute; top: 50%; left: 50%; margin-top: -5px; margin-left: -5px; border-radius: 5px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.11), 1px 1px 0 white; }
div#gallery_div .slider-volume > .track, div#gallery_div .slider-volume > .highlight-track { height: 11px; }
div#gallery_div .jp-slider-volume-bar .track, div#gallery_div .jp-slider-volume-bar .highlight-track { margin-top: -7px !important; }
div#gallery_div .shufflevisible .jp-controls li { width: 20.2%; }
div#gallery_div .shufflevisible .jp-controls li.jpli-pause { margin-left: -24.2%; }
div#gallery_div .v2 .jp-controls li.jpli-pause { margin-left: 0; display: none; }
div#gallery_div .playlistThumb:before { content: ''; display: inline-block; height: 100%; vertical-align: middle; }
div#gallery_div .playlistThumb img { max-width: 100%; max-height: 100%; display: inline-block; vertical-align: middle; }
div#gallery_div .branding .jp-slider-volume-bar { padding-right: 30px; }
div#gallery_div .branding .jp-branding { display: block !important; text-align: center; width: 40px; height: 30px; line-height: 20px; position: absolute; top: 50%; margin-top: -15px; right: 5px; z-index: 5; }
div#gallery_div .branding .jp-branding a { display: block; width: 100%; height: 100%; line-height: 20px; }
div#gallery_div .branding .jp-branding a img { max-width: 100%; max-height: 100%; display: inline-block; vertical-align: middle; }
div#gallery_div .branding .jp-branding a:after { content: ''; height: 100%; display: inline-block; vertical-align: middle; }
div#gallery_div .cp-upper-panel { height: auto; padding: 3px; white-space: nowrap; }
div#gallery_div .cp-upper-panel:after { content: ''; display: block; clear: both; }
div#gallery_div .cp-upper-panel a { display: inline-block; vertical-align: middle; color: #000; color: #cbacba; text-decoration: none; line-height: 1em; padding: 4px 5px; border-radius: 3px; }
div#gallery_div .cp-upper-panel a:hover { background: #abcabc; color: #bcabca; }
div#gallery_div .cp-upper-panel .ze_search_cont { float: left; width: 60%; }
div#gallery_div .cp-upper-panel .ze_search_cont .ze_searchBox { border-radius: 3px; color: #cbacba; border: 1px solid #abcabc; outline: none !important; background: #bcabca; opacity: .8em; width: 100%; padding-right: 24px; padding-left: 5px; }
div#gallery_div .cp-upper-panel .ze_search_cont .ze_searchBox:focus { opacity: 1; border-color: #cbacba; }
div#gallery_div .cp-upper-panel .ze_search_cont .ze_search_clear { position: absolute; margin-left: -15px; margin-top: 3px; color: #cbacba; }
div#gallery_div .cp-upper-panel .cp-download-all-link { float: right; text-align: right; }

div#gallery_div * { outline: none; }
div#gallery_div .jp-audio { font-family: 'Arial', sans-sefif; }
div#gallery_div .jp-interface, div#gallery_div .cp-upper-panel { border-radius: 3px; border: 1px solid #fabfab; -moz-box-shadow: 0 1px 3px rgba(13, 25, 32, 0.26), inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 -1px 0 rgba(255, 255, 255, 0.3), inset 0 0 15px rgba(255, 255, 255, 0.6); -webkit-box-shadow: 0 1px 3px rgba(13, 25, 32, 0.26), inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 -1px 0 rgba(255, 255, 255, 0.3), inset 0 0 15px rgba(255, 255, 255, 0.6); box-shadow: 0 1px 3px rgba(13, 25, 32, 0.26), inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 -1px 0 rgba(255, 255, 255, 0.3), inset 0 0 15px rgba(255, 255, 255, 0.6); background: #bcabca; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bcabca), color-stop(100%, #fabfab)); background-image: -webkit-linear-gradient(top, #bcabca, #fabfab); background-image: -moz-linear-gradient(top, #bcabca, #fabfab); background-image: -ms-linear-gradient(top, #bcabca, #fabfab); background-image: -o-linear-gradient(top, #bcabca, #fabfab); background-image: linear-gradient(to bottom, #bcabca 0%, #fabfab 100%); }
div#gallery_div a { text-decoration: none; }
div#gallery_div .jp-controls li { border-left: 1px solid rgba(255, 255, 255, 0.28); border-right: 1px solid rgba(0, 0, 0, 0.31); }
div#gallery_div .jp-controls li > a > i { color: #cbacba; text-shadow: 0px 1px #bcabca; }
div#gallery_div .jp-controls li:hover { background-color: #abcabc; color: #bcabca; border-color: #bcabca; }
div#gallery_div .jp-controls li:hover > a > i { color: #bcabca; }
div#gallery_div .jp-controls li.on, div#gallery_div .jp-controls li:active { background-color: #abcabc; box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5); border-color: #bcabca; }
div#gallery_div .jp-controls li.on > a > i, div#gallery_div .jp-controls li:active > a > i { color: #bcabca; }
div#gallery_div .jp-volume-bar { background: url("~skin_path~images/bottombar-volumeBack.jpg") repeat-x left center; }
div#gallery_div .jp-volume-bar-value { background: url("~skin_path~images/bottombar-volume.jpg") repeat-x left center; }
div#gallery_div .jp-progress, div#gallery_div .slider-volume > .track, div#gallery_div .slider-volume > .highlight-track { background-color: #abcabc; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fabfab), color-stop(100%, #bcabca)); background-image: -webkit-linear-gradient(top, #fabfab, #bcabca); background-image: -moz-linear-gradient(top, #fabfab, #bcabca); background-image: -ms-linear-gradient(top, #fabfab, #bcabca); background-image: -o-linear-gradient(top, #fabfab, #bcabca); background-image: linear-gradient(to bottom, #fabfab 0%, #bcabca 100%); border-radius: 5px; box-shadow: 0 0 2px rgba(0, 0, 0, 0.4); }
div#gallery_div .jp-play-bar { background-color: #1B89FF; box-shadow: inset 0 3px 3px #00C2FF, inset 0 -3px 3px #57C9FF, 0 0 3px #000; background: #006ccf; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fabfab), color-stop(100%, #bcabca)); background-image: -webkit-linear-gradient(top, #fabfab, #bcabca); background-image: -moz-linear-gradient(top, #fabfab, #bcabca); background-image: -ms-linear-gradient(top, #fabfab, #bcabca); background-image: -o-linear-gradient(top, #fabfab, #bcabca); background-image: linear-gradient(to bottom, #fabfab 0%, #bcabca 100%); }
div#gallery_div .jp-current-time, div#gallery_div .jp-duration { color: #cbacba; opacity: .7; }
div#gallery_div .jp-current-time { padding-left: 2px; /*border-left: 1px solid rgba(0,0,0,1/10);*/ }
div#gallery_div .jp-duration { padding-right: 2px; /*border-right: 1px solid rgba(0,0,0,1/10);*/ }
div#gallery_div .jp-playlist ul { background-color: #bcabca; }
div#gallery_div .jp-playlist li a { color: #cbacba; border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
div#gallery_div .jp-playlist li a:hover { background-color: #fabfab; }
div#gallery_div .jp-playlist li.jp-playlist-current a { background-color: #abcabc; color: #bcabca; -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1); -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1); box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1); }
div#gallery_div .jp-playlist .audioItem_desc { opacity: .5; }
div#gallery_div .slider-volume > .track, div#gallery_div .slider-volume > .highlight-track { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
div#gallery_div .slider-volume > .highlight-track { background-color: #c5c5c5; background: -webkit-linear-gradient(#c5c5c5, #a2a2a2); background: -o-linear-gradient(#c5c5c5, #a2a2a2); background: linear-gradient(#c5c5c5, #a2a2a2); }
div#gallery_div ::-webkit-scrollbar { width: 8px; }
div#gallery_div ::-webkit-scrollbar-track { background: #bcabca; -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }
div#gallery_div ::-webkit-scrollbar-thumb { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; background: #abcabc; -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5); }
div#gallery_div ::-webkit-scrollbar-thumb:window-inactive { background: #abcabc; opacity: .5; }

div#gallery_div .jp-controls a { font-size: 0; color: transparent; line-height: 0; }
div#gallery_div .jp-controls [class^="jp-"] > i { display: block; max-width: 100%; max-height: 100%; text-align: center; white-space: nowrap; }
div#gallery_div .jp-controls [class^="jp-"] > i:before, div#gallery_div .jp-controls [class*=" jp-"] > i:before { font-family: "cincojplayer02", 'jplayer-default' !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: inherit; display: inline-block; vertical-align: middle; line-height: 1em; margin-bottom: -.3em; }
div#gallery_div .jp-controls [class^="jp-"] > i:after, div#gallery_div .jp-controls [class*=" jp-"] > i:after { display: inline-block; vertical-align: middle; content: ''; height: 100%; }
div#gallery_div .jp-pause > i:before { content: "b"; }
div#gallery_div .jp-play > i:before { content: "c"; }
div#gallery_div .jp-previous > i:before { content: "e"; }
div#gallery_div .shufflevisible .jp-shuffle > i:before { content: "d"; }
div#gallery_div .jp-next > i:before { content: "a"; }

@font-face { font-family: "cincojplayer02"; src: url("~skin_path~fonts/2/cincojplayer02.eot"); src: url("~skin_path~fonts/2/cincojplayer02.eot?#iefix") format("embedded-opentype"), url("~skin_path~fonts/2/cincojplayer02.woff") format("woff"), url("~skin_path~fonts/2/cincojplayer02.ttf") format("truetype"), url("~skin_path~fonts/2/cincojplayer02.svg#cincojplayer02") format("svg"); font-weight: normal; font-style: normal; }
div#gallery_div .mobileLayout .jp-controls { width: 34%; }
div#gallery_div .mobileLayout .jp-slider-volume-bar { display: none; }
div#gallery_div .mobileLayout .jp-current-time { left: 33%; right: auto; padding: 0 0 0 2px; top: .8em; }
div#gallery_div .mobileLayout .jp-duration { right: 0; left: auto; padding: 0 2px 0 0; top: .8em; }
div#gallery_div .mobileLayout .jp-progress, div#gallery_div .mobileLayout .jp-slider-progress { left: 37.5%; width: 60%; margin-top: -2px; z-index: 10; }
div#gallery_div .mobileLayout .branding .jp-slider-progress { padding-right: 40px; }
div#gallery_div .mobileLayout .branding .jp-duration { padding-right: 45px; }
@media screen and (max-width: 750px) { div#gallery_div .jp-controls { width: 34%; }
  div#gallery_div .jp-slider-volume-bar { display: none; }
  div#gallery_div .jp-current-time { left: 33%; right: auto; padding: 0 0 0 2px; top: .8em; }
  div#gallery_div .jp-duration { right: 0; left: auto; padding: 0 2px 0 0; top: .8em; }
  div#gallery_div .jp-progress, div#gallery_div .jp-slider-progress { left: 37.5%; width: 60%; margin-top: -2px; z-index: 10; }
  div#gallery_div .branding .jp-slider-progress { padding-right: 40px; }
  div#gallery_div .branding .jp-duration { padding-right: 45px; } }

div#gallery_div { position: fixed; bottom: 0; left: 0; width: 100%; overflow: visible; z-index: 500; }
div#gallery_div .jp-audio, div#gallery_div .jp-type-playlist { overflow: visible; margin: 0 auto; }
div#gallery_div .jp-interface, div#gallery_div .cp-upper-panel { max-width: 1200px; margin: 0 auto; }
div#gallery_div .jp-playlist { text-align: left; position: absolute; bottom: -2000px; top: auto; bottom: -100vh; opacity: 0; height: 0; width: 100%; margin: 0 auto; transition: .5s ease all; }
div#gallery_div .jp-playlist ul { max-width: 1150px; margin: 0 auto; height: auto; width: 93%; }
div#gallery_div:hover .jp-playlist { opacity: 1; height: auto; max-height: 300%; max-height: 50vh; bottom: 100%; }
div#gallery_div .cp-upper-panel { z-index: 5; position: relative; }
div#gallery_div .cp-upper-panel + div .jp-playlist { margin-bottom: 28px; z-index: 4; }
