//  Cincopa jPlayer skin
@import "init/init";


@import "layouts/bigger";
@import "colors/flat02";  
@import "icons/iconfont03";  

@import "layouts/standard-mobile";




// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------

.slider-volume > .dragger { width: 12px; height: 24px; margin-top: -13px !important; }
.slider-volume > .dragger:after { width: 40%; height: 74%; top: 15%; left: 3px; background: $arg_bg_color; margin-top: 0; margin-left: 0 !important; border-radius: 50px; }
	

//-------------------------------------------------------------------------
} // gallery container