//  Cincopa jPlayer skin
@import "init/init";


@import "layouts/standard";
@import "colors/flat01";  
@import "icons/iconfont03";  

@import "layouts/standard-mobile";




// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------

.slider-volume > .dragger { width: 12px; height: 24px; margin-top: -13px !important; }
	

//-------------------------------------------------------------------------
} // gallery container