//  Cincopa jPlayer skin
@import "init/init";


@import "layouts/oldest";
@import "colors/flat01";  
@import "icons/iconfont02";  

// @import "layouts/standard-mobile";




// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------


.jp-type-playlist { border: 2px solid $arg_theme_color; border-radius: 13px; overflow: hidden; }

.jp-interface { border: none !important; }

.jp-controls li:hover a i { color: $arg_theme_color !important; }


.slider-volume > .dragger { @include aluminiumTip(); width: 12px; height: 24px; margin-top: -13px !important; }
.slider-volume > .dragger:after { width: 40%; height: 74%; top: 15%; left: 3px; background: $arg_bg_color; margin-top: 0; margin-left: 0 !important; border-radius: 50px; }

	

//-------------------------------------------------------------------------
} // gallery container