/*@createarg[
{'group':'branded','groupName':'Player logo','name':'watermark','type':'text','title':'Logo URL','default':'',desc:'Location of an external jpg, png or gif image to show in a corner of the display.'},
{'group':'branded','groupName':'Player logo','name':'watermark_link','type':'text','title':'Logo click URL','default':'',desc:'Open URL on  logo click.'},
{'group':'design','name':'theme_color2','type':'color','title':'Theme color 2','default':'#98a4b3',desc:'Customize Theme color 2 for your gallery'},

{'group':'design','name':'player_colors','type':'pallet','title':'Pallet',desc:'Select pre-defined color pallet',
values :{ 	"Default Blue" : { short_name : "default_blue", set : {
		theme_color: "#00a6ff",
		text_color : "#353535",
		bg_color : "#ffffff",
		theme_color2: "#00a6ff",
	}}, 	"Sweet Lavender" : { short_name : "sweet_lavender", set : {
		theme_color: "#620096",
		text_color : "#7a007a",
		bg_color : "#ffb8e9",
		theme_color2: "#c66bff",
	}}, 	"Many Oranges" : { short_name : "many_oranges", set : {
		theme_color: "#fff200",
		text_color : "#703114",
		bg_color : "#ffaa00",
		theme_color2: "#f2811d",
	}}, 	"Dark Glow" : { short_name : "dark_glow", set : {
		theme_color: "#ff8400",
		text_color : "#ffffff",
		bg_color : "#003a47",
		theme_color2: "#410069",
	}}, 	"Green Field" : { short_name : "green_field", set : {
		theme_color: "#f2ff3d",
		text_color : "#3c4f0e",
		bg_color : "#96db00",
		theme_color2: "#6fd178",
	}}, 	"Vintage Paint" : { short_name : "vintage_paint", set : {
		theme_color: "#9e0a3a",
		text_color : "#5d5553",
		bg_color : "#fff9d7",
		theme_color2: "#5fa1dd",
	}}, 	"Red Flame" : { short_name : "red_flame", set : {
		theme_color: "#8a173e",
		text_color : "#fffccc",
		bg_color : "#ff002b",
		theme_color2: "#ff5500",
	}}, 	"Gray Aluminium" : { short_name : "grayaluminium", set : {
		theme_color: "#a8b6bd",
		text_color : "#566069",
		bg_color : "#dde5eb",
		theme_color2: "#98a4b3",
	}}, 	"White Snowstorm" : { short_name : "whitesnowstorm", set : {
		theme_color: "#b3bcc2",
		text_color : "#1b1d1f",
		bg_color : "#ffffff",
		theme_color2: "#ebedf0",
	}}, 	"Deep Black" : { short_name : "whitesnowstorm", set : {
		theme_color: "#ffbf00",
		text_color : "#ffffff",
		bg_color : "#242424",
		theme_color2: "#000000",
	}},
}},
]@createarg */
div#gallery_div .jp-controls .jpli-playlistbtn, div#gallery_div .jp-controls .jpli-repeat, div#gallery_div .jp-controls .jpli-stop, div#gallery_div .jp-controls .jpli-mute, div#gallery_div .jp-controls .jpli-unmute, div#gallery_div .jp-controls .jpli-volume-max { display: none !important; }

div#gallery_div { height: auto; /**/ /**/ /*  volume control */ /**/ /**/ /*playlist  thumb styles */ }
div#gallery_div div { height: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
div#gallery_div .ze-upper-panel { height: 20px; }
div#gallery_div .jp-playlist { height: 158795; box-sizing: border-box; }
div#gallery_div div.jp-audio { font-family: Verdana, Arial, sans-serif; line-height: 1.6; position: relative; width: 100%; height: 100%; }
div#gallery_div div.jp-interface { position: relative; width: 100%; height: 80px; /*border:2px solid;*/ padding-left: 164px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-right: 15%; }
div#gallery_div div.jp-interface ul.jp-controls { display: block; list-style-type: none; padding: 0; margin: 0; width: 100%; position: absolute; left: 0; z-index: 10; }
div#gallery_div div.jp-interface ul.jp-controls li { display: block; margin: 0px; padding: 0px; }
div#gallery_div div.jp-interface ul.jp-controls a { display: block; position: absolute; overflow: hidden; font-size: 0; color: transparent; }
div#gallery_div a.jp-play, div#gallery_div a.jp-pause { top: 20px; width: 40px; height: 40px; left: 50px; }
div#gallery_div .jp-controls [class^="jp-"] > i { font-size: 24px; }
div#gallery_div .jp-controls [class^="jp-"] > i { font-size: 20px; }
div#gallery_div a.jp-pause i:before, div#gallery_div a.jp-play i:before { font-size: 36px; }
div#gallery_div a.jp-stop { top: 26px; width: 28px; height: 28px; left: 126px; }
div#gallery_div a.jp-previous { left: 20px; top: 26px; width: 28px; height: 28px; }
div#gallery_div a.jp-next { left: 88px; top: 26px; width: 28px; height: 28px; }
div#gallery_div div.jp-seek-bar { width: 0px; height: 15px; cursor: pointer; }
div#gallery_div div.jp-play-bar { background: url("~skin_path~images/rounded-trans.png") 0 -100px repeat-x; width: 0px; height: 15px; }
div#gallery_div a.jp-mute, div#gallery_div a.jp-unmute { width: 18px; height: 15px; left: 88%; right: auto; margin-top: 10px; t1op: 50%; }
div#gallery_div a.jp-mute { background: url("~skin_path~images/rounded-trans.png") 0 -300px no-repeat; }
div#gallery_div a.jp-unmute { background: url("~skin_path~images/rounded-trans.png") -18px -300px no-repeat; }
div#gallery_div a.jp-volume-max { t1op: 50%; background: url("~skin_path~images/rounded-trans.png") 0 -325px no-repeat; width: 18px; height: 15px; right: 2%; margin-top: 10px; }
div#gallery_div div.jp-progress { position: relative; overflow: hidden; top: 32px; background-color: #bcabca; width: auto; height: 15px; /*border: 1px solid #666;*/ left: 0; }
div#gallery_div div.jp-current-time, div#gallery_div div.jp-duration { position: absolute; top: 49px; width: 50%; font-size: 10px; font-style: oblique; left: 164px; }
div#gallery_div div.jp-duration { text-align: right; }
div#gallery_div div.jp-playlist { position: relative; top: 0; overflow: auto; overflow-x: hidden; overflow-y: auto; margin: 0; padding: 0; /*border:2px solid;*/ border-top: none; width: 100%; font-size: 12px; }
div#gallery_div div.jp-playlist ul { list-style-type: none; margin: 0; padding: 0; }
div#gallery_div div.jp-type-playlist div.jp-playlist li { /*border-bottom:1px solid;*/ margin: 0px; display: block; overflow: hidden; }
div#gallery_div div.jp-type-playlist div.jp-playlist li.jplayer_playlist_item_last { padding: 6px 0 9px 20px; border-bottom: none; }
div#gallery_div div.jp-type-playlist div.jp-playlist li.jp-playlist-current { list-style-type: none; font-weight: bold; }
div#gallery_div div.jp-type-playlist div.jp-playlist a { padding: 5px; text-decoration: none; display: block; }
div#gallery_div .jp-slider-volume-bar { width: 9%; display: block; height: 25px; margin: 0; position: absolute; right: 3%; top: 50%; margin-top: -12px; }
div#gallery_div .slider-volume { width: 100%; margin: 0 !important; }
@media screen and (max-width: 1920px) { div#gallery_div div.jp-current-time, div#gallery_div div.jp-duration { width: 68%; } }
@media screen and (max-width: 940px) { div#gallery_div div.jp-current-time, div#gallery_div div.jp-duration { width: 64%; } }
@media screen and (max-width: 850px) { div#gallery_div div.jp-current-time, div#gallery_div div.jp-duration { width: 62%; } }
@media screen and (max-width: 780px) { div#gallery_div div.jp-current-time, div#gallery_div div.jp-duration { width: 60%; } }
@media screen and (max-width: 720px) { div#gallery_div div.jp-current-time, div#gallery_div div.jp-duration { width: 57%; } }
@media screen and (max-width: 640px) { div#gallery_div div.jp-interface { padding-left: 0; padding-right: 0; }
  div#gallery_div .jp-mute, div#gallery_div .jp-unmute, div#gallery_div .jp-volume-max, div#gallery_div .jp-volume-bar, div#gallery_div .jp-slider-volume-bar { display: none !important; }
  div#gallery_div .jp-slider-progress { margin-top: 8px !important; position: relative; top: 6px; margin: 0 20px; }
  div#gallery_div a.jp-play, div#gallery_div a.jp-pause { top: 5px; }
  div#gallery_div a.jp-stop { top: 10px; }
  div#gallery_div a.jp-previous { top: 10px; }
  div#gallery_div a.jp-next { top: 10px; }
  div#gallery_div div.jp-current-time, div#gallery_div div.jp-duration { top: 60px; width: 88%; left: 6%; height: 15px; }
  div#gallery_div div.jp-progress { top: 47px; width: 88%; left: 6%; } }
div#gallery_div.mobileLayout div.jp-interface { padding-left: 0; padding-right: 0; }
div#gallery_div.mobileLayout .jp-mute, div#gallery_div.mobileLayout .jp-unmute, div#gallery_div.mobileLayout .jp-volume-max, div#gallery_div.mobileLayout .jp-volume-bar, div#gallery_div.mobileLayout .jp-slider-volume-bar { display: none !important; }
div#gallery_div.mobileLayout .jp-slider-progress { margin-top: 8px !important; position: relative; top: 6px; margin: 0 20px; }
div#gallery_div.mobileLayout a.jp-play, div#gallery_div.mobileLayout a.jp-pause { top: 5px; }
div#gallery_div.mobileLayout a.jp-stop { top: 10px; }
div#gallery_div.mobileLayout a.jp-previous { top: 10px; }
div#gallery_div.mobileLayout a.jp-next { top: 10px; }
div#gallery_div.mobileLayout div.jp-current-time, div#gallery_div.mobileLayout div.jp-duration { top: 60px; width: 88%; left: 6%; height: 15px; }
div#gallery_div.mobileLayout div.jp-progress { top: 47px; width: 88%; left: 6%; }
div#gallery_div .shufflevisible .jp-controls .jp-shuffle { background-position: center center; background-repeat: no-repeat; cursor: pointer; width: 24px; height: 14px; outline: none; }
div#gallery_div .shufflevisible .jp-controls .jp-shuffle i:before { font-size: 16px; }
div#gallery_div .shufflevisible .jp-controls .jpli-shuffle { width: 24px; height: 16px; position: absolute; left: 57px; top: 55px; }
div#gallery_div .shufflevisible .jp-controls .jpli-shuffle.on { /*border: 1px solid;*/ box-sizing: border-box; }
@media screen and (max-width: 640px) { div#gallery_div .shufflevisible .jp-controls .jpli-shuffle { left: 163px; top: 17px; } }
div#gallery_div .playlistThumb:before { content: ''; display: inline-block; height: 100%; vertical-align: middle; }
div#gallery_div .playlistThumb img { max-width: 100%; max-height: 100%; display: inline-block; vertical-align: middle; }

div#gallery_div * { outline: none; }
div#gallery_div .jp-audio { font-family: 'Arial', sans-sefif; }
div#gallery_div .jp-interface { border-radius: 0; border: 1px solid #abcabc; -moz-box-shadow: 0 1px 3px rgba(13, 25, 32, 0.26), inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 -1px 0 rgba(255, 255, 255, 0.3); -webkit-box-shadow: 0 1px 3px rgba(13, 25, 32, 0.26), inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 -1px 0 rgba(255, 255, 255, 0.3); box-shadow: 0 1px 3px rgba(13, 25, 32, 0.26), inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 -1px 0 rgba(255, 255, 255, 0.3); background: #bcabca; }
div#gallery_div a { text-decoration: none; }
div#gallery_div .jp-controls li { border-right: 1px dashed #cbacba; }
div#gallery_div .jp-controls li > a > i { color: #cbacba; text-shadow: 0px 1px #bcabca; font-size: 17px; }
div#gallery_div .jp-controls li:hover { background-color: #abcabc; color: #bcabca; border-color: #bcabca; }
div#gallery_div .jp-controls li:hover > a > i { color: #bcabca; }
div#gallery_div .jp-controls li.on, div#gallery_div .jp-controls li:active { background-color: #abcabc; box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5); border-color: #bcabca; }
div#gallery_div .jp-controls li.on > a > i, div#gallery_div .jp-controls li:active > a > i { color: #bcabca; }
div#gallery_div .jp-volume-bar { background: url("~skin_path~images/bottombar-volumeBack.jpg") repeat-x left center; }
div#gallery_div .jp-volume-bar-value { background: url("~skin_path~images/bottombar-volume.jpg") repeat-x left center; }
div#gallery_div .jp-progress, div#gallery_div .slider-volume > .track, div#gallery_div .slider-volume > .highlight-track { background-color: #abcabc; border-radius: 5px; border: 0 0 0 1px #cbacba; }
div#gallery_div .jp-play-bar { background-color: #1B89FF; box-shadow: inset 0 3px 3px #00C2FF, inset 0 -3px 3px #57C9FF, 0 0 3px #000; background: #006ccf; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fabfab), color-stop(100%, #bcabca)); background-image: -webkit-linear-gradient(top, #fabfab, #bcabca); background-image: -moz-linear-gradient(top, #fabfab, #bcabca); background-image: -ms-linear-gradient(top, #fabfab, #bcabca); background-image: -o-linear-gradient(top, #fabfab, #bcabca); background-image: linear-gradient(to bottom, #fabfab 0%, #bcabca 100%); }
div#gallery_div .jp-current-time, div#gallery_div .jp-duration { color: #cbacba; opacity: .7; }
div#gallery_div .jp-current-time { padding-left: 2px; /*border-left: 1px solid rgba(0,0,0,1/10);*/ }
div#gallery_div .jp-duration { padding-right: 2px; /*border-right: 1px solid rgba(0,0,0,1/10);*/ }
div#gallery_div .jp-playlist ul { background-color: #bcabca; }
div#gallery_div .jp-playlist li a { color: #cbacba; border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
div#gallery_div .jp-playlist li a:hover { background-color: #fabfab; color: #bcabca; }
div#gallery_div .jp-playlist li.jp-playlist-current a { background-color: #abcabc; color: #bcabca; }
div#gallery_div .jp-playlist .audioItem_desc { opacity: .5; }
div#gallery_div .slider-volume > .track, div#gallery_div .slider-volume > .highlight-track { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; height: 7px; margin-top: -5px !important; }
div#gallery_div .dragger { background: #bcabca !important; box-shadow: none !important; border: 2px solid #cbacba !important; }
div#gallery_div .dragger:after { display: none !important; }
div#gallery_div .slider-volume > .highlight-track { background-color: #c5c5c5; background: -webkit-linear-gradient(#c5c5c5, #a2a2a2); background: -o-linear-gradient(#c5c5c5, #a2a2a2); background: linear-gradient(#c5c5c5, #a2a2a2); }
div#gallery_div ::-webkit-scrollbar { width: 8px; }
div#gallery_div ::-webkit-scrollbar-track { background: #bcabca; -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }
div#gallery_div ::-webkit-scrollbar-thumb { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; background: #abcabc; -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5); }
div#gallery_div ::-webkit-scrollbar-thumb:window-inactive { background: #abcabc; opacity: .5; }

div#gallery_div .jp-controls a { font-size: 0; color: transparent; line-height: 0; }
div#gallery_div .jp-controls [class^="jp-"] > i { display: block; max-width: 100%; max-height: 100%; text-align: center; white-space: nowrap; }
div#gallery_div .jp-controls [class^="jp-"] > i:before, div#gallery_div .jp-controls [class*=" jp-"] > i:before { font-family: "cincojplayer02", 'jplayer-default' !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: inherit; display: inline-block; vertical-align: middle; line-height: 1em; margin-bottom: -.3em; }
div#gallery_div .jp-controls [class^="jp-"] > i:after, div#gallery_div .jp-controls [class*=" jp-"] > i:after { display: inline-block; vertical-align: middle; content: ''; height: 100%; }
div#gallery_div .jp-pause > i:before { content: "b"; }
div#gallery_div .jp-play > i:before { content: "c"; }
div#gallery_div .jp-previous > i:before { content: "e"; }
div#gallery_div .shufflevisible .jp-shuffle > i:before { content: "d"; }
div#gallery_div .jp-next > i:before { content: "a"; }

@font-face { font-family: "cincojplayer02"; src: url("~skin_path~fonts/2/cincojplayer02.eot"); src: url("~skin_path~fonts/2/cincojplayer02.eot?#iefix") format("embedded-opentype"), url("~skin_path~fonts/2/cincojplayer02.woff") format("woff"), url("~skin_path~fonts/2/cincojplayer02.ttf") format("truetype"), url("~skin_path~fonts/2/cincojplayer02.svg#cincojplayer02") format("svg"); font-weight: normal; font-style: normal; }
div#gallery_div .jp-type-playlist { border: 2px solid #abcabc; border-radius: 13px; overflow: hidden; }
div#gallery_div .jp-interface { border: none !important; }
div#gallery_div .jp-controls li:hover a i { color: #abcabc !important; }
div#gallery_div .slider-volume > .dragger { width: 16px; height: 16px; border: 1px solid rgba(255, 255, 255, 0.6); -moz-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.5), 0 2px 5px 2px rgba(0, 0, 0, 0.2), 0 0 10px 2px #fabfab, inset 0 0 5px #fabfab; -webkit-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.5), 0 2px 5px 2px rgba(0, 0, 0, 0.2), 0 0 10px 2px #fabfab, inset 0 0 5px #fabfab; box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.5), 0 2px 5px 2px rgba(0, 0, 0, 0.2), 0 0 10px 2px #fabfab, inset 0 0 5px #fabfab; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; background: #c5c5c5; background: -moz-linear-gradient(90deg, #b4b4b4 20%, #e6e6e6 50%, #b4b4b4 80%); background: -webkit-radial-gradient(50% 0%, 12% 50%, white 0%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient(50% 100%, 12% 50%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient(50% 50%, 200% 50%, #e6e6e6 5%, #d9d9d9 30%, #999999 100%); width: 12px; height: 24px; margin-top: -13px !important; }
div#gallery_div .slider-volume > .dragger:after { content: ''; display: block; width: 10px; height: 10px; background: rgba(90, 90, 90, 0.1); position: absolute; top: 50%; left: 50%; margin-top: -5px; margin-left: -5px; border-radius: 5px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.11), 1px 1px 0 white; }
div#gallery_div .slider-volume > .dragger:after { width: 40%; height: 74%; top: 15%; left: 3px; background: #bcabca; margin-top: 0; margin-left: 0 !important; border-radius: 50px; }
