//  Cincopa jPlayer skin
@import "init/init";



@import "layouts/standard-no-playlist";
@import "colors/aluminium";  
@import "icons/iconfont02";  

@import "layouts/standard-mobile-no-playlist";




// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------

	position: fixed; bottom: 0; left: 0; width: 100%; overflow: visible; z-index: 500;
	.jp-audio,
	.jp-type-playlist { overflow: visible; }
	.jp-interface { max-width: 1200px; margin: 0 auto; }
	.jp-playlist { text-align: left; position: absolute; bottom: -2000px; top: auto; bottom: -100vh; opacity: 0; height:0; width: 100%; transition: .5s ease all; }
	.jp-playlist ul { max-width: 1200px; margin: 0 auto; height: auto; }
	&:hover .jp-playlist { opacity: 1; height: auto; max-height: 300%; max-height: 50vh; bottom: 100%; }

	

//-------------------------------------------------------------------------
} // gallery container