// gallery container
div#gallery_div { // #~gallery_div~
//-------------------------------------------------------------------------




	* { outline: none; }

	.jp-audio { font-family: 'Arial', sans-sefif; }
	.jp-interface { border-radius: 0; border: 1px solid $arg_theme_color;
		@include box-shadow(0 1px 3px rgba(13, 25, 32, 26/100), inset 0 1px 0 rgba(255, 255, 255, 60/100), inset 0 -1px 0 rgba(255, 255, 255, 30/100));
	    background: $arg_bg_color; }

	a {text-decoration:none;}

	.jp-controls li {
		> a > i { color: $arg_bg_color; opacity: .5; }
		.jp-pause > i,
		.jp-play > i { color: $arg_bg_color; border-color: $arg_bg_color; }
		&:hover > a > i { color: $arg_bg_color; background-color: $arg_text_color; border-color: $arg_bg_color; opacity: 1; }
		&.on,
		&:active > a > i { background-color: $arg_theme_color; box-shadow: inset 0 0 20px rgba(0,0,0,5/10); border-color: $arg_bg_color; }
		&.on > a > i,
		&:active > a > i { color: $arg_bg_color; }
	}

	.jp-play-bar { background-color: #1B89FF; box-shadow: inset 0 3px 3px #00C2FF, inset 0 -3px 3px #57C9FF, 0 0 3px #000; background: #006ccf; @include linear-gradient($arg_theme_color2, $arg_bg_color); }

	.jp-current-time,
	.jp-duration { color: $arg_text_color; opacity: .7; }
	.jp-current-time { padding-left: 2px; }
	.jp-duration { padding-right: 2px; }

	.jp-playlist ul { background-color: $arg_bg_color; }
	.jp-playlist li {
		position: relative;
		a { color: $arg_text_color; }
		a:before { content: ''; display: block; position: absolute; width: 100%; height: 100%; bottom: 0; left: 0; border-bottom: 1px solid $arg_text_color; opacity: .15; }
		a:after { content: ''; display: block; position: absolute; width: 100%; height: 100%; top: 0; left: 0; }
		&:nth-child(even) a:after { background: $arg_text_color; opacity: .02; }
		&:hover a:after { background: $arg_text_color; opacity: .05; }
		&.jp-playlist-current a { color: $arg_theme_color; }
		.audioItem_desc { opacity: .5; }
	}



// SCROLLBARS
::-webkit-scrollbar {
    width: 8px;
}
// Track
::-webkit-scrollbar-track {
	background: $arg_bg_color;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    @include border-radius(0);
}
 
// Handle
::-webkit-scrollbar-thumb {
    @include border-radius(0);
    background: $arg_theme_color; 
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: $arg_theme_color; 
	opacity: .5;
}
// SCROLLBARS



 


//-------------------------------------------------------------------------
} // gallery container




