// gallery container
div#gallery_div { // #~gallery_div~
//-------------------------------------------------------------------------




	* { outline: none; }

	.jp-audio { font-family: 'Arial', sans-sefif; }
	.jp-type-playlist { border: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
	.jp-interface {
		border-radius: 0; @include box-shadow(none);
		&:before { content: ''; display: block; position: absolute; width: 100%; height: 100%; background: $arg_text_color; opacity: .9; @include transition(1s ease opacity); }
	}
	&:hover .jp-interface:before { opacity: .96; }

	a {text-decoration:none;}

	.jp-controls li { }
	.jp-controls li > a > i { color: $arg_bg_color; text-shadow: 0px 1px $arg_text_color; font-size: 16px; }
	.jp-controls li:hover { color: $arg_theme_color; }
	.jp-controls li:hover > a > i { color: $arg_theme_color; }
	// .jp-controls li>a:active { background-color: $arg_theme_color; box-shadow: inset 0 0 20px rgba(0,0,0,5/10); border-color: $arg_text_color; }
	// .jp-controls li>a:active > i { color: $arg_text_color; }

	// .jp-volume-bar { background:url("~skin_path~images/bottombar-volumeBack.jpg") repeat-x left center; }
	// .jp-volume-bar-value { background:url("~skin_path~images/bottombar-volume.jpg") repeat-x left center; }

	.jp-progress,
	.slider-volume > .track,
	.slider-volume > .highlight-track { background-color: $arg_theme_color; border-radius: 0; border: none; margin-top: 0 !important; top: 0 !important;  }

	.jp-play-bar { background-color: #1B89FF; box-shadow: inset 0 3px 3px #00C2FF, inset 0 -3px 3px #57C9FF, 0 0 3px #000; background: #006ccf; @include linear-gradient($arg_theme_color2, $arg_bg_color); }

	.jp-current-time,
	.jp-duration {color: $arg_text_color; opacity: .7; }
	.jp-current-time { padding-left: 2px; /*border-left: 1px solid rgba(0,0,0,1/10);*/ }
	.jp-duration { padding-right: 2px; /*border-right: 1px solid rgba(0,0,0,1/10);*/ }

	.jp-playlist {  }
	.jp-playlist ul { background-color: $arg_bg_color; }
	.jp-playlist li a { color: $arg_text_color; border-bottom: 1px solid $arg_theme_color2; }
	.jp-playlist li:last-child a { border-bottom: none; }
	.jp-playlist li a:hover { color: $arg_theme_color2; }
	//.jp-playlist li:hover a:before {content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #b260c9; opacity: .2; z-index: -1; }
	.jp-playlist li.jp-playlist-current a { background-color: $arg_theme_color; color: $arg_bg_color; }
	.jp-playlist .audioItem_desc { opacity: .5; }

	// volume control
	.slider-volume > .track,
	.slider-volume > .highlight-track {  background: $arg_theme_color2 !important; @include border-radius(0); height: 100%; margin-top: 0 !important; top: 0 !important; }

	.jp-slider-progress .dragger { background: #777 !important; background: $arg_theme_color !important; box-shadow: none !important; border: none !important; height: 100%; top: 0 !important; width: 100%; margin-left: -100% !important; margin-top: 0 !important; }

	.jp-slider-volume-bar:before { content: '"'; position: absolute; margin-left: -30px; font-size: 24px; color: $arg_bg_color; font-family: "cincojplayer05" !important; font-weight: normal; margin-top: -4px; }
	.jp-slider-volume-bar .slider-volume > .track,
	.jp-slider-volume-bar .slider-volume > .highlight-track { background-color: transparent !important; }
	.jp-slider-volume-bar .dragger { width: 5px; height: 100%; background: $arg_text_color; top: 0 !important; margin: 0 -2.5px !important; }





// SCROLLBARS
::-webkit-scrollbar {
    width: 8px;
}
// Track
::-webkit-scrollbar-track {
	background: $arg_bg_color;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    @include border-radius(0);
}
 
// Handle
::-webkit-scrollbar-thumb {
    @include border-radius(0);
    background: $arg_theme_color; 
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: $arg_theme_color; 
	opacity: .5;
}
// SCROLLBARS



 


//-------------------------------------------------------------------------
} // gallery container




