// gallery container
div#gallery_div { // #~gallery_div~
//-------------------------------------------------------------------------




	* { outline: none; }
	
	border: 1px solid $arg_theme_color; border-radius: 8px; overflow: hidden;

	.jp-audio { font-family: 'Arial', sans-sefif; }
	.jp-interface { border-radius: 0; border-bottom: 1px solid $arg_theme_color; background: $arg_bg_color; }

	a {text-decoration:none;}

	.jp-controls li { border-right: 1px dashed $arg_text_color; }
	.jp-controls li > a > i { color: $arg_text_color; text-shadow: 0px 1px $arg_bg_color; }
	.jp-controls li:hover { background-color: $arg_theme_color; color: $arg_bg_color; border-color: $arg_bg_color; }
	.jp-controls li:hover > a > i { color: $arg_bg_color; }
	.jp-controls li.on,
	.jp-controls li:active { background-color: $arg_theme_color; box-shadow: inset 0 0 20px rgba(0,0,0,5/10); border-color: $arg_bg_color; }
	.jp-controls li.on > a > i,
	.jp-controls li:active > a > i { color: $arg_bg_color; }

	.jp-volume-bar { background:url("~skin_path~images/bottombar-volumeBack.jpg") repeat-x left center; }
	.jp-volume-bar-value { background:url("~skin_path~images/bottombar-volume.jpg") repeat-x left center; }

	.jp-progress,
	.slider-volume > .track,
	.slider-volume > .highlight-track { background-color: $arg_theme_color; border-radius: 5px; border: 0 0 0 1px $arg_text_color;  }

	.jp-play-bar { background-color: #1B89FF; box-shadow: inset 0 3px 3px #00C2FF, inset 0 -3px 3px #57C9FF, 0 0 3px #000; background: #006ccf; @include linear-gradient($arg_theme_color2, $arg_bg_color); }

	.jp-current-time,
	.jp-duration {color: $arg_text_color; opacity: .7; }
	.jp-current-time { padding-left: 2px; /*border-left: 1px solid rgba(0,0,0,1/10);*/ }
	.jp-duration { padding-right: 2px; /*border-right: 1px solid rgba(0,0,0,1/10);*/ }

	.jp-playlist ul { background-color: $arg_bg_color; }
	.jp-playlist li a { color: $arg_text_color; border-bottom: 1px solid rgba(0,0,0,10/100); }
	.jp-playlist li a:hover { background-color: $arg_theme_color2; color: $arg_bg_color; }
	//.jp-playlist li:hover a:before {content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #b260c9; opacity: .2; z-index: -1; }
	.jp-playlist li.jp-playlist-current a { background-color: $arg_theme_color; color: $arg_bg_color; }
	.jp-playlist .audioItem_desc { opacity: .5; }

	// volume control
	.slider-volume > .track,
	.slider-volume > .highlight-track {  @include border-radius(5px); height: 7px; margin-top: -5px !important; }

	.dragger { background: $arg_bg_color !important; box-shadow: none !important; border: 2px solid $arg_text_color !important; }
	.dragger:after { display: none !important; }

	.slider-volume > .highlight-track {
	  background-color: #c5c5c5;
	  background: -webkit-linear-gradient(#c5c5c5, #a2a2a2);
	  background: -o-linear-gradient(#c5c5c5, #a2a2a2);
	  background: linear-gradient(#c5c5c5, #a2a2a2);
	}





// SCROLLBARS
::-webkit-scrollbar {
    width: 8px;
}
// Track
::-webkit-scrollbar-track {
	background: $arg_bg_color;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    @include border-radius(0);
}
 
// Handle
::-webkit-scrollbar-thumb {
    @include border-radius(0);
    background: $arg_theme_color; 
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: $arg_theme_color; 
	opacity: .5;
}
// SCROLLBARS



 


//-------------------------------------------------------------------------
} // gallery container




