// gallery container
div#gallery_div { // #~gallery_div~
//-------------------------------------------------------------------------


	font-family: 'Tahoma', sans-serif; font-size: 100%; position: fixed;z-index: 500; bottom:0; left:0; width:100%;  max-width: 100% !important; height: 60px;

	* { outline: none; }

	.jp-audio { font-family: 'Arial', sans-sefif; }
	.jp-interface {
		border-radius: 0; border: 1px solid #292929; padding: 10px 0;
		@include box-shadow(inset 0 1px 0 rgba(#000,20/100), 0 1px 3px #000);
	    background: #25292b;
	    .jp-controls-wrap {  }
	}

	a {text-decoration:none;}

	.jp-controls { color: $arg_text_color; }
	.jp-controls li {
		a {
			font-size: 0;
		    > i { color: $arg_text_color; display: block; height: 100%; padding: 0px; width: 100%; color: transparent; position: absolute; top: 0; left: 0; line-height:0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-position: center center; background-repeat: no-repeat; }
		    &:hover {
		    	> i { }
		    } 
		}
		a:active {
			background-color: #171717; box-shadow: inset 0 0 20px rgba(0,0,0,5/10); border-color: #171717;
			> i {  }
		}
		&.on a {
			background-color: #171717; box-shadow: inset 0 0 20px rgba(0,0,0,5/10); border-color: #171717;
			> i {  }
		}
		&.jpli-progress,
		&.jpli-volume-bar {  }
		&.jpli-stop,
		&.jpli-mute,
		&.jpli-unmute,
		&.jpli-volume-bar,
		&.jpli-volume-max { display: none !important; }
	}
	.jpli-currentinfo {
		color: #fff;
		b { font-size: 16px; color: #fff; }
		i { font-size: 13px; opacity: .5; color: #fff; }
	}
	.jp-slider-volume-bar,
	.jp-slider-progress {
		height: 13px;
		.slider-volume {
			.highlight-track,
			.track { border: 1px solid #2E3233; border-radius: 10px; padding: 0 6px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-color: #191c1d; -webkit-box-shadow: inset 0 1px 2px #000; -moz-box-shadow: inset 0 1px 2px #000; box-shadow: inset 0 1px 2px #000; }
			.dragger {
				width: 14px; height: 14px; margin: 0 auto; background: #f8f8f8; margin-top: -6px !important; margin-left: -9px !important; left: 50%;
				border: 1px solid rgba(255,255,255,0.6);
				-moz-box-shadow: 0 0px 2px 1px rgba(0,0,0,0.5), 0 2px 5px 2px rgba(0,0,0,0.2);
				-webkit-box-shadow: 0 0px 2px 1px rgba(0,0,0,0.5), 0 2px 5px 2px rgba(0,0,0,0.2);
				box-shadow: 0 0px 2px 1px rgba(0,0,0,0.5), 0 2px 5px 2px rgba(0,0,0,0.2);
				-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
				background: #c5c5c5;
				background: -moz-linear-gradient(90deg, rgba(180,180,180,1) 20%, rgba(230,230,230,1) 50%, rgba(180,180,180,1) 80%);
				background: -webkit-radial-gradient( 50% 0%, 12% 50%, hsla(0,0%,100%,1) 0%, hsla(0,0%,100%,0) 100%), -webkit-radial-gradient( 50% 100%, 12% 50%, hsla(0,0%,100%,.6) 0%, hsla(0,0%,100%,0) 100%), -webkit-radial-gradient(	50% 50%, 200% 50%, hsla(0,0%,90%,1) 5%, hsla(0,0%,85%,1) 30%, hsla(0,0%,86%,1) 100%);
			}
		}
	}


	// .jp-play-bar { background-color: #1B89FF; box-shadow: inset 0 3px 3px #00C2FF, inset 0 -3px 3px #57C9FF, 0 0 3px #000; background: #006ccf; @include linear-gradient($arg_theme_color2, $arg_bg_color); }

	.jp-current-time,
	.jp-duration { color: #fff; opacity: 1; }


	.jp-playlist {
		box-sizing: border-box; overflow-y: auto; height: $arg_playlist_height; max-height: 80%; max-height: calc(100% - 70px); position: fixed; bottom: 53px;z-index: 10;right: 10px; top: auto; width: 320px; margin: 0; text-align: left; background: #FFFFFF; max-width: 90%; padding: 10px; border-radius: 3px; box-shadow: 0 0 7px rgba(0,0,0,.2); border: 1px solid #aaa;
		ul {
			li {
				display:block; margin: 0; padding:0;
				a {
					font-size: 13px; font-weight: bold; line-height: 19px; color: #181818; display: block; white-space: nowrap; text-overflow: ellipsis; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; position: relative; overflow: hidden; padding: .8em; margin: 0 -.8em; border-bottom: 1px solid #E6E6E6;
					> * { position: relative; z-index: 1; }
					&:hover { background: #ECECEC; color: #000000; }
				}
				&:first-child a:before { border: none; }
				&.jp-playlist-current a { color: #000; background: #eaeaea; }
				.audioItem_title { font-size: 1em; vertical-align: middle; }
				.audioItem_desc { display: inline-block; margin: 0; font-weight: normal; font-size: .8em; vertical-align: middle; opacity:.4; line-height: 1.1em; max-height: 2.2em; white-space: normal; text-overflow: ellipsis; overflow: hidden; }
				.audioItem_duration { display: inline-block !important; float: right; font-size: .9em; opacity: .8; font-weight: normal; }
			}
		}
	}


// /* images */
.jp-controls .jpli-shuffle i { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAUCAMAAABPqWaPAAAAS1BMVEX///////////////////////////////////////////////////////////////////////////////////////////////////+yVYcAAAAAGXRSTlMABAUIDCIwNkNERkdJSlJTVFVWWFlaW2Bmo84kOQAAAG9JREFUeF6tj8sOgzAMBBcoj5ZHgNZk//9Li/EhRFYuVee00hzswX/oiiZOdclwfcDgyWJTyBjJ+WYYTFzmWSEhHFQceqdHxthAKLpaFyD82PDiXRI78HKlKjZgpOSlVNb0dV4afKnHSj2p1NPiZ77zoAfRbzBrUQAAAABJRU5ErkJggg==); }
.jp-controls .jpli-shuffle.on i { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAVCAMAAACE9bUqAAAAS1BMVEX///////////////////////////////////////////////////////////////////////////////////////////////////+yVYcAAAAAGHRSTlMA8OHSeAwez7e6sasJh1TM5KgV3tvYrtU+fYdOAAAAbUlEQVR4XrXPSw6AIAxF0VL/qPjXt/+VSgMJIQ0zvaMmZ9JH31QXxfRNSVC1EeBbAjBgDDAkAboIIuNEKcYmsHo2M2XZ3QPL5dQAxhEODWcJLqJbLRV4iCw4XwqpSl/nSzu9VBeW6tJSnaMfegFsWgXDXGra4AAAAABJRU5ErkJggg==); }
.jp-controls .jpli-repeat i { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAUCAMAAACgaw2xAAAAilBMVEX////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////6DghSAAAALnRSTlMAZl5lQgEUDFwXAlkeNWBJSAYsEyZAThYRDjgSK0FQWF9kJAtbEFQEHSkwRFofZcZNnAAAAIlJREFUeF61kNkOgjAQRee2lRbBiuyL+77+/++ZEFso6iP36SQncyczNEI8EUBF4VBMZxxtxMIRkzl47V+aWGPjmCVY0cJhjaw/wGDK5Y7LTvgILK9w60QK8aFiC0CVRuytoITheOpVnS2XuXSWX+lnYqjK8PBAfU+oSnPv30uy7yc+nmDRi0bIG3sgBapqNSFyAAAAAElFTkSuQmCC); }
.jp-controls .jpli-repeat.on i { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAUCAMAAACgaw2xAAAAilBMVEX////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////6DghSAAAALXRSTlMA6vylAzMe5zkG3kuE8Le0D28wYJ/DNiokjS1sosnb7flaG+Qn0glIZnir4U4JLdg+AAAAiklEQVR4Xr2R1w6DMAxFM0pCaSll78497v//HhIigUD7VIn7dKQj27JN5ozFHUhvNRbLNUMbvjXEYgOW27fCd7EzTAmatHCqEQ0LKFRzcWCiFzYczRUevQjBO0r2AGSqxFELElCcL4NWV81pLIzhd/I1PmSmeLyg+wxIFsbWr5NE0yO+3qDe5483NIL/Cq3MesDkAAAAAElFTkSuQmCC); }
.jp-controls .jpli-playlistbtn i { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWAgMAAAC52oSoAAAADFBMVEX////////////////1pQ5zAAAAA3RSTlMAw8SGqEb6AAAAGklEQVR4XmOAAhH5////OzBIgKgGBmyA3ioBhGIckTZGXysAAAAASUVORK5CYII=); }
.jp-controls .jpli-playlistbtn.on i { }
.jp-controls .jp-play i { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAiCAMAAADmrkDzAAABMlBMVEX////l5eXm5ubp6ent7e3+/v7n5+fv7+/8/Pzm5ubr6+vs7Oz+/v78/Pz39/f9/f3r6+v5+fnn5+f29vb+/v76+vr7+/vp6en9/f3o6Oj39/f9/f37+/v9/f34+Pj4+Pj19fX09PT19fX09PT8/Pz+/v7+/v77+/vu7u7q6uro6Oj9/f3v7+/4+Pjq6urn5+fz8/P4+Pj19fXt7e3n5+f4+Pjr6+vo6Oj39/fy8vLs7Ozo6Ojm5ub7+/vt7e3x8fHm5ubu7u7p6enm5ubq6urw8PDn5+fs7Ozo6Ojo6Ojm5ub19fXm5ubu7u7u7u7p6enm5ubn5+fq6urr6+vp6en////+/v79/f3z8/P5+fn8/Pz4+Pj19fX09PT39/f6+vr29vbv7+/y8vLw8PD7+/vx8fFZ6/YnAAAAVXRSTlMAAACE9vkA4YwBx+v9pgm8ADEqAu9IYADQABOrX88uH1IA5DPV9uF1AABL+QDIriYAIAAAPfrbUxQAAGoFdvQADPucGbIAQNtXbQb8ENH9nRs64PKlvh1l4QAAAP1JREFUeF6tk8V2wzAQAGOH6kIaJw0zM5WZmUmS7XDh/3+hr/Hz20O0yiVznoNmV2ubE7l8IaZmyiFZMpk2GoSQ5ZVOeyMiI8YW+ce5sLu3H5G5RpeYrB15TrwuzDApBv1XFRfPAMKB9TrfAFZVsTHJSgkNMyuKGMBayYMZkBX3IwaQCKAGZCXBQKilZxksKzaoMXALDab3HVWBwYa9cbOFt9Cf0ffiJtRyHvC7vaOgE6NG92vp4BCdOmW6dmw/xTfHhv2z8wve9iHg0sf9QRBwjf1kM+DmVsGuwQy4u0cu6oFRQ9cc9kf0Kp96A+355VWSUOPt/ePTJwG2ufMHviGmkfRRT30AAAAASUVORK5CYII=); }
.jp-controls .jp-pause i { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAiCAMAAADmrkDzAAAAQlBMVEXn5+fu7u709PT19fX4+Pj////n5+f19fX19fXu7u7q6ur4+Pj9/f3r6+v09PT4+Pj4+Pj////09PT8/Pz+/v739/cOPCV2AAAAEHRSTlMAAAAAAABCUlPP1djr7vX4uud3sAAAAGFJREFUeF7tylkOgCAMAFHcUBahZbn/VSWWJv0wwQMwf5M8dYz6K06PLX9tFK8QDt/cTvEKEUnELniFABLQBe+HmGKKKUIuiCWHleIVwqQKUJNZKF4htL1bViuKl8WgsXgAzWIqKaMlFysAAAAASUVORK5CYII=); }
.jp-controls .jp-previous i { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAAilBMVEX////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////6DghSAAAALnRSTlMA/FIV0vlctQf39gaIGAHlsFkz+6LweUW8inU5zey3IfUEJI3TxkLvozIjxR3PE/3vkwAAAH1JREFUeF7FzscOwkAUQ1EbhpYhjd57L///e+hJSEkWHsQqd3tkyai95myhzZGTgHG41cbOPmDdX3Y4naUNUmbKpmOOfMn8u7A84jxBqaXZygxYc4NK8Y5kq43v8lhZotEr9HLlzUu921upD/eEVOs/jUxfAe0DUrUBMeruA42YBcl+2OyLAAAAAElFTkSuQmCC); }
.jp-controls .jp-next i { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAA7VBMVEX////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////tpuCXAAAAT3RSTlMA/APFCgEP5BK0pQvDBQ3SDhycBtjKELPJopfvQdu2wge1CVO4wQhy+/mGuqrX6vYvOLlkIqPIFczLF6EWMqie1BgC1Rmb1hos9XXZdtMdH01qswAAALZJREFUeF7NzsUSAjEURNE8BpfB3d3d3V3+/3Ogs5pAWMPdnuqqZj/OG7abv5nBSuQPfME2vQoZ5egIQgcfmtFDvRao8q5x0xyaSkPtLhEjFI1BCwloUhWPVuichepz0LyNCRVL5S7XKrQmokOhOkNq44VNwWwWMrVgOiuWHa2ZFfL1uPVhzqEWRzSecJtymzFtnoWL2xK2WjNJGw9su5OZYQ87HJmsE8znZvIuRFeYvNv9wf66J7lGDTXnwQbvAAAAAElFTkSuQmCC); }
.jp-slider-volume-bar,
.jp-controls li.jpli-mute a i { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAMAAADzapwJAAAAUVBMVEX///////////////////////////////////////////////////////////////////////////////////////////////////////////94FlRsAAAAGnRSTlMAv8A/QDnbGAbn+Tb8pcmAOuHIWluXfqP7jH0Mn+sAAABnSURBVHhetc9JDoAgEETRckDFeR7q/gc1QdILaRI31o73QwL4vCzZNCRbDUmGWHeNsKAdSsCxKfw9sl8rwPOj9CdhcgQ0xo9sAo4/0EzC81IJy/KUtLv//DvUR+M4CHSshBPQwoXIbiLPDXlzR14mAAAAAElFTkSuQmCC); }
.jp-controls li.jpli-unmute a i { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAMAAADzapwJAAAAw1BMVEX///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////9ZxT1WAAAAQHRSTlMA1BX+Fr8/08A559tAGCc2+QWMDInzPXlwX0vRpdX8Yi6AQho6k3b98OWXkCoZ95st2eEk1iVQ3H507aPy4Nf7NgLp5wAAAMRJREFUeF6N0MeSgzAQBNAW2EvwsjbgmHMOm3Oa//8qN1hVBkoH92EOb0oqqXF1bspbE4oMDcjYeWwSa/3qVy+L+27b8ScB0JkSvIokAUa2Mw4JlmPfAdQz1weiLKoSJwZE5hxkv63oVBUgET1kUyJRZ8scC+g8sDjmeAUr5bVkudHSl+waqXhnjg4ki6u/e2Qe+JAoQH+MAe9Jc9NWzyHoL/zOJa9vrXf/IwDqn4X+XFb1Xf35RSG3ri7WtPgHTIsI5uAEVfUee8s0lfAAAAAASUVORK5CYII=); }
// /* images */

	

// SCROLLBARS
::-webkit-scrollbar {
    width: 8px;
	&-track { background: #fff; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); @include border-radius(0); }
	&-thumb {@include border-radius(0); background: #25292b; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); }
	&-thumb:window-inactive {background: #545A5D; opacity: .5; }
}
// SCROLLBARS


 


//-------------------------------------------------------------------------
} // gallery container