// gallery container
div#gallery_div { // #~gallery_div~
//-------------------------------------------------------------------------




	* { outline: none; }

	.jp-audio {  }
	.jp-interface {
		border-radius: 3px; border: 1px solid rgba(#000, .8);
		@include box-shadow(0 1px 3px rgba(13, 25, 32, 26/100), inset 0 1px 0 rgba(255, 255, 255, 40/100), inset 0 -1px 0 rgba(255, 255, 255, 20/100));
	    background: $arg_bg_color; @include linear-gradient( $arg_bg_color, $arg_theme_color2);
	    .jp-controls-wrap { border-collapse: separate; }
	}

	a {text-decoration:none;}
	.jp-controls { color: $arg_text_color; }
	.jp-controls li {
		border-right: 1px solid rgba(0, 0, 0, 0.3); border-left: 1px solid rgba(255, 255, 255, 0.15);
		a {
			opacity: .8;
		    > i { color: $arg_text_color; text-shadow: 1px 1px $arg_theme_color2; }
		    &:hover {
		    	opacity: 1;
		    	> i { color: $arg_text_color; text-shadow: 1px 1px $arg_theme_color2; }
		    } 
		}
		a:active {
	    	> i { opacity: 1; }
		}
		&.on a {
	    	color: $arg_theme_color; background-color: $arg_theme_color2;
	    	> i { color: $arg_theme_color; text-shadow: none; }
		}
		.jp-mute,
		.jp-unmute,
		.jp-volume-max {
			i { color: $arg_theme_color2; text-shadow: -1px -1px rgba(0,0,0,.8); }
		}
		&.jpli-unmute.cp-show~.jpli-volume-bar .dragger { opacity: 0; }
		&.jpli-unmute.cp-show~.jpli-volume-bar:hover .dragger { opacity: .5; }
		&.jpli-progress,
		&.jpli-volume-bar {  }
	}

	.jp-slider-volume-bar,
	.jp-slider-progress {
		height: 10px;
		.slider-volume {
			overflow: hidden; border-radius: 5px;
			.highlight-track,
			.track {
				background-color: rgba(#000, .1); @include linear-gradient(rgba(#000, .2), rgba(#fff, .1)); border-radius: 5px; @include box-shadow(inset 0 0 2px rgba(#000,.4));
				&:before { content: ''; display: block; position: absolute; width: 100%; height: 100%; background: $arg_theme_color2; top: 0; left: 0; opacity: .6; box-shadow: inset 0 1px 3px rgba(0,0,0,.3); }
			}
			.dragger {
				top: 0 !important; width: 100% !important; height: 100% !important; margin: 0 !important;
				&:after { display: block; width: 100%; right: 100%; position: absolute; content: ''; top: 0; height: 100%; border-radius: 5px;
					background: $arg_theme_color; @include horizontal-gradient($arg_theme_color, $arg_theme_color3);
					border: 1px solid $arg_theme_color; @include box-sizing(border-box);
				}
			}
		}
	}


	// .jp-play-bar { background-color: #1B89FF; box-shadow: inset 0 3px 3px #00C2FF, inset 0 -3px 3px #57C9FF, 0 0 3px #000; background: #006ccf; @include linear-gradient($arg_theme_color2, $arg_bg_color); }

	.jp-controls .jp-current-time,
	.jp-controls .jp-duration { color: $arg_text_color; opacity: .7; bottom: -12px; }


	.jp-playlist {
		font-size: 16px;
		background-color: $arg_text_color; border-radius: 4px 4px 0 0; border-bottom: none; position: relative; box-shadow: 0 0 10px rgba(0,0,0,.3);
		ul {
			position: relative;
			&:before { background: $arg_bg_color; content: ''; display: block; position: absolute; width: 100%; height: 100%; left: 0; top: 0; z-index: 0; opacity: .1; }
			li {
				a {
					color: $arg_bg_color; position: relative;
					> * { position: relative; z-index: 1; }
					&:before { opacity: .2; content: ''; position: absolute; width: 100%; height: 100%; top: 0; left: 0; border-top: 1px solid $arg_theme_color2; }
					&:hover:before { background-color: $arg_theme_color; }
				}
				&:first-child a:before { border: none; }
				&.jp-playlist-current a { background-color: $arg_theme_color; color: $arg_text_color; @include box-shadow(inset 0 0 3px rgba(0,0,0,10/100)); }
				.audioItem_desc { opacity: .5; }
			}
		}
	}



	

// SCROLLBARS
::-webkit-scrollbar {
    width: 8px; height: 8px;
	&-track { background: $arg_bg_color; border: 5px solid transparent; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); @include border-radius(0); }
	&-thumb { @include border-radius(0); background: $arg_theme_color; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); border: none; border: none; }
	&-thumb:window-inactive {background: $arg_theme_color; opacity: .5; }
}
// SCROLLBARS


 


//-------------------------------------------------------------------------
} // gallery container