// gallery container
div#gallery_div { // #~gallery_div~
//-------------------------------------------------------------------------




	* { outline: none; }

	.jp-audio { font-family: 'Arial', sans-sefif; }
	.jp-interface {
		border-radius: 0; border: 1px solid $arg_text_color;
		// @include box-shadow(0 1px 3px rgba(13, 25, 32, 26/100));
	    background: $arg_bg_color; @include linear-gradient($arg_theme_color2, $arg_bg_color);
	    .jp-controls-wrap {  }
	}

	a {text-decoration:none;}
	.jp-controls { color: $arg_text_color; }
	.jp-controls li {
		a {
			// border-left: 1px solid rgba(255, 255, 255, 15/100); border-right: 1px solid rgba(0, 0, 0, 15/100);
			opacity: .85;
		    > i { color: $arg_text_color; font-size: 24px; }
		    &:hover {
		    	opacity: 1;
			    > i {  }
		    } 
		}
		// &.jpli-next,
		// &.jpli-previous { a>i { font-size: 16px; } }
		a:active {
	    	background-color: transparent; color: $arg_text_color; border-color: transparent;
	    	> i { color: $arg_text_color; opacity: 1; }
		}
		&.on a {
	    	background-color: $arg_text_color; color: $arg_bg_color; border-color: transparent;
	    	> i { color: $arg_bg_color; text-shadow: none; }
		}
	}

	// .jp-controls li.jpli-progress .jp-info-progress { width: 90%; }

	.jp-slider-volume-bar,
	.jp-slider-progress {
		height: 16px;
		.slider-volume {
			overflow: hidden;
			// &:before { content: 'IIIIIIIIIIIIIIIIIIIIIIIIIIIIII'; color: #dfdfdf; position: absolute; top: 0; left: 0; overflow: hidden; width: 100%; height: 200%; z-index: 10; margin-top: -.2em; font-size: 26px; pointer-events: none; }
			.highlight-track,
			.track { background-color: $arg_text_color; border-radius: 0; opacity: .2; }
			.dragger {
				top: 0 !important; width: 100% !important; height: 100% !important; margin: 0 !important;
				&:after { display: block; width: 100%; right: 100%; position: absolute; content: ''; top: 0; height: 100%; background: $arg_theme_color; }
			}
		}
	}
	.jp-slider-volume-bar {
		.slider-volume:before { content: 'IIIIIIIIIIIIIIIIIIIIIIIIIIIIII'; line-height: 1; color: #dfdfdf; position: absolute; top: 0; left: 0; overflow: hidden; width: 100%; height: 200%; z-index: 10; margin-top: -.2em; font-size: 26px; pointer-events: none; }
	}


	.jp-controls .jp-current-time,
	.jp-controls .jp-duration { color: $arg_text_color; opacity: .7; bottom: 0; font-size: 12px; }


	.jp-playlist {
		padding: 0;
		ul {
			padding-top: 3px; margin-top: -3px;
			background-color: $arg_bg_color; border-radius: 0; border: 1px solid $arg_text_color; border-top: none;
			li {
				a {
					color: $arg_text_color; position: relative; padding: 10px;
					> * { position: relative; z-index: 1; }
					&:hover { background-color: $arg_theme_color; color: $arg_theme_color2; }
				}
				&:first-child a:before { border: none; }
				&.jp-playlist-current a { background-color: $arg_theme_color; color: $arg_theme_color2; @include box-shadow(inset 0 0 3px rgba(0,0,0,10/100)); }
				.audioItem_desc { opacity: .5; }
			}
		}
	}



	 

// SCROLLBARS
::-webkit-scrollbar {
    width: 8px;
	&-track { background: $arg_bg_color; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); @include border-radius(0); }
	&-thumb {@include border-radius(0); background: $arg_theme_color; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); }
	&-thumb:window-inactive {background: $arg_theme_color; opacity: .5; }
}
// SCROLLBARS


 


//-------------------------------------------------------------------------
} // gallery container