// gallery container
div#gallery_div { // #~gallery_div~
//-------------------------------------------------------------------------




	* { outline: none; }

	.jp-audio { font-family: 'Arial', sans-sefif; }
	.jp-interface {
		border-radius: 3px; border: 1px solid rgba(#000, .2);
		@include box-shadow(0 1px 3px rgba(13, 25, 32, 26/100));
	    background: $arg_bg_color;
	    .jp-controls-wrap {  }
	}

	a {text-decoration:none;}
	.jp-controls { color: $arg_text_color; }
	.jp-controls li {
		a {
			// border-left: 1px solid rgba(255, 255, 255, 15/100); border-right: 1px solid rgba(0, 0, 0, 15/100);
		    > i { color: $arg_text_color; font-size: 20px; }
		    &:hover {
		    	background-color: $arg_theme_color; border-color: $arg_theme_color;
			    > i { color: $arg_theme_color2; }
		    } 
		}
		&.jpli-next,
		&.jpli-previous { a>i { font-size: 16px; } }
		a:active {
	    	background-color: $arg_theme_color2; color: $arg_text_color; border-color: $arg_theme_color2;
	    	> i { color: $arg_text_color; text-shadow: none; }
		}
		&.on a {
	    	background-color: $arg_theme_color2; color: $arg_theme_color; border-color: $arg_theme_color2;
	    	> i { color: $arg_theme_color; text-shadow: none; }
		}
	}

	.jp-controls li.jpli-progress .jp-info-progress { width: 90%; }

	.jp-slider-volume-bar,
	.jp-slider-progress {
		height: 6px;
		.slider-volume {
			.highlight-track,
			.track { background-color: $arg_theme_color2; border-radius: 5px; @include box-shadow(inset 0 0 5px rgba(#000,.3)); }
			.dragger {
			    width: 16px; height: 16px; border: 4px solid #fff; box-shadow: none; background: $arg_theme_color2; border-radius: 10px; margin-top: -8px !important;
				&:after { display: none; }
			}
		}
	}



	.jp-controls .jp-current-time,
	.jp-controls .jp-duration { color: $arg_text_color; opacity: .7; bottom: 0; font-size: 11px; }


	.jp-playlist {
		padding: 0;
		ul {
			padding-top: 3px; margin-top: -3px;
			background-color: $arg_theme_color2; border-radius: 0 0 4px 4px; border: 1px solid $arg_theme_color2; border-top: none;
			li {
				a {
					color: $arg_text_color; position: relative; padding: 10px;
					> * { position: relative; z-index: 1; }
					&:hover { background-color: $arg_theme_color; color: $arg_theme_color2; }
				}
				&:first-child a:before { border: none; }
				&.jp-playlist-current a { background-color: $arg_theme_color; color: $arg_theme_color2; @include box-shadow(inset 0 0 3px rgba(0,0,0,10/100)); }
				.audioItem_desc { opacity: .5; }
			}
		}
	}



	 

// SCROLLBARS
::-webkit-scrollbar {
    width: 8px;
	&-track { background: $arg_bg_color; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); @include border-radius(0); }
	&-thumb {@include border-radius(0); background: $arg_theme_color; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); }
	&-thumb:window-inactive {background: $arg_theme_color; opacity: .5; }
}
// SCROLLBARS


 


//-------------------------------------------------------------------------
} // gallery container