// gallery container
div#gallery_div { // #~gallery_div~
//-------------------------------------------------------------------------



	position: relative; z-index: 0; border-radius: 5px !important; overflow: hidden;
	* { outline: none; }

	.jp-audio { font-family: 'Arial', sans-sefif; }
	.jp-interface {
		border-radius: 0; border: none; padding: 0 5px;
		@include box-shadow(0 1px 3px rgba(13, 25, 32, 30/100));
	    background: $arg_bg_color;
	    &:before { position: absolute; display: block; content: ''; border-top: 2px solid $arg_text_color; top: 0; left: 0; width: 100%; height: 100%; opacity: .2; z-index: -1; }
	    .jp-controls-wrap {  }
	}

	a {text-decoration:none;}
	.jp-controls { color: $arg_text_color; }
	.jp-controls li {
		width: 40px; padding: 5px 1px;
		a {
			border-radius: 0;
			// border-left: 1px solid rgba(255, 255, 255, 15/100); border-right: 1px solid rgba(0, 0, 0, 15/100);
		    > i { font-size: 22px !important; color: $arg_text_color; }
		    &:hover {
		    	background-color: $arg_bg_color; border-color: $arg_theme_color;
			    > i { color: $arg_text_color;  }
		    } 
		}
		&.jpli-previous,
		&.jpli-next,
		&.jpli-play,
		&.jpli-pause,
		&.jpli-stop { a>i { font-size: 30px !important; } }
		a:active {
	    	background-color: $arg_theme_color2; color: $arg_text_color; border-color: $arg_bg_color; box-shadow: inset 0 0 5px rgba(0,0,0,5/10);
	    	> i { color: $arg_text_color; text-shadow: none; }
		}
		&.on a {
	    	background-color: $arg_theme_color2; color: $arg_text_color; border-color: transparent;
	    	> i { color: $arg_text_color; text-shadow: none; }
		}
		&.jpli-progress .jpli-currentinfo { font-size: 14px; }
		// &.jpli-volume-bar { border-left: 1px solid rgba(255, 255, 255, 7/100); border-right: 1px solid rgba(0, 0, 0, 7/100); }
	}

	.jp-slider-volume-bar,
	.jp-slider-progress {
		height: 10px;
		.slider-volume {
			overflow: hidden;
			.highlight-track,
			.track { background-color: $arg_text_color; border-radius: 0; opacity: .2; }
			.dragger {
				top: 0 !important; width: 100% !important; height: 100% !important; margin: 0 !important;
				&:after { display: block; width: 100%; right: 100%; position: absolute; content: ''; top: 0; height: 100%; background: $arg_theme_color2; @include horizontal-gradient($arg_theme_color,  $arg_theme_color2); }
			}
		}
	}


	// .jp-play-bar { background-color: #1B89FF; box-shadow: inset 0 3px 3px #00C2FF, inset 0 -3px 3px #57C9FF, 0 0 3px #000; background: #006ccf; @include linear-gradient($arg_theme_color2, $arg_bg_color); }

	.jp-controls .jp-current-time,
	.jp-controls .jp-duration { color: $arg_text_color; opacity: .7; bottom: -12px; }


	.jp-playlist {
		font-size: 14px; padding: 0; border-radius: 0 0 7px 7px;
		ul {
			// background-color: $arg_bg_color;
			font-weight: normal; font-size: 14px;
			border-radius: 0 0 4px 4px; border: none;
		    &:before { position: absolute; display: block; content: ''; background: #212426; background: $arg_bg_color; top: 0; left: 0; width: 100%; height: 100%; opacity: .8; z-index: -1; }
			li {
				a {
					padding: 10px; color: $arg_text_color; position: relative;
					> * { position: relative; z-index: 1; opacity: .6; }
					&:hover { background: $arg_theme_color2; @include horizontal-gradient($arg_theme_color,  $arg_theme_color2); color: $arg_bg_color; }
				}
				&:first-child a:before { border: none; }
				&.jp-playlist-current a { background: $arg_theme_color2; @include horizontal-gradient($arg_theme_color,  $arg_theme_color2); color: $arg_bg_color; @include box-shadow(inset 0 0 3px rgba(0,0,0,10/100)); }
				.audioItem_desc { opacity: .5; }
			}
		}
	}


.branding .jp-branding {
	text-align: center;
	a {
		height: 36px; margin: -3px 0;
		img { max-height: 25px !important; }
	}
}

.cp-upper-panel {
	&:before { display: none; }
	.ze_search_cont {
		.ze_searchBox { padding: 3px !important; background: rgba(#fff, .3) !important; color: $arg_text_color !important; border: none !important; opacity: .6; }
	}
	a { opacity: .6; letter-spacing: .09em; background: rgba(#fff, .3) !important; color: $arg_text_color !important; padding: 6px 6px 5px 6px !important; margin: 5px -5px 5px 0 !important; border: none !important; }
	.cp-download-all-link { margin-right: 5px !important; }
}	


// SCROLLBARS
::-webkit-scrollbar {
    width: 8px;
	&-track { background: transparent; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); @include border-radius(0); }
	&-thumb {@include border-radius(0); background: $arg_theme_color; }
	&-thumb:window-inactive {background: $arg_theme_color; opacity: .5; }
}
// SCROLLBARS


 


//-------------------------------------------------------------------------
} // gallery container