// gallery container
div#gallery_div { // #~gallery_div~
//-------------------------------------------------------------------------




	* { outline: none; }

	.jp-audio { font-family: 'Arial', sans-sefif; }
	.jp-interface {
		border-radius: 30px; border: 1px solid rgba(0, 0, 0, 0.4); background: $arg_bg_color; @include linear-gradient( $arg_bg_color, $arg_theme_color2);
	    padding: 0 10px; position: relative; z-index: 1;
	    @include box-shadow(inset 0 1px 0 rgba(255,255,255,0.8), inset 0 -1px 0 rgba(255, 255, 255, 0.7), 0 1px 1px rgba(0, 0, 0, 0.6), 0 2px 8px rgba(0, 0, 0, 0.55));
	    .jp-controls-wrap {  }
	}

	a {text-decoration:none;}

	.jp-controls li {
		padding: 5px 3px 5px 3px; width: 50px; text-align: center;
		a {
			border-radius: 20px; border: none;
			@include box-shadow(none);
		    background: transparent;
		    > i { font-size: 20px; color: $arg_text_color; text-shadow: 0px 1px $arg_bg_color; }
		}
		&.on a {
			background: transparent; @include box-shadow(none);
			> i { color: $arg_theme_color; text-shadow: none; }
		}
		a:hover {
	    	background: $arg_theme_color2; color: $arg_text_color;
	    	> i { color: $arg_text_color; }
		}
		&.jpli-stop,
		&.jpli-next,
		&.jpli-previous,
		&.jpli-play,
		&.jpli-pause {
			a {
				border-radius: 30px; border: 1px solid rgba(0,0,0,.3); width: 32px; height: 32px; display: inline-block;
				@include box-shadow(inset 0 1px 0 #FFFFFF, 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.6));
			    background: $arg_bg_color; @include linear-gradient( $arg_bg_color, $arg_theme_color2);
			    > i { font-size: 18px; color: $arg_text_color; text-shadow: 0px 1px rgba(255, 255, 255, 0.9), 0px -1px rgba(0,0,0,.9); }
			    &:hover {
			    	background: $arg_theme_color2; color: $arg_text_color;
			    	> i { color: $arg_text_color; }
			    }
			}			
		}		
		a:active {
			background: $arg_theme_color2; @include box-shadow(inset 0 0 3px rgba(0,0,0,5/10));
			> i { color: $arg_text_color; }
		}
		&.jpli-play,
		&.jpli-pause {
			a>i { font-size: 22px; color: $arg_theme_color; }
		}
	}

	.jp-slider-volume-bar,
	.jp-slider-progress {
		height: 4px; border-radius: 2px; background: transparent;
		.slider-volume {
			.highlight-track,
			.track {
				background: $arg_text_color; border: none; border-radius: 2px;
			}
			.dragger {
				width: 18px; height: 18px; margin: 0 auto; margin-top: -9px !important; border: 2px solid rgba(#fff,.95);
				background: $arg_theme_color;
				@include linear-gradient(rgba(#fff,.2), rgba(#000,.3));
    			box-shadow: inset 0 -1px 0 rgba(255,255,255,.3), inset 0 1px 0 rgba(255,255,255,.1), 0 1px 3px #000;
			    border-radius: 8px;
				&:after { display: none; }
			}
		}
	}


	// .jp-play-bar { background-color: #1B89FF; box-shadow: inset 0 3px 3px #00C2FF, inset 0 -3px 3px #57C9FF, 0 0 3px #000; background: #006ccf; @include linear-gradient($arg_theme_color2, $arg_bg_color); }

	.jp-current-time,
	.jp-duration {color: $arg_text_color; font-weight: normal; }


	.jp-playlist {
		background: $arg_bg_color; @include linear-gradient( $arg_bg_color, $arg_theme_color2); margin: 0 15px;
		ul {
			li {
				a {
					color: $arg_text_color; border-bottom: 1px solid rgba(0, 0, 0, 0.5); border-top: 1px solid rgba(255,255,255,.2);
				    padding: 5px 10px; font-size: 15px;
					&:hover { background-color: $arg_theme_color2; }
				}
				&.jp-playlist-current a { background-color: $arg_theme_color2; color: $arg_theme_color; @include box-shadow(inset 0 0 3px rgba(0,0,0,10/100)); }
				.audioItem_desc { opacity: .5; }
			}
		}
	}



	

// SCROLLBARS
::-webkit-scrollbar {
    width: 8px;
	&-track { background: $arg_bg_color; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); @include border-radius(0); }
	&-thumb {@include border-radius(0); background: $arg_theme_color; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); }
	&-thumb:window-inactive {background: $arg_theme_color; opacity: .5; }
}
// SCROLLBARS


 


//-------------------------------------------------------------------------
} // gallery container