// gallery container
div#gallery_div { // #~gallery_div~
//-------------------------------------------------------------------------




	* { outline: none; }

	.jp-audio { font-family: 'Arial', sans-sefif; }
	.jp-interface {
		border-radius: 3px; border: 1px solid $arg_text_color; background: $arg_theme_color2; box-shadow: 0 0px 5px $arg_text_color; position: relative; z-index: 1;
	    .jp-controls-wrap {  }
	}

	a {text-decoration:none;}

	.jp-controls li {
		padding: 2px 2px 2px 3px;
		a {
			border-radius: 3px; border: 1px solid $arg_text_color;
			@include box-shadow(0 1px 3px rgba(13, 25, 32, 26/100), inset 0 1px 0 rgba(255, 255, 255, 60/100), inset 0 -1px 0 rgba(255, 255, 255, 30/100), inset 0 0 5px rgba(255, 255, 255, 30/100));
		    background: $arg_bg_color; @include linear-gradient( $arg_bg_color, $arg_theme_color2);

		    > i { font-size: 16px; color: $arg_text_color; text-shadow: 0px 1px $arg_bg_color; }
		    &:hover {
		    	background: $arg_theme_color2; color: $arg_text_color;
		    	> i { color: $arg_text_color; }
		    }
		}
		a:active {
			background: $arg_theme_color2; @include box-shadow(inset 0 0 3px rgba(0,0,0,5/10));
			> i { color: $arg_text_color; }
		}
		&.on a {
			background: $arg_theme_color; @include box-shadow(none);
			> i { color: $arg_bg_color; text-shadow: none; }
		}
		&.jpli-play,
		&.jpli-pause {
			width: 40px; min-width: 40px;
			a>i { font-size: 26px; }
		}
	}

	.jp-slider-volume-bar,
	.jp-slider-progress {
		height: 5px;
		.slider-volume {
			.highlight-track,
			.track { background-color: $arg_theme_color; @include linear-gradient($arg_theme_color2, $arg_bg_color); border-radius: 5px; box-shadow: 0 0 2px rgba(0, 0, 0, 40/100); opacity: .5; }
			.dragger {
				@include aluminiumTip(); border-radius: 3px; width: 12px; margin-top: -8px !important;
				&:after { border-radius: 0; width: 2px; height: 100%; top: 0; margin-top: 0; margin-left: -1px; }
			}
		}
	}


	// .jp-play-bar { background-color: #1B89FF; box-shadow: inset 0 3px 3px #00C2FF, inset 0 -3px 3px #57C9FF, 0 0 3px #000; background: #006ccf; @include linear-gradient($arg_theme_color2, $arg_bg_color); }

	.jp-current-time,
	.jp-duration {color: $arg_text_color; opacity: .7; }


	.jp-playlist {
		ul {
			background-color: $arg_bg_color; border: 1px solid $arg_text_color; border-top: none;
			li {
				a {
					color: $arg_text_color; border-bottom: 1px solid rgba(0,0,0,10/100);
					&:hover { background-color: $arg_theme_color2; }
				}
				&.jp-playlist-current a { background-color: $arg_theme_color; color: $arg_bg_color; @include box-shadow(inset 0 0 3px rgba(0,0,0,10/100)); }
				.audioItem_desc { opacity: .5; }
			}
		}
	}



	

// SCROLLBARS
::-webkit-scrollbar {
    width: 8px;
	&-track { background: $arg_bg_color; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); @include border-radius(0); }
	&-thumb {@include border-radius(0); background: $arg_theme_color; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); }
	&-thumb:window-inactive {background: $arg_theme_color; opacity: .5; }
}
// SCROLLBARS


 


//-------------------------------------------------------------------------
} // gallery container