// gallery container
div#gallery_div { // #~gallery_div~
//-------------------------------------------------------------------------




	* { outline: none; }

	.jp-audio { font-family: 'Arial', sans-sefif; }
	.jp-interface {
		border-radius: 3px; border: 1px solid rgba(#000, .2);
		@include box-shadow(0 1px 3px rgba(13, 25, 32, 26/100));
	    background: $arg_bg_color;
	    .jp-controls-wrap {  }
	}

	a {text-decoration:none;}
	.jp-controls { color: $arg_text_color; }
	.jp-controls li {
		a {
			// border-left: 1px solid rgba(255, 255, 255, 15/100); border-right: 1px solid rgba(0, 0, 0, 15/100);
		    > i { color: $arg_text_color; text-shadow: rgba(0, 0, 0, 0.4) 1px 1px, rgba(0, 0, 0, 0.2) 2px 2px 1px, rgba(0, 0, 0, 0.1) 3px 3px, rgba(0, 0, 0, 0.1) 4px 4px, rgba(0, 0, 0, 0.1) 5px 5px 1px, rgba(0, 0, 0, 0.05) 8px 8px 2px; }
		    &:hover {
		    	background-color: $arg_theme_color; border-color: $arg_theme_color;
			    > i { color: $arg_text_color; text-shadow: rgba(0, 0, 0, 0.4) 1px 1px, rgba(0, 0, 0, 0.2) 2px 2px 1px, rgba(0, 0, 0, 0.1) 3px 3px, rgba(0, 0, 0, 0.1) 4px 4px, rgba(0, 0, 0, 0.1) 5px 5px 1px, rgba(0, 0, 0, 0.05) 8px 8px 2px; }
		    } 
		}
		a:active {
	    	background-color: $arg_theme_color; color: $arg_bg_color; border-color: $arg_bg_color; box-shadow: inset 0 0 5px rgba(0,0,0,5/10);
	    	> i { color: $arg_bg_color; text-shadow: none; }
		}
		&.on a {
	    	background-color: $arg_theme_color; color: $arg_bg_color; border-color: $arg_bg_color;
	    	> i { color: $arg_bg_color; text-shadow: none; }
		}
		// &.jpli-progress,
		// &.jpli-volume-bar { border-left: 1px solid rgba(255, 255, 255, 7/100); border-right: 1px solid rgba(0, 0, 0, 7/100); }
	}

	.jp-slider-volume-bar,
	.jp-slider-progress {
		height: 10px;
		.slider-volume {
			.highlight-track,
			.track { background-color: $arg_theme_color2; border-radius: 1px; @include box-shadow(inset 0 0 5px rgba(#000,.3)); }
			.dragger { @include aluminiumTip(); width: 9px; border-radius: 0; margin-top: -8px !important;
				&:after { display: none; }
			}
		}
	}


	// .jp-play-bar { background-color: #1B89FF; box-shadow: inset 0 3px 3px #00C2FF, inset 0 -3px 3px #57C9FF, 0 0 3px #000; background: #006ccf; @include linear-gradient($arg_theme_color2, $arg_bg_color); }

	.jp-controls .jp-current-time,
	.jp-controls .jp-duration { color: $arg_text_color; opacity: .7; bottom: -12px; }


	.jp-playlist {
		ul {
			background-color: $arg_theme_color; border-radius: 0 0 4px 4px; border: 1px solid $arg_theme_color2; border-top: none;
			li {
				a {
					color: $arg_bg_color; position: relative;
					> * { position: relative; z-index: 1; }
					&:before { opacity: .4; content: ''; position: absolute; width: 100%; height: 100%; top: 0; left: 0; border-top: 1px solid $arg_theme_color2; }
					&:hover { background-color: $arg_theme_color2; color: $arg_theme_color; }
				}
				&:first-child a:before { border: none; }
				&.jp-playlist-current a { background-color: $arg_theme_color2; color: $arg_theme_color; @include box-shadow(inset 0 0 3px rgba(0,0,0,10/100)); }
				.audioItem_desc { opacity: .5; }
			}
		}
	}



	 

// SCROLLBARS
::-webkit-scrollbar {
    width: 8px;
	&-track { background: $arg_bg_color; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); @include border-radius(0); }
	&-thumb {@include border-radius(0); background: $arg_theme_color; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); }
	&-thumb:window-inactive {background: $arg_theme_color; opacity: .5; }
}
// SCROLLBARS


 


//-------------------------------------------------------------------------
} // gallery container