// gallery container
div#gallery_div { // #~gallery_div~
//-------------------------------------------------------------------------




	* { outline: none; }

	.jp-audio { font-family: 'Roboto', 'Helvetica','Arial', sans-sefif; }
	.jp-container {
		border-radius: 8px; border: 1px solid rgba(#000, .2);
		@include box-shadow(0 1px 5px rgba(13, 25, 32, 40/100));
		@include clearfix();
	    background: $arg_bg_color;		
	}
	.jp-interface {
	    .jp-controls-wrap {  }
	}

	a {text-decoration:none;}
	.jp-controls { color: $arg_text_color; }
	.jp-controls li {
		a {
		    > i { color: $arg_text_color; text-shadow: 0 1px 5px rgba(0, 0, 0, 0.7); }
		    &:hover {
		    	background-color: $arg_theme_color; border-color: $arg_theme_color;
			    > i { color: $arg_bg_color; text-shadow: rgba(0, 0, 0, 0.4) 0 1px; }
		    } 
		}
		a:active {
	    	background-color: $arg_theme_color; color: $arg_bg_color; border-color: $arg_bg_color; box-shadow: inset 0 0 5px rgba(0,0,0,5/10);
	    	> i { color: $arg_theme_color2; text-shadow: none; }
		}
		&.on a {
	    	background-color: $arg_theme_color; color: $arg_bg_color; border-color: $arg_bg_color;
	    	> i { color: $arg_bg_color; text-shadow: none; }
		}
	}

	.jp-slider-volume-bar,
	.jp-slider-progress {
		height: 10px;
		.slider-volume {
			.highlight-track,
			.track { background-color: $arg_theme_color2; border-radius: 1px; @include box-shadow(inset 0 0 5px rgba(#000,.3)); }
			.dragger { @include aluminiumTip(); width: 9px; border-radius: 0; margin-top: -8px !important;
				&:after { display: none; }
			}
		}
	}


	// .jp-play-bar { background-color: #1B89FF; box-shadow: inset 0 3px 3px #00C2FF, inset 0 -3px 3px #57C9FF, 0 0 3px #000; background: #006ccf; @include linear-gradient($arg_theme_color2, $arg_bg_color); }

	.jp-controls .jp-current-time,
	.jp-controls .jp-duration { color: $arg_text_color; opacity: .7; }


	.jp-playlist {
		ul {
			border-top: 1px solid $arg_theme_color2;
			li {
				a {
					color: $arg_text_color; position: relative;
					> * { position: relative; z-index: 1; }
					&:before { opacity: .4; content: ''; position: absolute; width: 100%; height: 100%; top: 0; left: 0; border-top: 1px solid $arg_theme_color2; }
					&:hover { background-color: $arg_theme_color; color: $arg_theme_color2; }
				}
				&:first-child a:before { border: none; }
				&.jp-playlist-current a { background-color: $arg_theme_color; color: $arg_theme_color2; @include box-shadow(inset 0 0 3px rgba(0,0,0,10/100)); }
				.audioItem_desc { opacity: .5; }
			}
		}
	}



	 

// SCROLLBARS
::-webkit-scrollbar {
    width: 8px;
	&-track { background: $arg_bg_color; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); @include border-radius(0); }
	&-thumb {@include border-radius(0); background: $arg_theme_color; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); }
	&-thumb:window-inactive {background: $arg_theme_color; opacity: .5; }
}
// SCROLLBARS


 


//-------------------------------------------------------------------------
} // gallery container