// gallery container
div#gallery_div { // #~gallery_div~
//-------------------------------------------------------------------------




	* { outline: none; }

	.jp-audio { font-family: 'Arial', sans-sefif; }
	.jp-interface {
		border-radius: 3px; border: 1px solid rgba(0,0,0,.7); background: $arg_bg_color; @include linear-gradient( $arg_bg_color, $arg_theme_color2);
	    padding: 0 3px;
		box-shadow: 0 1px 4px rgba(0,0,0,.5); position: relative; z-index: 1;
	    .jp-controls-wrap {  }
	}

	a {text-decoration:none;}

	.jp-controls li {
		padding: 5px 3px 5px 3px;
		a {
			border-radius: 3px; border: 1px solid rgba(0,0,0,.8);
			@include box-shadow(inset 0 1px 0 rgba(255,255,255,.4), 0 1px 1px rgba(255,255,255,0.4), 0 1px 2px rgba(0,0,0,.6), 0 0 3px rgba(0,0,0,.3));
		    background: $arg_bg_color; @include linear-gradient( $arg_bg_color, $arg_theme_color2);

		    > i { font-size: 18px; color: $arg_text_color; text-shadow: 0px 1px $arg_bg_color; }
		    &:hover {
		    	background: $arg_theme_color2; color: $arg_text_color;
		    	> i { color: $arg_text_color; }
		    }
		}
		a:active {
			background: $arg_theme_color2; @include box-shadow(inset 0 0 3px rgba(0,0,0,5/10));
			> i { color: $arg_text_color; }
		}
		&.on a {
			background: $arg_theme_color; @include box-shadow(none);
			> i { color: $arg_theme_color2; text-shadow: none; }
		}
		&.jpli-play,
		&.jpli-pause {
			width: 40px; min-width: 40px;
			a>i { font-size: 18px; }
		}
	}

	.jp-slider-volume-bar,
	.jp-slider-progress {
		height: 6px; box-shadow: 0 1px 0px 0px #969696, 0 -2px 0 #262626; border-radius: 6px; background: #9252b5;
		.slider-volume {
			.highlight-track,
			.track {
				background-color: $arg_theme_color; @include linear-gradient(rgba(255,255,255,0.02), rgba(0,0,0,0.4)); border-radius: 5px;
			}
			.dragger {
				width: 14px; height: 14px; margin: 0 auto; margin-top: -7px !important;
				background: #f8f8f8;
				@include linear-gradient(#f8f8f8, #747474);
    			box-shadow: inset 0 -1px 0 #BDBDBD, inset 0 1px 0 #FFF, 0 3px 4px #000;
    			border: none;
			    border-radius: 7px;
				&:after { display: block; content: ''; width: 4px; height: 5px; background: #646464; position: absolute; top: 50%; left: 50%; margin-top: -2px; margin-left: -2px; border-radius: 4px; box-shadow: 0 1px 0 #DADADA, 0 -1px 0 #272727; }
			}
		}
	}


	// .jp-play-bar { background-color: #1B89FF; box-shadow: inset 0 3px 3px #00C2FF, inset 0 -3px 3px #57C9FF, 0 0 3px #000; background: #006ccf; @include linear-gradient($arg_theme_color2, $arg_bg_color); }

	.jp-current-time,
	.jp-duration {color: $arg_text_color; }


	.jp-playlist {
		background: $arg_bg_color; @include linear-gradient( $arg_bg_color, $arg_theme_color2);
		ul {
			li {
				a {
					color: $arg_text_color; border-bottom: 1px solid rgba(0, 0, 0, 0.5); border-top: 1px solid rgba(255,255,255,.2);
				    padding: 5px 10px; font-size: 15px;
					&:hover { background-color: $arg_theme_color2; }
				}
				&.jp-playlist-current a { background-color: $arg_theme_color; color: $arg_theme_color2; @include box-shadow(inset 0 0 3px rgba(0,0,0,10/100)); }
				.audioItem_desc { opacity: .5; }
			}
		}
		.audioItem_duration { font-size: .75em; margin-top: .3em; }
	}



	

// SCROLLBARS
::-webkit-scrollbar {
    width: 8px;
	&-track { background: $arg_bg_color; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); @include border-radius(0); }
	&-thumb {@include border-radius(0); background: $arg_theme_color; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); }
	&-thumb:window-inactive {background: $arg_theme_color; opacity: .5; }
}
// SCROLLBARS


 


//-------------------------------------------------------------------------
} // gallery container