// gallery container
div#gallery_div { // #~gallery_div~
//-------------------------------------------------------------------------




	* { outline: none; }

	.jp-audio { font-family: 'Arial', sans-sefif; }
	.jp-interface {
		border-radius: 4px; border: 1px solid rgba(0, 0, 0, 0.5); background: $arg_bg_color; @include linear-gradient( $arg_theme_color2, $arg_bg_color);
	    padding: 0 3px;
	    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.3); position: relative; z-index: 1;
	    .jp-controls-wrap {  }
	}

	a {text-decoration:none;}

	.jp-controls li {
		padding: 5px 3px 5px 3px;
		a {
			border-radius: 20px; border: none;
			@include box-shadow(none);
		    background: transparent;
		    > i { font-size: 20px; color: $arg_text_color; text-shadow: 0px 1px $arg_bg_color; }
		}
		&.on a {
			background: transparent; @include box-shadow(none);
			> i { color: $arg_theme_color; text-shadow: none; }
		}
		a:hover {
	    	background: $arg_theme_color2; color: $arg_text_color;
	    	> i { color: $arg_text_color; }
		}
		&.jpli-stop,
		&.jpli-next,
		&.jpli-previous,
		&.jpli-play,
		&.jpli-pause {
			a {
				border-radius: 4px; border: 1px solid rgba(0,0,0,.45);
				@include box-shadow(0 2px 2px rgba(0, 0, 0, 0.25));
			    background: $arg_bg_color; @include linear-gradient( $arg_bg_color, $arg_theme_color2);
			    > i { font-size: 12px; color: $arg_text_color; text-shadow: 0px 1px $arg_bg_color; }
			    &:hover {
			    	background: $arg_theme_color2; color: $arg_text_color;
			    	> i { color: $arg_text_color; }
			    }
			}			
		}		
		a:active {
			background: $arg_theme_color2; @include box-shadow(inset 0 0 3px rgba(0,0,0,5/10));
			> i { color: $arg_text_color; }
		}
		&.jpli-play,
		&.jpli-pause {
			width: 40px; min-width: 40px;
			a>i { font-size: 14px; }
		}
	}

	.jp-slider-volume-bar,
	.jp-slider-progress {
		height: 7px; border-radius: 6px; background: transparent;
		.slider-volume {
			.highlight-track,
			.track {
				background: $arg_theme_color; border: 1px solid $arg_text_color; border-radius: 5px;
			}
			.dragger {
				width: 14px; height: 14px; margin: 0 auto; margin-top: -7px !important; border: 1px solid $arg_text_color;
				background: $arg_bg_color;
				@include linear-gradient($arg_bg_color, rgba(0,0,0,.3));
    			box-shadow: inset 0 -1px 0 rgba(255,255,255,.3), inset 0 1px 0 rgba(255,255,255,.1), 0 1px 3px #000;
			    border-radius: 7px;
				&:after { display: none; }
			}
		}
	}


	// .jp-play-bar { background-color: #1B89FF; box-shadow: inset 0 3px 3px #00C2FF, inset 0 -3px 3px #57C9FF, 0 0 3px #000; background: #006ccf; @include linear-gradient($arg_theme_color2, $arg_bg_color); }

	.jp-current-time,
	.jp-duration {color: $arg_theme_color; font-weight: bold; }


	.jp-playlist {
		background: $arg_bg_color; @include linear-gradient( $arg_bg_color, $arg_theme_color2);
		ul {
			li {
				a {
					color: $arg_text_color; border-bottom: 1px solid rgba(0, 0, 0, 0.5); border-top: 1px solid rgba(255,255,255,.2);
				    padding: 5px 10px; font-size: 15px;
					&:hover { background-color: $arg_theme_color2; }
				}
				&.jp-playlist-current a { background-color: $arg_theme_color2; color: $arg_theme_color; @include box-shadow(inset 0 0 3px rgba(0,0,0,10/100)); }
				.audioItem_desc { opacity: .5; }
			}
		}
	}



	

// SCROLLBARS
::-webkit-scrollbar {
    width: 8px;
	&-track { background: $arg_bg_color; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); @include border-radius(0); }
	&-thumb {@include border-radius(0); background: $arg_theme_color; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); }
	&-thumb:window-inactive {background: $arg_theme_color; opacity: .5; }
}
// SCROLLBARS


 


//-------------------------------------------------------------------------
} // gallery container