// gallery container
div#gallery_div { // #~gallery_div~
//-------------------------------------------------------------------------


	
	* { outline: none; }

	.jp-audio { font-family: 'Tahoma', 'Arial', sans-sefif; }
	.jp-interface {
		border-radius: 2px; border: 1px solid rgba(0, 0, 0, 0.4); background: $arg_bg_color; @include linear-gradient( rgba(255,255,255,.1), rgba(0,0,0,.1));
	    padding: 0 10px; position: relative; z-index: 1;
	    @include box-shadow(inset 0 1px 0 rgba(255,255,255,0.4), inset 0 -1px 0 rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.6), 0 2px 8px rgba(0, 0, 0, 0.55));
	    .jp-controls-wrap {  }
	}

	a {text-decoration:none;}

	.jp-controls li {
		padding: 5px 3px 5px 3px; width: 36px; text-align: center;
		a {
			border-radius: 20px; border: none;
			@include box-shadow(none);
		    background: transparent;
		    > i { font-size: 18px; color: $arg_theme_color2; text-shadow: 0px 1px $arg_bg_color; }
		}
		&.on a {
			background: transparent; @include box-shadow(none);
			> i { color: $arg_theme_color; text-shadow: none; }
		}
		a:hover {
	    	background: $arg_text_color; color: $arg_theme_color2;
	    	> i { color: $arg_theme_color2; }
		}
		&.jpli-stop,
		&.jpli-next,
		&.jpli-previous,
		&.jpli-play,
		&.jpli-pause {
			a {
				border-radius: 30px; border: none; width: 24px; height: 24px; display: inline-block;
				@include box-shadow(inset 0 1px 0 #FFFFFF, 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.6));
			    background: $arg_text_color; @include linear-gradient( rgba(255,255,255,.2), rgba(0,0,0,.2));
			    > i { font-size: 14px; color: $arg_theme_color2; text-shadow: 0px 1px rgba(255, 255, 255, 0.9), 0px -1px rgba(0,0,0,.9); }
			    &:hover {
			    	background: $arg_text_color; @include linear-gradient( rgba(0,0,0,.2), rgba(255,255,255,.2)); color: $arg_theme_color2;
			    	> i { color: $arg_theme_color2; }
			    }
			}			
		}		
		a:active {
			background: $arg_text_color; @include box-shadow(inset 0 0 3px rgba(0,0,0,5/10));
			> i { color: $arg_theme_color2; }
		}
		&.jpli-play,
		&.jpli-pause {
			a {
				width: 32px; height: 32px;
				>i { font-size: 18px; }
			}
		}
	}

	.jp-slider-volume-bar,
	.jp-slider-progress {
		height: 4px; border-radius: 2px; background: transparent;
		.slider-volume {
			.highlight-track,
			.track {
				background: $arg_theme_color2; border: none; border-radius: 2px;
				@include box-shadow(0 1px 0 rgba(255,255,255,.2), 0 -1px 0 rgba(0,0,0,.4));
			}
			.dragger {
				width: 12px; height: 12px; margin: 0 auto; margin-top: -6px !important; border: none;
				@include box-shadow(inset 0 1px 0 #FFFFFF, 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.6));
			    background: $arg_text_color; @include linear-gradient( rgba(255,255,255,.2), rgba(0,0,0,.2));
			    border-radius: 8px;
				&:after { display: none; }
			}
		}
	}


	// .jp-play-bar { background-color: #1B89FF; box-shadow: inset 0 3px 3px #00C2FF, inset 0 -3px 3px #57C9FF, 0 0 3px #000; background: #006ccf; @include linear-gradient($arg_text_color, $arg_bg_color); }

	.jp-current-time,
	.jp-duration { color: $arg_text_color; font-size: 12px !important; font-weight: normal; }


	.jp-playlist {
		background: $arg_bg_color; margin: 0 15px;
		&.jp-visible.cp-show { display: none !important; }
		&:before { background: $arg_theme_color2; opacity: .3; position: absolute; width: 100%; height: 100%; top:0; left:0; content: ''; }
		ul {
			li {
				&:nth-child(even) a:before { background: $arg_theme_color2; opacity: .2; position: absolute; width: 100%; height: 100%; top:0; left:0; content: ''; }
				a {
					color: $arg_text_color;
				    padding: 3px 10px; font-size: 12px;
					&:hover { background-color: $arg_theme_color2; color: $arg_text_color; }
				}
				&.jp-playlist-current a { background-color: $arg_theme_color2; color: $arg_theme_color; }
				.audioItem_desc { opacity: .5; }
			}
		}
	}



	

// SCROLLBARS
::-webkit-scrollbar {
    width: 8px;
	&-track { background: $arg_bg_color; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); @include border-radius(0); }
	&-thumb {@include border-radius(0); background: $arg_theme_color; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); }
	&-thumb:window-inactive {background: $arg_theme_color; opacity: .5; }
}
// SCROLLBARS


 


//-------------------------------------------------------------------------
} // gallery container