// gallery container
div#gallery_div { // #~gallery_div~
//-------------------------------------------------------------------------



	position: relative; z-index: 0;
	* { outline: none; }

	.jp-audio { font-family: 'Arial', sans-sefif; }
	.jp-interface {
		border-radius: 0; border: 1px solid $arg_bg_color; padding: 0 5px;
		@include box-shadow(0 1px 3px rgba(13, 25, 32, 30/100));
	    // background: $arg_bg_color;
	    &:before { position: absolute; display: block; content: ''; background: #3c3d41; background: $arg_bg_color; top: 0; left: 0; width: 100%; height: 100%; opacity: .7; z-index: -1; }
	    .jp-controls-wrap {  }
	}

	a {text-decoration:none;}
	.jp-controls { color: $arg_text_color; }
	.jp-controls li {
		width: 40px; padding: 5px 1px;
		a {
			border-radius: 5px;
			// border-left: 1px solid rgba(255, 255, 255, 15/100); border-right: 1px solid rgba(0, 0, 0, 15/100);
		    > i { font-size: 30px !important; color: $arg_text_color; }
		    &:hover {
		    	background-color: $arg_bg_color; border-color: $arg_theme_color;
			    > i { color: $arg_text_color;  }
		    } 
		}
		a:active {
	    	background-color: $arg_theme_color; color: $arg_bg_color; border-color: $arg_bg_color; box-shadow: inset 0 0 5px rgba(0,0,0,5/10);
	    	> i { color: $arg_text_color; text-shadow: none; }
		}
		&.on a {
	    	background-color: $arg_bg_color; color: $arg_theme_color; border-color: transparent;
	    	> i { color: $arg_theme_color; text-shadow: none; }
		}
		&.jpli-progress .jpli-currentinfo { font-size: 15px; }
		// &.jpli-volume-bar { border-left: 1px solid rgba(255, 255, 255, 7/100); border-right: 1px solid rgba(0, 0, 0, 7/100); }
	}

	.jp-slider-volume-bar,
	.jp-slider-progress {
		height: 10px;
		.slider-volume {
			overflow: hidden;
			.highlight-track,
			.track { background-color: $arg_bg_color; border-radius: 0; }
			.dragger {
				top: 0 !important; width: 100% !important; height: 100% !important; margin: 0 !important;
				&:after { display: block; width: 100%; right: 100%; position: absolute; content: ''; top: 0; height: 100%; background: $arg_theme_color2; @include horizontal-gradient($arg_theme_color,  $arg_theme_color2); }
			}
		}
	}


	// .jp-play-bar { background-color: #1B89FF; box-shadow: inset 0 3px 3px #00C2FF, inset 0 -3px 3px #57C9FF, 0 0 3px #000; background: #006ccf; @include linear-gradient($arg_theme_color2, $arg_bg_color); }

	.jp-controls .jp-current-time,
	.jp-controls .jp-duration { color: $arg_text_color; opacity: .7; bottom: -12px; }


	.jp-playlist {
		font-size: 16px; padding: 0 8px;
		ul {
			background-color: $arg_bg_color; border-radius: 0 0 4px 4px; border: 1px solid $arg_text_color; border-top: none;
			li {
				a {
					padding: 10px; color: $arg_text_color; position: relative;
					> * { position: relative; z-index: 1; }
					&:before { opacity: .3; content: ''; position: absolute; width: 100%; height: 100%; top: 0; left: 0; border-top: 1px solid $arg_bg_color; }
					&:hover { background-color: $arg_theme_color; color: $arg_bg_color; }
				}
				&:first-child a:before { border: none; }
				&.jp-playlist-current a { background-color: $arg_theme_color; color: $arg_bg_color; @include box-shadow(inset 0 0 3px rgba(0,0,0,10/100)); }
				.audioItem_desc { opacity: .5; }
			}
		}
	}



	 

// SCROLLBARS
::-webkit-scrollbar {
    width: 8px;
	&-track { background: transparent; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); @include border-radius(0); }
	&-thumb {@include border-radius(0); background: $arg_theme_color; }
	&-thumb:window-inactive {background: $arg_theme_color; opacity: .5; }
}
// SCROLLBARS


 


//-------------------------------------------------------------------------
} // gallery container