// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------



	font-size: 13px;
	* { @include box-sizing(border-box); }
	.jp-audio {  }
	ul {list-style: none; padding:0; margin:0; display: block; width: 100%; height: 100%;  }
	.jp-stop,
	.jp-mute,
	.jp-unmute,
	.jp-volume-max { display:none!important; }
	.jp-type-playlist { height: 100%; overflow: hidden; width: 100%; position: relative; margin: 0 auto; }
	.jp-type-playlist .jp-interface { position: relative; width: 100%; z-index: 5; height: 40px; overflow: hidden; }
	.jp-controls { display: block; height: 100%; position: absolute; left: 0; width: 15%; top: 0; }
	.jp-controls li { display: block; float: left; background: transparent; height: 100%; padding: 0px; margin:0; width: 32.5%; position: relative; overflow: hidden; }
	.jp-controls li.jpli-pause { margin-left: -32.5%; }
	.jp-controls li > a { z-index: 10; position: relative; }
	.jp-controls li > a > i { font-size: 22px; }
	.jp-play,
	.jp-pause,
	.jp-next,
	.jp-previous { }

	.jp-volume-bar { width: 11%; display: block; height: 100%; margin: 0; position: absolute; left: 88%; }
	.jp-volume-bar-value { display: block; height: 100%; float: left; }

	.jp-progress { height: 11px; width: 40%; display: block; margin: 0; position: absolute; left: 41.5%; top: 50%; margin-top: -5px; }

	.jp-slider-progress { height: 11px; width: 57%; display: block; margin: 0; position: absolute; left: 22.5%; top: 50%; margin-top: -5px; z-index: 5; }
	.jp-progress,
	.slider-volume > .track,
	.slider-volume > .highlight-track { overflow: hidden; }

	.jp-play-bar { height: 100%; display: block; position: absolute; left: 0; }
	.jp-seek-bar { width: 100%; }

	.jp-controls .jp-shuffle,
	.jp-controls .jp-play,
	.jp-controls .jp-pause,
	.jp-controls .jp-next,
	.jp-controls .jp-previous { display:block; width:100%; height:100%; position: absolute; top: 0; left: 0; }
	.jp-current-time,
	.jp-duration { font-size: 12px; z-index: 5; position: absolute; pointer-events: none; top: 50%; margin-top: -.5em; line-height: 1em; height: 1em; }
	.jp-current-time { padding-left: 2px; right: 80%; }
	.jp-duration { padding-right: 2px; left: 81.8%; }

	.jp-playlist { position: relative; top: 0; height: 100%; box-sizing: border-box; overflow-y: auto; height: calc(100% - 40px); height: $arg_playlist_height; }
	.jp-playlist ul { list-style: none; padding: 0; margin: 0; display: block; width: 100%; height: auto; }
	.jp-playlist li { overflow: hidden; display: block; margin: 0; padding: 0; }
	.jp-playlist li.jp-playlist-current {  }
	.jp-playlist li a { line-height: 1.2em; display: block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; position: relative; padding: .3em .5em; }
	.jp-platlist .audioItem_title,
	.jp-platlist .audioItem_desc { font-size: 1em !important; line-height: inherit; }
	.jp-platlist .audioItem_desc { opacity: .6; }
	



	//  volume control
	.slider-volume { margin-left:0 !important;}
	.jp-slider-volume-bar { width: 10%; display: block; height: 100%; margin: 0; position: absolute; left: 88%; top: 50%; margin-top: -5px; height: 11px; }
	.slider-volume { top: 50%; margin-top: -9px; height: 18px; }
	.slider-volume > .dragger { @include aluminiumTip(); }
	.slider-volume > .track,
	.slider-volume > .highlight-track { height: 11px; }
	.jp-slider-volume-bar .track,
	.jp-slider-volume-bar .highlight-track { margin-top: -7px !important; }

 	// Shuffle
	.shufflevisible .jp-controls li { width: 24.2%; }
	.shufflevisible .jp-controls li.jpli-pause { margin-left: -24.2%; }
	.v2 .jp-controls li.jpli-pause { margin-left: 0; display: none; }
 	.shufflevisible .jp-controls .jp-shuffle { }
	.shufflevisible .jp-controls .jpli-shuffle.on {  }
 	// Shuffle

	// playlist  thumb styles
	.playlistThumb:before {content: '';display: inline-block;height: 100%;vertical-align: middle;}
	.playlistThumb img {max-width: 100%;max-height: 100%;display: inline-block;vertical-align: middle;}


	// branding
	.branding {
		.jp-slider-volume-bar { padding-right: 30px; }
		.jp-branding {
			display:block !important; width: 30px; height: 20px; line-height: 20px; position: absolute; top: 50%; margin-top: -10px; right: 10px;
			a {
				img { max-width: 100%; max-height: 100%; display: inline-block; vertical-align: middle; }
				&:after { content: ''; height: 100%; display: inline-block; vertical-align: middle; }
				display: block; width: 100%; height: 100%; line-height: 20px;
			}
		}
	}


//-------------------------------------------------------------------------
} // gallery container