// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------




@media screen and (max-width: 800px) {
	//  ============== new clean code
	.jp-type-playlist {	}

	.jp-interface {
		.jp-controls-wrap {  }
	}

	.jp-controls {
		li {
			> a {
				> i {  }
			}
			&.jpli-mute,
			&.jpli-unmute,
			&.jpli-volume-max { display: none !important; }

			&.jpli-previous {}
			&.jpli-play {}
			&.jpli-pause {}
			&.jpli-stop {}
			&.jpli-next {}
			&.jpli-progress {}
			&.jpli-playlistbtn {}
			&.jpli-shuffle {}
			&.jpli-repeat {}
			&.jpli-mute {}
			&.jpli-unmute {}
			&.jpli-volume-bar {}
			&.jpli-volume-max {}
		}
		.jp-current-time,
		.jp-duration {  }
		.jp-current-time {  }
		.jp-duration {  }
	}
	.jp-slider-volume-bar,
	.jp-slider-progress {
		.slider-volume {
			.highlight-track,
			.track {  }
			.dragger {
				&:after {  }
			}
		}
	}
	.jp-branding { width: 50px; }
	//  ============== new clean code
	.jp-playlist {
	    clear: both;
		ul {}
		li {}
		li.jp-playlist-current {  }
		li a {}
		.audioItem_title,
		.audioItem_desc {}
		.audioItem_desc {}
		.audioItem_duration {}
	}	
	// playlist  thumb styles
	.playlistThumb:before {}
	.playlistThumb img {}
}





@media screen and (max-width: 520px) {
	//  ============== new clean code
	.jp-type-playlist {	}

	.jp-interface {
		height: auto; @include clearfix();
		.jp-controls-wrap { display: block; }
	}

	.jp-controls {
		display: block;
		li {
			display: inline-block; float: left;
			> a {
				> i {  }
			}
			&.jpli-mute,
			&.jpli-unmute,
			&.jpli-volume-max { display: none !important; }
			&.jpli-volume-bar {position: absolute; right: 4px; width: 40%; top: 20px;}

			&.jpli-previous {}
			&.jpli-play {}
			&.jpli-pause {}
			&.jpli-stop {}
			&.jpli-next {}
			&.jpli-progress { display: block; width: 100%; padding: 5px 10px; }
			.jp-info-progress .jp-slider-progress { margin: 5px 0 10px 0; }
			&.jpli-currentinfo { margin: 0; }
			&.jpli-playlistbtn,
			&.jpli-shuffle,
			&.jpli-repeat,
			&.jpli-chromecast { float: right; }
			&.jpli-mute {}
			&.jpli-unmute {}
			&.jpli-volume-bar {}
			&.jpli-volume-max {}
		}
		.jp-current-time,
		.jp-duration {  }
		.jp-current-time {  }
		.jp-duration {  }
	}
	.jp-slider-volume-bar,
	.jp-slider-progress {
		.slider-volume {
			.highlight-track,
			.track {  }
			.dragger {
				&:after {  }
			}
		}
	}
	//  ============== new clean code
	.jp-playlist {		
		ul {}
		li {}
		li.jp-playlist-current {  }
		li a {}
		.audioItem_title,
		.audioItem_desc {}
		.audioItem_desc {}
		.audioItem_duration {}
	}	
	// playlist  thumb styles
	.playlistThumb:before {}
	.playlistThumb img {}
}






@media screen and (max-width: 320px) {
	//  ============== new clean code

	.jp-interface {
		.jp-controls-wrap {  }
	}

	.jp-controls {
		li {
			&.jpli-progress {
				.jpli-progress-wrap { padding-left: 0; padding-right: 0; }
				.jp-info-progress {
					.jpli-currentinfo {
					}
				}
			}
		}
		.jp-current-time,
		.jp-duration { display: none !important; }
	}
}



//-------------------------------------------------------------------------
} // gallery container