// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------




.jp-playlist {
	position: relative; padding: 0 2px; top: 0; height: 100%; box-sizing: border-box; overflow-y: auto; max-height: calc(100% - 40px); max-height: $arg_playlist_height; text-align:left;
	ul { list-style: none; padding: 0; margin: 0; display: block; width: 100%; height: auto; }
	li { overflow: hidden; display: block; margin: 0; padding: 0; }
	li.jp-playlist-current {  }
	li a { line-height: 1.2; display: block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; position: relative; padding: .3em .5em; }
	.audioItem_title,
	.audioItem_desc { font-size: 1em !important; line-height: inherit; max-width: calc(100% - 40px); overflow: hidden; text-overflow: ellipsis; }
	.audioItem_desc { opacity: .6; }
	.audioItem_duration { display: inline-block !important; float: right; font-size: .9em; opacity: .8; font-weight: normal; }
}

// Playlist  thumb styles
.playlistThumb {
	&:before {content: '';display: inline-block;height: 100%;vertical-align: middle;}
	img {max-width: 100%;max-height: 100%;display: inline-block;vertical-align: middle;}
}




//-------------------------------------------------------------------------
} // gallery container
