// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------

	b, i { font-weight: normal; font-style: normal; }
	font-size: 13px; width: 100% !important; text-align: left;
	* { @include box-sizing(border-box); }
	.jp-audio {  }
	ul { list-style: none; padding:0; margin:0; display: block; width: 100%; height: 100%; }


	//  ============== new clean code
	.jp-type-playlist {
		height: 100%; overflow: hidden; width: 100%; position: relative; margin: 0 auto;
	}

	.jp-interface {
		display: none !important; position: relative; z-index: 1;
		.jp-controls-wrap { display: table; border-collapse: collapse; table-layout: fixed; width: 100%; max-width: 100%; z-index: 5; height: 24px; }
	}

	.jp-controls {
		display: table-row; height: 100%; width: 100%; position: static;
		li {
			display: table-cell; vertical-align: middle; background: transparent; width: 25px; max-width: 30px; height: 24px; padding: 0px; margin:0; position: relative; overflow: hidden;
			&.cp-show { display: table-cell !important; }
			&.cp-hide { display: none !important; }
			// &[style="display: block;"],
			// &[style="display:block;"] { display: table-cell !important; }
			> a {
				z-index: 10; position: relative; display: block; width:100%; height:100%; text-align: center;
				> i { font-size: 18px; }
			}
			&.jpli-previous {}
			&.jpli-play,
			&.jpli-pause { >a>i { font-size: 18px; } }
			&.jpli-play,
			&.jpli-pause,
			&.jpli-stop {
				width: 42px;
				a {
					font-size: 13px; line-height: 1; padding: 3px 0; text-transform: capitalize; white-space: nowrap; padding-left: 16px; color: $arg_text_color;
					>i { display: inline-block; position: absolute; left: 0; top: 50%; margin-top: -10px; }
				}
			}
			&.jpli-pause { display: none !important; }

			&.jpli-play.cp-show ~ li.jpli-stop { display: none !important; }
			&.jpli-play.cp-hide ~ li.jpli-stop { display: table-cell !important; }

			&.jpli-next {}
			&.jpli-progress {
				width: 80%; text-align: right; max-width: none; padding: 1px 0 1px 10px; overflow: visible;
				.jpli-progress-wrap { position: relative; z-index: 3; }
				.jp-info-progress {
					clear: both;
					.jpli-currentinfo {
					    // font-size: 12px; margin-top: -2px; margin-bottom: 2px; line-height: 1; font-weight: normal; color: $arg_text_color; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
					}
				}
			}
			&.jpli-playlistbtn {
				width: 0; position: static; display: table-cell !important;
				a {
					position: absolute; width: 24px; left: 0; top: 0;
					>i {
						font-size: 24px;
						&:before { content: '+'; }
					}
				}
				&.on a>i:before { content: '-'; }
			}
			&.jpli-shuffle {}
			&.jpli-repeat {}
			&.jpli-mute {}
			&.jpli-unmute { display: none; }
			&.jpli-volume-bar { padding: 5px 12px; width: 15%; max-width: none; }
			&.jpli-volume-max {}
		}
		[class^="jp-"] > i:before,
		[class*=" jp-"] > i:before { margin: 0 !important; vertical-align: middle; }
		.jp-current-time,
		.jp-duration { font-size: 10px; z-index: 3; pointer-events: none; line-height: 1; height: 1em; position: absolute; bottom: 2px; }
		.jp-current-time { display: block !important; position: absolute; top: 0; font-size: 12px; left: 100%; margin: 0; z-index: 1; padding: 5px 6px 5px 5px; opacity: 1; height: 21px; margin-left: 13px; width: 50px; }
		.jp-duration {  }
	}
	.jp-slider-volume-bar,
	.jp-slider-progress {
		height: 12px; width: 100%; display: block; margin: 0; z-index: 5;
		.slider-volume {
			height: 100%; min-height: 0 !important; margin: 0 !important;
			.highlight-track,
			.track {
				height: 1px; position: absolute; top: 5px !important; margin-top: 0 !important; overflow: visible;
				&:after { content: ''; display: block; position: absolute; width: 100%; height: 16px; top: -7px; left: 0; }
			}
			.dragger {
				z-index: 5; 
				&:after {  }
			}
		}
	}


	//  ============== new clean code





	.jp-playlist {
		display: block !important;
		position: relative; padding: 1px; top: 0; height: 100%; box-sizing: border-box; overflow-y: auto; max-height: calc(100% - 40px); max-height: $arg_playlist_height; text-align:left;
		>ul {
			list-style: none; padding: 0; padding-left: 24px; margin: 0; display: block; width: 100%; height: auto;
			>li {
				overflow: visible; display: block; margin: 0; padding: 0;
				>a {
					line-height: 1.2; display: block; white-space: nowrap; text-overflow: ellipsis; overflow: visible; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; position: relative;
				}
				>.jp-interface { display: none; }
			}
			.audioItem_title,
			.audioItem_desc { font-size: 1em !important; line-height: inherit; max-width: calc(100% - 40px); width: 60%; overflow: hidden; text-overflow: ellipsis; border-right: 1px dotted; display: block; padding: 5px; margin: 0; }
			.audioItem_desc { display: none !important; }
			.audioItem_duration { display: inline-block !important; float: right; font-size: .95em; opacity: .8; font-weight: normal; border-left: 1px dotted; padding: 6px 5px 2px 6px; height: 100%; margin: 2px 0 0 0; }
			>li.jp-playlist-current {
				position: static;
				>a {
					.audioItem_duration {  }
				}
				>.jp-interface {
					display: block !important; width: 100%; padding: 1px 62px 1px 61%; position: absolute; right: 0; top: 0; position: static; margin-bottom: -1px; margin-top: -25px;
					.jp-controls {
						li {
							&.jpli-playlistbtn { i:after { display: none; } }
							&.jpli-shuffle,
							&.jpli-repeat,
							&.jpli-previous,
							&.jpli-next,
							&.jpli-volume-bar,
							&.jpli-volume-max,
							&.jpli-mute,
							&.jpli-unmute { display: none !important; }
							.jp-info-progress { display: inline-block; vertical-align: middle; width: 100%; }
							.jp-duration { display: none !important; }
						}
					}
				}
			}
		}
		&.jp-hidden {
			>ul>li {
				display: none;
				&.jp-playlist-current { display: block !important; }
			}
		}
	}
	







	// playlist  thumb styles
	.playlistThumb:before {content: '';display: inline-block;height: 100%;vertical-align: middle;}
	.playlistThumb img {max-width: 100%;max-height: 100%;display: inline-block;vertical-align: middle;}





//-------------------------------------------------------------------------
} // gallery container