// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------
.jp-type-with-album .jpli-albumbtn { display: table-cell !important; }
.jpli-currentinfo img { display: none; } // temp fix
.jp-album-list {
	position: relative; overflow:auto; overflow-y: hidden; overflow-x: auto;
	ul {
		width: auto; max-width: none; min-width: 100%; position: relative; display: inline-block;
		height: auto; background: $arg_theme_color2; white-space: nowrap; overflow-x: auto;
		&:before { background: $arg_bg_color; content: ''; display: block; position: absolute; width: 100%; height: 100%; left: 0; top: 0; z-index: 0; opacity: .5; }
		li {
			display: inline-block; position: relative; width: 230px; margin: 10px !important; border-radius: 5px; overflow: hidden; border: 1px solid transparent; box-shadow: 0 1px 3px rgba(0,0,0,.3); cursor: pointer;
			background: $arg_bg_color; @include linear-gradient(rgba(#fff, .1),  rgba(#000, .1));
			a { color: $arg_text_color; }
			.albumThumb {
				display: inline-block; vertical-align: middle; float: left; width: 50px; height: 50px; margin-right: 10px; overflow: hidden;
				img { height: 100%; width: auto; max-width: none; }
			}
			&.jp-current-album { border-color: $arg_text_color; }
		}
	}


}

.album-head {
    padding: 5px 10px; @include clearfix();
    p { margin: 5px; }
    p:first-child { float: left; font-weight: bold; font-size: 1.2em; }
    p:last-child { float: right; }
}


//-------------------------------------------------------------------------
} // gallery container
