// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------

	b, i { font-weight: normal; font-style: normal; }
	font-size: 13px; width: 100% !important; text-align: left;
	* { @include box-sizing(border-box); }
	.jp-audio {  }
	ul { list-style: none; padding:0; margin:0; display: block; width: 100%; height: 100%; }


	//  ============== new clean code
	.jp-type-playlist {
		height: 100%; overflow: hidden; width: 100%; position: relative; margin: 0 auto;
	}

	.jp-interface {
		display: block; position: relative; z-index: 1;
		.jp-controls-wrap { display: table; border-collapse: collapse; table-layout: fixed; width: 100%; max-width: 100%; z-index: 5; height: 36px; }
	}

	.jp-controls {
		display: table-row; height: 100%; width: 100%;
		li {
			display: table-cell; vertical-align: middle; background: transparent; width: 35px; max-width: 40px; min-width: 25px; height: 100%; padding: 0px; margin:0; position: relative; overflow: hidden;
			&.cp-show { display: table-cell !important; }
			&.cp-hide { display: none !important; }
			// &[style="display: block;"],
			// &[style="display:block;"] { display: table-cell !important; }
			> a {
				z-index: 10; position: relative; display: block; width:100%; height:100%;
				> i { font-size: 16px; }
			}
			&.jpli-previous {}
			&.jpli-play,
			&.jpli-pause { >a>i { font-size: 22px; } }
			&.jpli-play {}
			&.jpli-stop,
			&.jpli-pause { display: none; }
			&.jpli-next {}
			&.jpli-progress {
				width: 70%; max-width: none; padding: 5px;
				.jpli-progress-wrap {
					position: relative; z-index: 3; display: table; width: 100%; table-layout: fixed;
					>* { display: table-cell !important; vertical-align: middle; padding: 0 3px; position: static !important; float: none !important; }
				}
				.jpli-currentinfo {
					width: 30%; text-align: left;
				    font-size: 13px; line-height: 1; font-weight: normal; color: $arg_text_color; text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
				}
				.jp-info-progress {
					clear: both;
					.jp-slider-progress {  }
				}
			}
			&.jpli-playlistbtn {}
			&.jpli-shuffle {}
			&.jpli-repeat {}
			&.jpli-mute {}
			&.jpli-unmute { display: none; }
			&.jpli-volume-bar { padding: 5px 10px; width: 15%; max-width: none; }
			&.jpli-volume-max {}
		}
		[class^="jp-"] > i:before,
		[class*=" jp-"] > i:before { margin: 0 !important; vertical-align: middle; }
		.jp-current-time,
		.jp-duration { font-size: 12px; z-index: 3; pointer-events: none; line-height: 1; height: 1em; width: 3.5em }
		// .jp-current-time { float: left; left: 12px; }
		// .jp-duration { float: right; right: 12px; }
	}

	.jp-slider-volume-bar,
	.jp-slider-progress {
		height: 10px; width: 100%; display: block; margin: 0; z-index: 5;
		.slider-volume {
			height: 100%; min-height: 0 !important; margin: 0 !important;
			.highlight-track,
			.track { height: 100%; }
			.dragger {
				z-index: 5;
				&:after {  }
			}
		}
	}


	//  ============== new clean code







//-------------------------------------------------------------------------
} // gallery container