// branding
.branding {
	.jp-slider-volume-bar { padding-right: 30px; }
	.jp-branding {
		display:block !important; text-align: center; width: 40px; height: 30px; line-height: 20px; position: absolute; top: 50%; margin-top: -15px; right: 5px; z-index: 5;
		a {
			img { max-width: 100%; max-height: 100%; display: inline-block; vertical-align: middle; }
			&:after { content: ''; height: 100%; display: inline-block; vertical-align: middle; }
			display: block; width: 100%; height: 100%; line-height: 20px;
		}
	}
}
