// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------






// searchbar
.cp-upper-panel {
	&:after { content: ''; display: block; clear: both; }
	@extend .jp-interface;
	height: auto; padding: 3px;	white-space: nowrap;
	>div{ position: relative; }
	a {
		display: inline-block; vertical-align: middle; border-color: $arg_theme_color; background: $arg_bg_color; color: #000; color: $arg_text_color; text-decoration: none; line-height:1; margin: 6px 2px; padding: 10px 5px; border-radius: 3px;
		&:hover { background-color: $arg_theme_color; color: $arg_bg_color; }
	}
	.ze_search_cont {
		float: left; width: 60%; position: relative;
		.ze_searchBox {
			border-radius: 3px; color: $arg_text_color; border: 1px solid $arg_theme_color; outline: none !important; background: $arg_bg_color; opacity: .8em; width: 100%; width: calc(100% - 65px); padding-right: 24px; padding-left: 5px;
			&:focus { opacity: 1; border-color: $arg_text_color; }
		}
		.ze_search_clear { position: absolute; margin-left: -15px; top: 50%; margin-top: -.5em; line-height: 1; color: $arg_text_color; }
	}
	.cp-download-all-link { float: right; text-align: right; }
}








//-------------------------------------------------------------------------
} // gallery container