// gallery container
div#gallery_div { // #~gallery_div~
//-------------------------------------------------------------------------

.jp-type-playlist { overflow: visible; }

.jp-container {
	position: fixed; left: 0; bottom: 0; width: 100%; z-index: 500;
	.jp-playlist { position: absolute; top: auto; bottom: 100%; width: 90%; margin: 0 5%; left: 0px; height: auto; }
}
.cp-upper-panel { position: fixed; left: 0; bottom: 40px; width: 100%; z-index: 499; padding: 0; }

@media screen and (min-width: 1600px){
	.jp-controls {
		li.jpli-volume-bar { width: 7%; }
	}
}

//-------------------------------------------------------------------------
} // gallery container