// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------



// branding
.branding {
	.jp-branding {
		display: table-cell !important; padding: 5px 2px; text-align: right; width: 60px; line-height: 20px; z-index: 5;
		&.cp-hide { display: none !important; }
		&.cp-show { display: table-cell !important; }
		a {
			display: block; width: 100%; height: 40px; line-height: 20px;
			img { max-width: 100%; max-height: 100%; max-height: 40px; display: inline-block; vertical-align: middle; }
			&:after { content: ''; height: 100%; display: inline-block; vertical-align: middle; }
		}
	}
}




//-------------------------------------------------------------------------
} // gallery container
