// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------

	margin: 0 auto;

	@include box-sizing(border-box);
 	width: 100% !important; text-align: left;
	* { @include box-sizing(border-box); }
	.jp-audio {  }
	ul {list-style: none; padding:0; margin:0; display: block; width: 100%; height: 100%;  }
	.jp-stop,
	.jp-mute,
	.jp-unmute,
	.jp-volume-max { display: none !important; }


	.jp-type-playlist { height: 100%; overflow: hidden; width: 100%; position: relative; margin: 0 auto; padding: 0; }
	.jp-type-playlist .jp-interface {
		position: relative; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;
		.jp-slider-progress,
		.jp-slider-volume-bar { display: none !important; }
	}
	.jp-controls {
		display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; opacity: .2; @include transition(.5s ease opacity);
		&:hover { opacity: 1; }
		&:before { content: ''; position: absolute; width: 100%; height: 100%; display: block; background: #23232a; background-color: $arg_text_color; opacity: .7; }
		li { display: block; position: absolute; background: transparent; padding: 0px; margin: 0; overflow: hidden; text-align: center; }
		li.jpli-play,
		li.jpli-pause { width: 100%; height: 100%; z-index: 1; }
		li.jpli-pause { display: none; }
		.jpli-previous,
		.jpli-next { width: 80px; height: 100%; z-index: 2; }
		.jpli-next { right: 0; left: auto; }
		li > a {
			z-index: 10; position: relative;
			&:after { display: inline-block; content: ''; height: 100%; vertical-align: middle; }
		}
		li > a > i { font-size: 24px; margin: 2px 0; font-size: 30px; padding: 13px; border-radius: 30px; white-space: nowrap; line-height: 60px; display: inline-block; vertical-align: middle; width: 60px; height: 60px; border: 2px solid transparent; }
		.jp-play,
		.jp-pause,
		.jp-next,
		.jp-previous { }
		.jpli-playlistbtn {
			display: inline-block !important; position: absolute; right: 70px; border-left: 1px solid $arg_theme_color;
			>a>i { margin: 0; position: relative; width: auto; height: auto; display: inline-block; }
			>a>i:before { content: '+' }
			&.on>a>i:before { content: '-' }
		}
	}

	.jp-controls .jp-playlistbtn,
	.jp-controls .jp-shuffle,
	.jp-controls .jp-play,
	.jp-controls .jp-pause,
	.jp-controls .jp-next,
	.jp-controls .jp-previous { display:block; width:100%; height:100%; position: absolute; top: 0; left: 0; }
	.jp-current-time,
	.jp-duration { display: none; font-size: 12px; z-index: 5; position: absolute; pointer-events: none; top: 50%; margin-top: -.5em; line-height: 1em; height: 1em; }
	.jp-current-time { padding-left: 2px; left: 140px; }
	.jp-duration { padding-right: 2px; right: 120px; }

	.jp-playlist {
		display: block !important; position: relative; top: 0; overflow-y: auto; height: $arg_playlist_height; text-align:left;
		ul { list-style: none; padding: 0; margin: 0; display: block; width: 100%; height: auto; }
		li { overflow: hidden; display: block; margin: 0; padding: 0; }
		li.jp-playlist-current { 
		 }
		li a { font-size: 16px; line-height: 1.2em; display: block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; position: relative; padding: 20px 25px; }
		.audioItem_title,
		.audioItem_desc { font-size: 1em !important; line-height: inherit; }
		&.jp-hidden {
			li { display: none; }
			li.jp-playlist-current {
				display: block;
				a { border-bottom: none; }
			}
		}
		.audioItem_duration { font-size: 11px; display: inline-block !important; float: right; }
	}

	// playlist  thumb styles
	.playlistThumb:before {content: ''; display: inline-block; height: 100%; vertical-align: middle;}
	.playlistThumb img {max-width: 100%; max-height: 100%; display: inline-block; vertical-align: middle;}



	// branding
	@import "layouts/addon-branding";




	// searchbar
	.cp-upper-panel {
		&:after { content: ''; display: block; clear: both; }
		@extend .jp-interface;
		height: auto; padding: 3px;	white-space: nowrap;
		a {
			display: inline-block; vertical-align: middle; color: #000; color: $arg_text_color; text-decoration: none; line-height:1em; padding: 4px 5px; border-radius: 3px;
			&:hover { background: $arg_theme_color; color: $arg_bg_color }
		}
		.ze_search_cont {
			float: left; width: 60%;
			.ze_searchBox {
				border-radius: 3px; color: $arg_text_color; border: 1px solid $arg_theme_color; outline: none !important; background: $arg_bg_color; opacity: .8em; width: 100%; padding-right: 24px; padding-left: 5px;
				&:focus { opacity: 1; border-color: $arg_text_color; }
			}
			.ze_search_clear { position: absolute; margin-left: -15px; margin-top: 3px; color: $arg_text_color; }
		}
		.cp-download-all-link { float: right; text-align: right; }
	}



//-------------------------------------------------------------------------
} // gallery container