body { padding-bottom: 90px; }

// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------


	b, i { font-weight: normal; font-style: normal; }
	font-size: 15px; width: 100% !important; text-align: left;
	* { @include box-sizing(border-box); }
	.jp-audio {  }
	ul {list-style: none; padding:0; margin:0; display: block; width: 100%; height: 100%;  }
	.jp-stop,
	.jp-mute,
	.jp-unmute,
	.jp-volume-max { display:none!important; }
	.jp-type-playlist { height: 100%; overflow: hidden; width: 100%; position: relative; margin: 0 auto; }
	.jp-type-playlist .jp-interface {  position: fixed; bottom: 0; left: 0; width: 100%; overflow: visible; z-index: 500; height: 90px; overflow: visible; border-radius: 0 !important; }
	.jp-controls { display: block; height: 100%; padding-top: 25px; padding-left: 20px; position: absolute; left: 0; width: 88%; top: 0; white-space: nowrap; }
	.jp-controls li { display: inline-block; vertical-align: middle; float: none; background: transparent; padding: 0px; margin:0; width: auto !important; position: relative; overflow: hidden; }
	.jp-controls li > a { z-index: 10; position: relative; padding: 0 10px; line-height: 0; }
	.jp-controls li > a > i { font-size: 22px; position: relative !important; width: auto !important; }
	.jp-play,
	.jp-pause,
	.jp-next,
	.jp-previous { }
	.jp-controls li[style="display: block;"] { display: inline-block !important; }

	.jpli-shuffle {
		background: transparent !important; box-shadow: none !important; color: #333;
		opacity: .3;
		&:hover { background: $arg_theme_color !important; }
		&.on { opacity: 1; }
		i { color: $arg_bg_color !important; }
	}

	.jp-volume-bar { width: 11%; display: block; height: 100%; margin: 0; position: absolute; left: 88%; }
	.jp-volume-bar-value { display: block; height: 100%; float: left; }

	.jp-progress { height: 11px; width: 100%; display: block; margin: 0; position: absolute; left: 0; top: 0; margin-top: 0; z-index: 5; padding: 0; overflow: hidden; }

	.jp-slider-progress { height: 5px; width: 100% !important; display: block; margin: 0; position: absolute; left: 0 !important; top: 0; margin-top: 0; padding: 0 !important; z-index: 5; transition: .5s ease all;  }
	.jp-interface:hover .jp-slider-progress { height: 20px; margin-top: -15px; }
	.jp-progress,
	.slider-volume > .track,
	.slider-volume > .highlight-track { overflow: hidden; }

	.jp-play-bar { height: 100%; display: block; position: absolute; left: 0; }
	.jp-seek-bar { width: 100%; }


	.jp-controls .jp-shuffle,
	.jp-controls .jp-play,
	.jp-controls .jp-pause,
	.jp-controls .jp-next,
	.jp-controls .jp-previous { display:block; width:auto; height:100%; position: relative; top: 0; left: 0; }
	.jp-controls .jpli-currentinfo {
		display: inline-block !important; padding: 5px; height: auto !important;
		* { display: block; font-size: 1.2em; color: $arg_bg_color; font-style: normal; line-height: 1em; }
		i { opacity: .7; font-size: .9em; }
	}

	.jp-controls .jpli-play,
	.jp-controls .jpli-pause {
		>a { padding-left: 0; padding-right: 0; }
		>a>i { font-size: 38px; }
	}


	.jp-current-time,
	.jp-duration { font-size: 12px; z-index: 5; position: absolute; pointer-events: none; top: -5px !important; padding: 0 !important; margin-top: -.5em !important; line-height: 1em; height: 1em; opacity: 0 !important; transition: .5s ease all; z-index: 11; }
	.jp-current-time { left: 5px !important; right: auto !important; }
	.jp-duration { right: 5px; left: auto !important; }

	.jp-interface:hover .jp-current-time,
	.jp-interface:hover .jp-duration { opacity: 1 !important; }



	.jp-playlist { position: relative; top: 0; height: 100%; box-sizing: border-box; overflow-y: auto; max-height: $arg_playlist_height; text-align:left; }
	.jp-playlist ul { list-style: none; padding: 0; margin: 0; display: block; width: 100%; height: auto; }
	.jp-playlist li { overflow: hidden; display: block; margin: 0; padding: 0; }
	.jp-playlist li a {
		line-height: 1.2; display: block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; position: relative; padding: 20px 10px;
		padding-left: 50px;
		&:before {
		    font-family: "cincojplayer05" !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: inherit;
		    display: inline-block; vertical-align: middle; line-height: 1;
		    content: 'b'; font-size: 26px; position: absolute; left: 10px; top: 50%; margin-top: -.5em;
		}
	}
	&.status-play .jp-playlist li.jp-playlist-current {
		a:before { content: 'a'; }
	}
	.jp-playlist .audioItem_title { font-size: 1em; }
	.jp-playlist .audioItem_desc { font-size: .7em; }
	



	//  volume control
	.slider-volume { margin-left:0 !important;}
	.jp-slider-volume-bar { width: 10%; display: block; height: 100%; margin: 0; position: absolute; left: 88%; top: 50%; margin-top: -5px; height: 16px; }
	.jp-slider-volume-bar:before { line-height: 1.2; }
	.slider-volume { top: 0; margin-top: 0; height: 100%; min-height: 0 !important; overflow: hidden; }
	.slider-volume > .dragger { height: 100%; width:1px; top: 0 !important; background: #B72525 !important; background: $arg_theme_color !important; border: none !important; }
	.jp-slider-volume-bar .slider-volume > .dragger:after { content: ''; display: block !important; background: #f00; background: $arg_bg_color; opacity: .6; height: 5px; width: 1000px; position: absolute; right: 5px !important; top: 5px !important; margin: 0 !important; left:auto !important; margin: 0  !important; }
	.slider-volume > .track,
	.slider-volume > .highlight-track { height: 100% !important; border-radius: 0 !important; margin: 0 !important; top: 0 !important; }
	.jp-slider-volume-bar .track,
	.jp-slider-volume-bar .highlight-track { margin-top: 0 !important; }
	.jp-slider-volume-bar .track:before { content: '------------------------'; opacity: .5; display: block; position: absolute; top: 0; color: #fff; font-family: "cincojplayer05" !important; line-height: 16px; font-size: 14px; font-weight: normal; white-space: nowrap; letter-spacing: 2px; }

 	// Shuffle
	.shufflevisible .jp-controls li { width: 24.2%; }
	.shufflevisible .jp-controls li.jpli-pause { margin-left: -24.2%; }
	.v2 .jp-controls li.jpli-pause { margin-left: 0; display: none; }
 	.shufflevisible .jp-controls .jp-shuffle { }
	.shufflevisible .jp-controls .jpli-shuffle.on {  }
 	// Shuffle

	// playlist  thumb styles
	.playlistThumb:before {content: '';display: inline-block;height: 100%;vertical-align: middle;}
	.playlistThumb img {max-width: 100%;max-height: 100%;display: inline-block;vertical-align: middle;}



	// branding
	@import "layouts/addon-branding";


	// searchbar
	.cp-upper-panel {
		&:after { content: ''; display: block; clear: both; }
		@extend .jp-interface;
		height: auto; padding: 3px;	white-space: nowrap;
		a {
			display: inline-block; vertical-align: middle; color: #000; color: $arg_text_color; text-decoration: none; line-height:1em; padding: 4px 5px; border-radius: 3px;
			&:hover { background: $arg_theme_color; color: $arg_bg_color }
		}
		.ze_search_cont {
			float: left; width: 60%;
			.ze_searchBox {
				border-radius: 3px; color: $arg_text_color; border: 1px solid $arg_theme_color; outline: none !important; background: $arg_bg_color; opacity: .8em; width: 100%; padding-right: 24px; padding-left: 5px;
				&:focus { opacity: 1; border-color: $arg_text_color; }
			}
			.ze_search_clear { position: absolute; margin-left: -15px; margin-top: 3px; color: $arg_text_color; }
		}
		.cp-download-all-link { float: right; text-align: right; }
	}




//-------------------------------------------------------------------------
} // gallery container