// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------


	@include box-sizing(border-box);
 	width: 100% !important; text-align: left;
	* { @include box-sizing(border-box); }
	.jp-audio {  }
	ul {list-style: none; padding:0; margin:0; display: block; width: 100%; height: 100%;  }
	.jp-stop,
	.jp-mute,
	.jp-unmute,
	.jp-volume-max { display: none !important; }

	.jp-interface { border: none !important; }

	.jp-type-playlist { height: 100%; overflow: hidden; width: 100%; position: relative; margin: 0 auto; padding: 3px 3px 23px 3px; }
	.jp-type-playlist .jp-interface { position: absolute; bottom: 0; width: 100%; width: calc(100% - 6px); z-index: 5; height: 23px; overflow: hidden; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
	.jp-controls {
		display: block; height: 100%; position: static; float: left; width: 150px; top: 0;
		li { display: block; float: left; background: transparent; height: 100%; padding: 0px; margin:0; width: 45px; position: relative; overflow: hidden; }
		li.jpli-pause { margin-left: -30px; }
		li > a { z-index: 10; position: relative; }
		li > a > i { font-size: 14px; margin: 2px 0; }
		.jpli-play,
		.jpli-pause,
		.jpli-next,
		.jpli-previous { display: none !important; }
		.jpli-playlistbtn {
			display: inline-block !important; position: absolute; right: 0; width: 40px; border-left: 1px solid $arg_theme_color;
			>a>i { margin: 0; }
			>a>i:before { content: '+' }
			&.on>a>i:before { content: '-' }
		}
	}

	.jp-volume-bar { width: 11%; display: block; height: 100%; margin: 0; position: absolute; left: 88%; }
	.jp-volume-bar-value { display: block; height: 100%; float: left; }

	.jp-progress { height: 100%; width: 40%; display: block; margin: 0; position: absolute; left: 41.5%; top: 50%; margin-top: -1px !important; }

	.jp-slider-progress { height: 100%; width: 50%; width: calc(100% - 120px); display: block; margin: 0; position: absolute; left: 0; top: 4px; height: 16px; margin-top: 0; z-index: 5; overflow: hidden; opacity: .8; }
	.jp-progress,
	.slider-volume > .track,
	.slider-volume > .highlight-track { overflow: hidden; height: 100% !important; margin: 0 !important; top: 0; }

	.jp-play-bar { height: 100%; display: block; position: absolute; left: 0; }
	.jp-seek-bar { width: 100%; }

	.jp-controls .jp-playlistbtn,
	.jp-controls .jp-shuffle,
	.jp-controls .jp-play,
	.jp-controls .jp-pause,
	.jp-controls .jp-next,
	.jp-controls .jp-previous { display:block; width:100%; height:100%; position: absolute; top: 0; left: 0; }
	.jp-current-time,
	.jp-duration { display: none !important; font-size: 12px; z-index: 5; position: absolute; pointer-events: none; top: 50%; margin-top: -.5em; line-height: 1em; height: 1em; }
	.jp-current-time { padding-left: 2px; left: 140px; }
	.jp-duration { padding-right: 2px; right: 120px; }

	.jp-playlist {
		display: block !important; position: relative; top: 0; height: 100%; box-sizing: border-box; overflow-y: auto; max-height: $arg_playlist_height; height: calc(100% - 20px); text-align:left;
		ul { list-style: none; padding: 0; margin: 0; display: block; width: 100%; height: auto; }
		li { overflow: hidden; display: block; margin: 0; padding: 0; }
		li.jp-playlist-current { 
			a:before { content: ''; display: inline-block; vertical-align: middle; width: 9px; height: 20px; margin: -6px 6px -3px -7px; background-size: auto 100%; background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAATCAYAAABC3CftAAAAcklEQVQoz2PIzSsoZyAEgIr+A3EWMYr+AXEcIUUg/AeIgwgpAuGfQOxOSBEIfwViW0KKQPgDEJsSUgTCr4BYl5AiEH4KxCqEFIHwYUKKXhAy6S0hN30EYnNC4eRAKMS9CMVdKKFUkEAoFeQSSk/VhBImAMf11SJe91tmAAAAAElFTkSuQmCC'); }
		 }
		li a { font-size: 13px; line-height: 1.2em; display: block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; position: relative; padding: .3em .5em; }
		.audioItem_title,
		.audioItem_desc { font-size: 1em !important; line-height: inherit; }
		&.jp-hidden {
			li { display: none; }
			li.jp-playlist-current {
				display: block;
				a { border-bottom: none; }
			}
		}
		.audioItem_duration {
			font-size: 11px; display: inline-block !important; float: right; border-left: 1px solid $arg_theme_color; padding: 4px 5px; margin: -4px 0;
			&:after {
				font-family: 'cincojplayer02a'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
				font-size: 15px; content: '#'; padding: 4px 8px 4px 11px; margin: -4px 0 -4px 7px; border-left: 1px solid; margin-right: -8px; text-align: center;  display: block; float: right;
			}
		}
		li.jp-playlist-current .audioItem_duration:after { content: '"'; }
	}

	//  volume control
	.slider-volume { margin-left:0 !important;}
	.jp-slider-volume-bar { width: 50px; display: block; height: 100%; margin: 0; position: absolute; right: 38px; }
	.slider-volume { top: 0; margin-top: 0; height: 100%; overflow: hidden; }
	//.slider-volume > .dragger { width: 3px; height: 12px; margin: 0 auto; margin-top: -7.5px !important; }
	.slider-volume > .track,
	.slider-volume > .highlight-track { height: 5px; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }


 	// Shuffle
	.shufflevisible .jp-controls li { width: 24.2%; }
	.shufflevisible .jp-controls li.jpli-pause { margin-left: -24.2%; }
	.v2 .jp-controls li.jpli-pause { margin-left: 0; display: none; }
 	.shufflevisible .jp-controls .jp-shuffle { }
	.shufflevisible .jp-controls .jpli-shuffle.on {  }
 	// Shuffle

	// playlist  thumb styles
	.playlistThumb:before {content: ''; display: inline-block; height: 100%; vertical-align: middle;}
	.playlistThumb img {max-width: 100%; max-height: 100%; display: inline-block; vertical-align: middle;}



	// branding
	@import "layouts/addon-branding";




	// searchbar
	.cp-upper-panel {
		&:after { content: ''; display: block; clear: both; }
		@extend .jp-interface;
		height: auto; padding: 3px;	white-space: nowrap;
		a {
			display: inline-block; vertical-align: middle; color: #000; color: $arg_text_color; text-decoration: none; line-height:1em; padding: 4px 5px; border-radius: 3px;
			&:hover { background: $arg_theme_color; color: $arg_bg_color }
		}
		.ze_search_cont {
			float: left; width: 60%;
			.ze_searchBox {
				border-radius: 3px; color: $arg_text_color; border: 1px solid $arg_theme_color; outline: none !important; background: $arg_bg_color; opacity: .8em; width: 100%; padding-right: 24px; padding-left: 5px;
				&:focus { opacity: 1; border-color: $arg_text_color; }
			}
			.ze_search_clear { position: absolute; margin-left: -15px; margin-top: 3px; color: $arg_text_color; }
		}
		.cp-download-all-link { float: right; text-align: right; }
	}



//-------------------------------------------------------------------------
} // gallery container