// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------








height:auto;
div { height: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.ze-upper-panel { height:20px; }
.jp-playlist { height:$arg_playlist_height; box-sizing:border-box; } 
div.jp-audio { font-family:Verdana, Arial, sans-serif; line-height:1.6; position:relative; width:100%; height: 100% /*$arg_width_h*/; }
div.jp-interface { position: relative; width:100%; height:80px; /*border:2px solid;*/ padding-left: 164px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-right: 15%; }
div.jp-interface ul.jp-controls { display: block; list-style-type:none; padding:0; margin: 0; width: 100%;position: absolute; left: 0; z-index: 10;}
div.jp-interface ul.jp-controls li { display: block; margin:0px; padding:0px; }
div.jp-interface ul.jp-controls a { display: block; position: absolute; overflow:hidden; font-size:0; color: transparent; }
a.jp-play,
a.jp-pause { top:20px; width:40px; height:40px; left:50px; }


.jp-controls [class^="jp-"] > i { font-size: 24px; }

/**/
.jp-controls [class^="jp-"] > i { font-size: 20px; }
a.jp-play { }
a.jp-pause i:before,
a.jp-play i:before { font-size: 36px; }
a.jp-pause {  }
a.jp-stop { top:26px; width:28px; height:28px; left:126px; }
a.jp-previous { left:20px; top:26px; width:28px; height:28px; }
a.jp-next { left:88px; top:26px; width:28px; height:28px; }
div.jp-seek-bar { width:0px; height:15px; cursor: pointer; }
div.jp-play-bar { background: url("~skin_path~images/rounded-trans.png") 0 -100px repeat-x ; width:0px; height:15px; }
a.jp-mute,
a.jp-unmute { 	width: 18px; height: 15px; left: 88%; right: auto; margin-top: 10px; t1op: 50%; }
a.jp-mute { background: url("~skin_path~images/rounded-trans.png") 0 -300px no-repeat; }
a.jp-unmute { background: url("~skin_path~images/rounded-trans.png") -18px -300px no-repeat; }
a.jp-volume-max { t1op:50%; background: url("~skin_path~images/rounded-trans.png") 0 -325px no-repeat; width: 18px; height: 15px; right: 2%; margin-top: 10px; }
/**/




div.jp-progress { position: relative; overflow:hidden; top:32px; background-color: $arg_bg_color; width:auto; height:15px; /*border: 1px solid #666;*/ left:0; }
div.jp-current-time,
div.jp-duration { position: absolute; top:49px; width:50%; font-size:10px; font-style:oblique; left:164px; }
div.jp-duration { text-align: right; }
div.jp-playlist  { position: relative; top: 0; overflow: auto; overflow-x: hidden; overflow-y: auto; margin:0; padding:0; /*border:2px solid;*/ border-top:none; width:100%; font-size:12px; }
div.jp-playlist ul {list-style-type:none; margin:0; padding:0; }
div.jp-type-playlist div.jp-playlist li { /*border-bottom:1px solid;*/ margin:0px; display: block; overflow: hidden; }
div.jp-type-playlist div.jp-playlist li.jplayer_playlist_item_last { 	padding:6px 0 9px 20px; border-bottom:none; }
div.jp-type-playlist div.jp-playlist li.jp-playlist-current { list-style-type:none; font-weight: bold; }
div.jp-type-playlist div.jp-playlist a { padding:5px; text-decoration: none; display:block; }
div.jp-type-playlist div.jp-playlist a:hover {}
div.jp-type-playlist div.jp-playlist a.jp-playlist-current {}


/*  volume control */
.jp-slider-volume-bar{ width: 9%; display: block; height: 25px; margin: 0; position: absolute; right: 3%; top: 50%; margin-top: -12px; }
.slider-volume { width: 100%; margin:0 !important; }



@media screen and (max-width: 1920px) { div.jp-current-time, div.jp-duration { width: 68%; } }
@media screen and (max-width: 940px) { div.jp-current-time, div.jp-duration { width: 64%; } }
@media screen and (max-width: 850px) { div.jp-current-time, div.jp-duration { width: 62%; } }
@media screen and (max-width: 780px) { div.jp-current-time, div.jp-duration { width: 60%; } }
@media screen and (max-width: 720px) { div.jp-current-time, div.jp-duration { width: 57%; } }

@media screen and (max-width: 640px) { 
div.jp-interface{ padding-left: 0; padding-right: 0; }
.jp-mute,
.jp-unmute,
.jp-volume-max,
.jp-volume-bar,
.jp-slider-volume-bar { display: none !important; }  
.jp-slider-progress {  margin-top: 8px !important; position: relative; top: 6px; margin: 0 20px; }   
a.jp-play,
a.jp-pause { top:5px; }
a.jp-stop {	top:10px; }
a.jp-previous { top:10px; }
a.jp-next {	top:10px; }
div.jp-current-time,
div.jp-duration { top: 60px; width: 88%; left: 6%; height: 15px; }
div.jp-progress { top: 47px; width: 88%; left: 6%; }
}


&.mobileLayout div.jp-interface{ padding-left: 0; padding-right: 0; }
&.mobileLayout .jp-mute,
&.mobileLayout .jp-unmute,
&.mobileLayout .jp-volume-max,
&.mobileLayout .jp-volume-bar,
&.mobileLayout .jp-slider-volume-bar { display: none !important; }  
&.mobileLayout .jp-slider-progress {  margin-top: 8px !important; position: relative; top: 6px; margin: 0 20px; }   
&.mobileLayout a.jp-play,
&.mobileLayout a.jp-pause { top:5px; }
&.mobileLayout a.jp-stop {	top:10px; }
&.mobileLayout a.jp-previous { top:10px; }
&.mobileLayout a.jp-next {	top:10px; }
&.mobileLayout div.jp-current-time,
&.mobileLayout div.jp-duration { top: 60px; width: 88%; left: 6%; height: 15px; }
&.mobileLayout div.jp-progress { top: 47px; width: 88%; left: 6%; }




/**/
.shufflevisible .jp-controls .jp-shuffle { background-position: center center; background-repeat: no-repeat; cursor: pointer; width: 24px; height: 14px; outline: none;
}
.shufflevisible .jp-controls .jp-shuffle i:before { font-size: 16px; }
/**/



.shufflevisible .jp-controls .jpli-shuffle {width: 24px; height: 16px; position: absolute; left: 57px; top: 55px; }
.shufflevisible .jp-controls .jpli-shuffle.on { /*border: 1px solid;*/ box-sizing: border-box; }

@media screen and (max-width: 640px) { .shufflevisible .jp-controls .jpli-shuffle { left: 163px; top: 17px; } }

/*playlist  thumb styles */
.playlistThumb:before {content: '';display: inline-block;height: 100%;vertical-align: middle;}
.playlistThumb img {max-width: 100%;max-height: 100%;display: inline-block;vertical-align: middle;}








//-------------------------------------------------------------------------
} // gallery container