// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------



	font-size: 13px; width: 100% !important; text-align: left;
	* { @include box-sizing(border-box); }
	.jp-audio {  }
	ul {list-style: none; padding:0; margin:0; display: block; width: 100%; height: 100%;  }
	.jp-stop,
	.jp-mute,
	.jp-unmute,
	.jp-volume-max { display:none!important; }
	.jp-type-playlist { height: 100%; overflow: hidden; width: 100%; position: relative; margin: 0 auto; }
	.jp-type-playlist .jp-interface { position: relative; width: 100%; z-index: 5; height: 40px; overflow: hidden; border-radius: 40px; }
	.jp-controls { display: block; height: 100%; position: absolute; left: 0; width: 20%; top: 0; }
	.jp-controls li { display: block; float: left; background: transparent; height: 100%; padding: 0px; margin:0; width: 20%; position: relative; overflow: hidden; }
	.jp-controls li.jpli-pause { margin-left: -35%; }
	.jp-controls li.jpli-pause,
	.jp-controls li.jpli-play { width: 35% !important; }
	.jp-controls li > a { z-index: 10; position: relative; }
	.jp-controls li > a > i { font-size: 13px; }
	.jp-controls li.jpli-pause > a > i,
	.jp-controls li.jpli-play > a > i { font-size: 28px; margin-top: -2px; }
	.jp-play,
	.jp-pause,
	.jp-next,
	.jp-previous { }

	.jp-volume-bar { width: 13%; display: block; height: 100%; margin: 0; position: absolute; left: 85%; }
	.jp-volume-bar-value { display: block; height: 100%; float: left; }

	.jp-progress { height: 11px; width: 40%; display: block; margin: 0; position: absolute; left: 41.5%; top: 50%; margin-top: -5px; }

	.jp-slider-progress { height: 11px; width: 60%; display: block; margin: 0; position: absolute; left: 22%; bottom: 9px; z-index: auto; }
	.jp-progress,
	.slider-volume > .track,
	.slider-volume > .highlight-track { overflow: hidden; }

	.jp-play-bar { height: 100%; display: block; position: absolute; left: 0; }
	.jp-seek-bar { width: 100%; }

	.jp-controls .jp-shuffle,
	.jp-controls .jp-play,
	.jp-controls .jp-pause,
	.jp-controls .jp-next,
	.jp-controls .jp-previous { display:block; width:100%; height:100%; position: absolute; top: 0; left: 0; }

	.jp-controls .jpli-currentinfo {
		display: block !important; width: 295% !important; position: absolute; top: 3px !important; border: none; left: 100%; color: $arg_text_color !important; background: transparent !important; height: 1em; overflow: hidden; font-size: 11px; margin-left: 10%; white-space: nowrap; pointer-events: none;   padding: 0 35px; overflow: hidden; text-overflow: ellipsis; text-align: center;
		b { font-weight: normal; }
		i { opacity: .5; }
		@include mobile-only { width: 180% !important; }
	}

	.jp-current-time,
	.jp-duration { font-size: 10px; font-weight: bold; z-index: 5; position: absolute; pointer-events: none; top: 5px; margin: 0; line-height: 1em; height: 1em; }
	.jp-current-time { padding-left: 2px; right: 75.5%; }
	.jp-duration { padding-right: 2px; left: 78.5%; }

	.jp-playlist { position: relative; top: 0; height: 100%; margin: 0 18px; box-sizing: border-box; overflow-y: auto; height: calc(100% - 40px); height: $arg_playlist_height; text-align:left; }
	.jp-playlist ul { list-style: none; padding: 0; margin: 0; display: block; width: 100%; height: auto; }
	.jp-playlist li { overflow: hidden; display: block; margin: 0; padding: 0; }
	.jp-playlist li.jp-playlist-current {  }
	.jp-playlist li a { line-height: 1.2em; display: block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; position: relative; padding: .3em .5em; }
	.jp-playlist .audioItem_title,
	.jp-playlist .audioItem_desc { font-size: 1em !important; line-height: inherit; }
	.jp-playlist .audioItem_desc { opacity: .6; }
	



	//  volume control
	.slider-volume { margin-left:0 !important;}
	.jp-slider-volume-bar { width: 10%; display: block; height: 100%; margin: 0; position: absolute; left: 88%; top: 50%; margin-top: -5px; height: 11px; }
	.slider-volume { top: 50%; margin-top: -7px; height: 18px; }
	.slider-volume > .dragger { @include aluminiumTip(); z-index: 6; }
	.slider-volume > .track,
	.slider-volume > .highlight-track { height: 11px; }
	.jp-slider-volume-bar .track,
	.jp-slider-volume-bar .highlight-track { margin-top: -7px !important; }

 	// Shuffle
	.shufflevisible .jp-controls li { width: 20.2%; }
	.shufflevisible .jp-controls li.jpli-pause { margin-left: -24.2%; }
	.v2 .jp-controls li.jpli-pause { margin-left: 0; display: none; }
 	.shufflevisible .jp-controls .jp-shuffle { }
	.shufflevisible .jp-controls .jpli-shuffle.on {  }
 	// Shuffle

	// playlist  thumb styles
	.playlistThumb:before {content: '';display: inline-block;height: 100%;vertical-align: middle;}
	.playlistThumb img {max-width: 100%;max-height: 100%;display: inline-block;vertical-align: middle;}



	// branding
	@import "layouts/addon-branding";



	// searchbar
	.cp-upper-panel {
		&:after { content: ''; display: block; clear: both; }
		@extend .jp-interface;
		height: auto; padding: 3px;	white-space: nowrap;
		a {
			display: inline-block; vertical-align: middle; color: #000; color: $arg_text_color; text-decoration: none; line-height:1em; padding: 4px 5px; border-radius: 3px;
			&:hover { background: $arg_theme_color; color: $arg_bg_color }
		}
		.ze_search_cont {
			float: left; width: 60%;
			.ze_searchBox {
				border-radius: 3px; color: $arg_text_color; border: 1px solid $arg_theme_color; outline: none !important; background: $arg_bg_color; opacity: .8em; width: 100%; padding-right: 24px; padding-left: 5px;
				&:focus { opacity: 1; border-color: $arg_text_color; }
			}
			.ze_search_clear { position: absolute; margin-left: -15px; margin-top: 3px; color: $arg_text_color; }
		}
		.cp-download-all-link { float: right; text-align: right; }
	}




//-------------------------------------------------------------------------
} // gallery container