// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------


	@include box-sizing(border-box);
 	width: 100% !important; text-align: left;
	* { @include box-sizing(border-box); }
	.jp-audio {  }
	ul {list-style: none; padding:0; margin:0; display: block; width: 100%; height: 100%;  }
	.jp-stop,
	.jp-mute,
	.jp-unmute,
	.jp-volume-max { display: none !important; }


	.jp-type-playlist { height: 100%; overflow: hidden; width: 100%; position: relative; margin: 0 auto; padding: 10px 5px; }
	.jp-type-playlist .jp-interface { display:none !important; position: relative; width: 100%; width: calc(100% - 6px); z-index: 5; height: 40px; overflow: hidden; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
	.jp-controls {
		display: block; height: 100%; position: static; float: left; width: 150px; top: 0;
		li { display: block; float: left; background: transparent; height: 100%; padding: 0px; margin:0; width: 45px; position: relative; overflow: hidden; }
		li.jpli-pause { margin-left: -30px; }
		li > a { z-index: 10; position: relative; }
		li > a > i { font-size: 14px; margin: 2px 0; }
		.jp-play,
		.jp-pause,
		.jp-next,
		.jp-previous { }
		.jpli-playlistbtn {
			display: inline-block !important; position: absolute; right: 70px; border-left: 1px solid $arg_theme_color;
			>a>i { margin: 0; }
			>a>i:before { content: '+' }
			&.on>a>i:before { content: '-' }
		}
	}

	.jp-volume-bar { width: 11%; display: block; height: 100%; margin: 0; position: absolute; left: 88%; }
	.jp-volume-bar-value { display: block; height: 100%; float: left; }

	.jp-progress { height: 10px; width: 40%; display: block; margin: 0; position: absolute; left: 41.5%; top: 50%; margin-top: -1px !important; }

	.jp-slider-progress { height: 100%; width: 50%; width: calc(100% - 340px); display: block; margin: 0; position: absolute; left: 180px; top: 14px; margin-top: 0; z-index: 5; overflow: hidden; opacity: .8; }
	.jp-progress,
	.slider-volume > .track,
	.slider-volume > .highlight-track { overflow: hidden; height: 100% !important; margin: 0 !important; top: 0; }

	.jp-play-bar { height: 100%; display: block; position: absolute; left: 0; }
	.jp-seek-bar { width: 100%; }

	.jp-controls .jp-playlistbtn,
	.jp-controls .jp-shuffle,
	.jp-controls .jp-play,
	.jp-controls .jp-pause,
	.jp-controls .jp-next,
	.jp-controls .jp-previous { display:block; width:100%; height:100%; position: absolute; top: 0; left: 0; }
	.jp-current-time,
	.jp-duration { font-size: 12px; z-index: 5; position: absolute; pointer-events: none; top: 50%; margin-top: -.5em; line-height: 1em; height: 1em; }
	.jp-current-time { padding-left: 2px; left: 140px; }
	.jp-duration {padding-right: 2px; right: 120px; }

	.jp-playlist {
		display: block !important; position: relative; top: 0; height: 100%; box-sizing: border-box; overflow-y: auto; height: $arg_playlist_height; height: calc(100% - 20px); text-align:left;
		ul { list-style: none; padding: 0; margin: 0; display: block; width: 100%; height: auto; }
		li {
			overflow: hidden; display: block; margin: 0; padding: 0;
			a {
				font-size: 15px; line-height: 1.2em; display: block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; position: relative; padding: .6em;
				>* { z-index: 1; position: relative; }
			}
		}
		.audioItem_title,
		.audioItem_desc { font-size: 1em !important; line-height: inherit; vertical-align: middle; }
		&.jp-hidden {
			li { display: none; }
			li.jp-playlist-current {
				display: block;
				a { border-bottom: none; }
			}
		}
		.audioItem_duration { font-size: 13px; display: inline-block !important; float: right; margin-top: 2px; padding: 3px 5px; background: #353535; 	color: #fff; }
	}

	//  volume control
	.slider-volume { margin-left:0 !important;}
	.jp-slider-volume-bar { width: 50px; display: block; height: 100%; margin: 0; position: absolute; right: 0; }
	.slider-volume { top: 0; margin-top: 0; height: 100%; overflow: hidden; }
	//.slider-volume > .dragger { width: 3px; height: 12px; margin: 0 auto; margin-top: -7.5px !important; }
	.slider-volume > .track,
	.slider-volume > .highlight-track { height: 5px; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }


	// playlist  thumb styles
	.playlistThumb:before {content: ''; display: inline-block; height: 100%; vertical-align: middle;}
	.playlistThumb img {max-width: 100%; max-height: 100%; display: inline-block; vertical-align: middle;}



	// branding
	@import "layouts/addon-branding";



//-------------------------------------------------------------------------
} // gallery container