// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------




@mixin mobileView() {
	.jp-controls { width: 34%; }
	.jp-slider-volume-bar { display: none; }
	.jp-current-time { left: 33%; right: auto; padding: 0 0 0 2px; top: .8em; }
	.jp-duration { right: 0; left: auto; padding: 0 2px 0 0; top: .8em; }
	.jp-progress,
	.jp-slider-progress	{ left: 37.5%; width: 60%; margin-top: -2px; z-index: 10; }
	.jp-playlist {  }


	// branding
	.branding {
		.jp-slider-progress { padding-right: 40px; }
		.jp-duration {padding-right: 45px;}
	}


}

.mobileLayout { @include mobileView(); }
@media screen and (max-width: 750px) { @include mobileView(); }





//-------------------------------------------------------------------------
} // gallery container




