// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------





@mixin mobileView() {
	.jp-controls { width: 34%; }
	.jp-slider-volume-bar { display: none; }
	.jp-current-time { left: 33%; right: auto; padding: 0 0 0 2px; }
	.jp-duration { right: 0; left: auto; padding: 0 2px 0 0; }
	.jp-progress,
	.jp-slider-progress	{ left: 37.5%; width: 60%; margin-top: 2px; z-index: 10; }
	.jp-playlist { position: absolute; z-index: 5; top: 5px; width: 41%; left: 46%; height: 1em; text-align: center; }
}

.mobileLayout { @include mobileView(); }
@media screen and (max-width: 750px) { @include mobileView(); }






//-------------------------------------------------------------------------
} // gallery container




