// gallery container
div#gallery_div/*#~gallery~_div*/{
//-------------------------------------------------------------------------


	@include box-sizing(border-box);
 	width: 100% !important; text-align: left;
	* { @include box-sizing(border-box); }
	.jp-audio {  }
	ul {list-style: none; padding:0; margin:0; display: block; width: 100%; height: 100%;  }
	.jp-stop,
	.jp-mute,
	.jp-unmute,
	.jp-volume-max { display:none!important; }
	.jp-type-playlist { height: 100%; overflow: hidden; width: 100%; position: relative; margin: 0 auto; }
	.jp-type-playlist .jp-interface { position: relative; width: 100%; z-index: 5; height: 20px; overflow: hidden; }
	.jp-controls { display: block; height: 100%; position: absolute; left: 0; width: 15%; top: 0; }
	.jp-controls li { display: block; float: left; background: transparent; height: 100%; padding: 0px; margin:0; width: 32.5%; position: relative; overflow: hidden; }
	.jp-controls li.jpli-pause { margin-left: -32.5%; }
	.jp-controls li > a { z-index: 10; position: relative; }
	.jp-controls li > a > i { font-size: 14px; }
	.jp-play,
	.jp-pause,
	.jp-next,
	.jp-previous { }

	.jp-volume-bar { width: 11%; display: block; height: 100%; margin: 0; position: absolute; left: 88%; }
	.jp-volume-bar-value { display: block; height: 100%; float: left; }

	.jp-progress { height: 11px; width: 40%; display: block; margin: 0; position: absolute; left: 41.5%; top: 50%; margin-top: -1px !important; }

	.jp-slider-progress { height: 8px; width: 59%; display: block; margin: 0; position: absolute; left: 21.5%; top: 50%; margin-top: -4px; z-index: 5; }
	.jp-progress,
	.slider-volume > .track,
	.slider-volume > .highlight-track { overflow: hidden; }

	.jp-play-bar { height: 100%; display: block; position: absolute; left: 0; }
	.jp-seek-bar { width: 100%; }

	.jp-controls .jp-shuffle,
	.jp-controls .jp-play,
	.jp-controls .jp-pause,
	.jp-controls .jp-next,
	.jp-controls .jp-previous { display:block; width:100%; height:100%; position: absolute; top: 0; left: 0; }
	.jp-current-time,
	.jp-duration { font-size: 11px; z-index: 5; position: absolute; pointer-events: none; top: 50%; margin-top: -.5em; line-height: 1em; height: 1em; }
	.jp-current-time { padding-left: 2px; right: 81%; }
	.jp-duration {padding-right: 2px; left: 81.8%; }

	.jp-playlist {
		position: relative; top: 0; height: 100%; box-sizing: border-box; overflow-y: auto; height: $arg_playlist_height; height: calc(100% - 20px); text-align:left;
		ul { list-style: none; padding: 0; margin: 0; display: block; width: 100%; height: auto; }
		li { overflow: hidden; display: block; margin: 0; padding: 0; }
		li.jp-playlist-current {  }
		li a { font-size: 10px; line-height: 1.2em; display: block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; position: relative; padding: .3em .5em; }
		.audioItem_title,
		.audioItem_desc { font-size: 1em !important; line-height: inherit; }
	}

	//  volume control
	.slider-volume { margin-left:0 !important;}
	.jp-slider-volume-bar { width: 10%; display: block; height: 100%; margin: 0; position: absolute; left: 88%; }
	.slider-volume { top: 50%; margin-top: -9px; height: 18px; }
	//.slider-volume > .dragger { width: 3px; height: 12px; margin: 0 auto; margin-top: -7.5px !important; }
	.slider-volume > .track,
	.slider-volume > .highlight-track { height: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }


 	// Shuffle
	.shufflevisible .jp-controls li { width: 24.2%; }
	.shufflevisible .jp-controls li.jpli-pause { margin-left: -24.2%; }
	.v2 .jp-controls li.jpli-pause { margin-left: 0; display: none; }
 	.shufflevisible .jp-controls .jp-shuffle { }
	.shufflevisible .jp-controls .jpli-shuffle.on {  }
 	// Shuffle

	// playlist  thumb styles
	.playlistThumb:before {content: '';display: inline-block;height: 100%;vertical-align: middle;}
	.playlistThumb img {max-width: 100%;max-height: 100%;display: inline-block;vertical-align: middle;}



	// branding
	@import "layouts/addon-branding";




	// searchbar
	.cp-upper-panel {
		&:after { content: ''; display: block; clear: both; }
		@extend .jp-interface;
		height: auto; padding: 3px;	white-space: nowrap;
		a {
			display: inline-block; vertical-align: middle; color: #000; color: $arg_text_color; text-decoration: none; line-height:1em; padding: 4px 5px; border-radius: 3px;
			&:hover { background: $arg_theme_color; color: $arg_bg_color }
		}
		.ze_search_cont {
			float: left; width: 60%;
			.ze_searchBox {
				border-radius: 3px; color: $arg_text_color; border: 1px solid $arg_theme_color; outline: none !important; background: $arg_bg_color; opacity: .8em; width: 100%; padding-right: 24px; padding-left: 5px;
				&:focus { opacity: 1; border-color: $arg_text_color; }
			}
			.ze_search_clear { position: absolute; margin-left: -15px; margin-top: 3px; color: $arg_text_color; }
		}
		.cp-download-all-link { float: right; text-align: right; }
	}






	@media screen and (max-width: 750px) { 
		.jp-current-time,
		.jp-duration { font-size: 9px; }
	}
	.mobileLayout {
		.jp-current-time,
		.jp-duration { font-size: 9px; }
	}


//-------------------------------------------------------------------------
} // gallery container