div#~gallery_div~ div { max-height: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
div#~gallery_div~ .ze-upper-panel { height:20px; }
div#~gallery_div~ { height:auto; }
div#~gallery_div~ .jp-playlist { height:~arg_playlist_height~px; box-sizing:border-box; } 
div#~gallery_div~ div.jp-audio { font-family:Verdana, Arial, sans-serif; line-height:1.6; color: #666; position:relative; width:100%; height: ~arg_width_h~px; }
div#~gallery_div~ div.jp-interface { position: relative; background-color:#~arg_bg_color~;	width:100%; height:80px; border:2px solid #fff;
	-moz-border-radius-topleft:7px; 
	-webkit-border-top-left-radius:7px;
	-moz-border-radius-topright:7px; 
	-webkit-border-top-right-radius:7px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	padding-left: 164px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-right: 15%;
}

div#~gallery_div~ div.jp-interface ul.jp-controls { display: block; list-style-type:none; padding:0; margin: 0; width: 100%;position: absolute; left: 0; z-index: 10;}
div#~gallery_div~ div.jp-interface ul.jp-controls li { display: block; margin:0px;	padding:0px; }
div#~gallery_div~ div.jp-interface ul.jp-controls a { display: block; position: absolute; overflow:hidden;  font-size:0; color: transparent; }
div#~gallery_div~ a.jp-play,
div#~gallery_div~ a.jp-pause { top:20px; width:40px; height:40px; left:50px; }
div#~gallery_div~ a.jp-play { background: url("~skin_path~images/rounded-trans.png") 0 0 no-repeat; }
div#~gallery_div~ a.jp-pause { background: url("~skin_path~images/rounded-trans.png") 0 -50px no-repeat; }
div#~gallery_div~ a.jp-stop { top:26px; background: url("~skin_path~images/rounded-trans.png") 0 -180px no-repeat; width:28px; height:28px; left:126px; }
div#~gallery_div~ a.jp-previous { left:20px; top:26px; background: url("~skin_path~images/rounded-trans.png") 0 -260px no-repeat; width:28px; height:28px; }
div#~gallery_div~ a.jp-next { left:88px; top:26px; background: url("~skin_path~images/rounded-trans.png") 0 -220px no-repeat; width:28px; height:28px; }
div#~gallery_div~ div.jp-progress { position: relative; overflow:hidden; top:32px; background-color: #~arg_bg_color~; width:auto; height:15px; border: 1px solid #666; left:0; }
div#~gallery_div~ div.jp-seek-bar { background: url("~skin_path~images/rounded-trans.png") 0 -125px repeat-x; width:0px; height:15px; cursor: pointer; }
div#~gallery_div~ div.jp-play-bar { background: url("~skin_path~images/rounded-trans.png") 0 -100px repeat-x ; width:0px; height:15px; }
div#~gallery_div~ a.jp-mute,
div#~gallery_div~ a.jp-unmute { 	width: 18px; height: 15px; left: 88%; right: auto; margin-top: 10px; t1op: 50%; }
div#~gallery_div~ a.jp-mute { background: url("~skin_path~images/rounded-trans.png") 0 -300px no-repeat; }
div#~gallery_div~ a.jp-unmute { background: url("~skin_path~images/rounded-trans.png") -18px -300px no-repeat; }
div#~gallery_div~ a.jp-volume-max { t1op:50%; background: url("~skin_path~images/rounded-trans.png") 0 -325px no-repeat; width: 18px; height: 15px; right: 2%; margin-top: 10px; }
div#~gallery_div~ div.jp-current-time,
div#~gallery_div~ div.jp-duration {
	position: absolute;
	top:49px;
	width:50%;
	font-size:10px;
	font-style:oblique;
	color:#~arg_text_color~;
	left:164px;
}
div#~gallery_div~ div.jp-duration {
	text-align: right;
}
div#~gallery_div~ div.jp-playlist  {
    position: relative;
    top: 0;
	overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
	scrollbar-base-color: #~arg_bg_color~;
	margin:0;
	padding:0;
	background-color:#~arg_bg_color~;
	border:2px solid #fff;
	border-top:none;
	width:100%;
	font-size:12px;
	border-bottom-left-radius:7px;
	-moz-border-radius-bottomright:7px; 
	border-bottom-right-radius:7px;
	-moz-border-radius-bottomleft:7px; 
	-webkit-border-bottom-left-radius:7px;
	-moz-border-radius-bottomright:7px; 
	-webkit-border-bottom-right-radius:7px;
}
div#~gallery_div~ div.jp-playlist ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
div#~gallery_div~ div.jp-type-playlist div.jp-playlist li {
	padding:5px;
	border-bottom:1px solid #666;
	margin:0px; display: block; overflow: hidden;
}
div#~gallery_div~ div.jp-type-playlist div.jp-playlist li.jplayer_playlist_item_last {
	padding:6px 0 9px 20px;
	border-bottom:none;
}
div#~gallery_div~ div.jp-type-playlist div.jp-playlist li.jp-playlist-current {
	list-style-type:none;
	color: #fff; font-weight: bold;
	background: rgba(0,0,0,.2);
}
div#~gallery_div~ div.jp-type-playlist div.jp-playlist a {
	color: #~arg_text_color~;
	text-decoration: none;
    display:block;
}
div#~gallery_div~ div.jp-type-playlist div.jp-playlist a:hover {
	color:#fff;
}
div#~gallery_div~ div.jp-type-playlist div.jp-playlist a.jp-playlist-current {
	color:#fff;
}
div#~gallery_div~ .audioItem_duration { display: inline-block !important; float: right; font-size: .9em; opacity: .8; font-weight: normal; }



/*  volume control */
div#~gallery_div~ .jp-slider-volume-bar{ width: 9%; display: block; height: 25px; margin: 0; position: absolute; right: 3%; top: 50%; margin-top: -12px; }
div#~gallery_div~ .slider-volume { width: 100%; margin:0 !important; }

div#~gallery_div~ .slider-volume > .dragger {
	width: 16px;
	height: 16px;
	margin: 0 auto;
	border: 1px solid rgba(255,255,255,0.6);

  -moz-box-shadow: 0 0px 2px 1px rgba(0,0,0,0.5), 0 2px 5px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0px 2px 1px rgba(0,0,0,0.5), 0 2px 5px 2px rgba(0,0,0,0.2);
  box-shadow: 0 0px 2px 1px rgba(0,0,0,0.5), 0 2px 5px 2px rgba(0,0,0,0.2);

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

  background: #c5c5c5;
  background: -moz-linear-gradient(90deg, rgba(180,180,180,1) 20%, rgba(230,230,230,1) 50%, rgba(180,180,180,1) 80%);
	background:	-webkit-radial-gradient(  50%   0%,  12% 50%, hsla(0,0%,100%,1) 0%, hsla(0,0%,100%,0) 100%),
  	          -webkit-radial-gradient(  50% 100%, 12% 50%, hsla(0,0%,100%,.6) 0%, hsla(0,0%,100%,0) 100%),
              -webkit-radial-gradient(	50% 50%, 200% 50%, hsla(0,0%,90%,1) 5%, hsla(0,0%,85%,1) 30%, hsla(0,0%,60%,1) 100%);
}

div#~gallery_div~ .slider-volume > .track, .slider-volume > .highlight-track {
  height: 11px;

  background: #787878;
  background: -moz-linear-gradient(top, #787878, #~arg_theme_color~);
  background: -webkit-linear-gradient(top, #787878, #~arg_theme_color~);
  background: linear-gradient(top, #787878, #~arg_theme_color~);

  -moz-box-shadow: inset 0 2px 5px 1px rgba(0,0,0,0.15), 0 1px 0px 0px rgba(230,230,230,0.9), inset 0 0 1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0 2px 5px 1px rgba(0,0,0,0.15), 0 1px 0px 0px rgba(230,230,230,0.9), inset 0 0 1px 1px rgba(0,0,0,0.2);
  box-shadow: inset 0 2px 5px 1px rgba(0,0,0,0.15), 0 1px 0px 0px rgba(230,230,230,0.9), inset 0 0 1px 1px rgba(0,0,0,0.2);

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

div#~gallery_div~ .slider-volume > .highlight-track {
  background-color: #c5c5c5;
  background: -moz-linear-gradient(top, #c5c5c5, #~arg_theme_color~);
  background: -webkit-linear-gradient(top, #c5c5c5, #~arg_theme_color~);
  background: linear-gradient(top, #c5c5c5, #~arg_theme_color~);
}





@media screen and (max-width: 1920px) { div#~gallery_div~ div.jp-current-time, div#~gallery_div~ div.jp-duration { width: 68%; } }
@media screen and (max-width: 940px) { div#~gallery_div~ div.jp-current-time, div#~gallery_div~ div.jp-duration { width: 64%; } }
@media screen and (max-width: 850px) { div#~gallery_div~ div.jp-current-time, div#~gallery_div~ div.jp-duration { width: 62%; } }
@media screen and (max-width: 780px) { div#~gallery_div~ div.jp-current-time, div#~gallery_div~ div.jp-duration { width: 60%; } }
@media screen and (max-width: 720px) { div#~gallery_div~ div.jp-current-time, div#~gallery_div~ div.jp-duration { width: 57%; } }
/*@media screen and (max-width: 640px) { div#~gallery_div~ div.jp-current-time, div#~gallery_div~ div.jp-duration { width: 53%; } }
@media screen and (max-width: 580px) { div#~gallery_div~ div.jp-current-time, div#~gallery_div~ div.jp-duration { width: 43%; } }
@media screen and (max-width: 500px) { div#~gallery_div~ div.jp-current-time, div#~gallery_div~ div.jp-duration { width: 36%; } }
*/

@media screen and (max-width: 640px) { 
div#~gallery_div~ div.jp-interface{ padding-left: 0; padding-right: 0; }
div#~gallery_div~ .jp-mute,
div#~gallery_div~ .jp-unmute,
div#~gallery_div~ .jp-volume-max,
div#~gallery_div~ .jp-volume-bar,
div#~gallery_div~ .jp-slider-volume-bar { display: none !important; }  
div#~gallery_div~ .jp-slider-progress {  margin-top: 8px !important; position: relative; top: 6px; margin: 0 20px; }   
div#~gallery_div~ a.jp-play,
div#~gallery_div~ a.jp-pause { top:5px; }
div#~gallery_div~ a.jp-stop {	top:10px; }
div#~gallery_div~ a.jp-previous { top:10px; }
div#~gallery_div~ a.jp-next {	top:10px; }
div#~gallery_div~ div.jp-current-time,
div#~gallery_div~ div.jp-duration { top: 60px; width: 88%; left: 6%; height: 15px; }
div#~gallery_div~ div.jp-progress { top: 47px; width: 88%; left: 6%; }
}


div#~gallery_div~.mobileLayout div.jp-interface{ padding-left: 0; padding-right: 0; }
div#~gallery_div~.mobileLayout .jp-mute,
div#~gallery_div~.mobileLayout .jp-unmute,
div#~gallery_div~.mobileLayout .jp-volume-max,
div#~gallery_div~.mobileLayout .jp-volume-bar,
div#~gallery_div~.mobileLayout .jp-slider-volume-bar { display: none !important; }  
div#~gallery_div~.mobileLayout .jp-slider-progress {  margin-top: 8px !important; position: relative; top: 6px; margin: 0 20px; }   
div#~gallery_div~.mobileLayout a.jp-play,
div#~gallery_div~.mobileLayout a.jp-pause { top:5px; }
div#~gallery_div~.mobileLayout a.jp-stop {	top:10px; }
div#~gallery_div~.mobileLayout a.jp-previous { top:10px; }
div#~gallery_div~.mobileLayout a.jp-next {	top:10px; }
div#~gallery_div~.mobileLayout div.jp-current-time,
div#~gallery_div~.mobileLayout div.jp-duration { top: 60px; width: 88%; left: 6%; height: 15px; }
div#~gallery_div~.mobileLayout div.jp-progress { top: 47px; width: 88%; left: 6%; }



div#~gallery_div~ .shufflevisible .jp-controls .jp-shuffle { background-position: center center; background-repeat: no-repeat;  font-size: 0; cursor: pointer; width: 24px; height: 14px; outline: none;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAATCAMAAACqTK3AAAAAtFBMVEX///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8YFGe8AAAAO3RSTlMA7PwKCcywBFb3Ef3qUenv9fZvwQyCOvtDFcmIjx18LkxlxQY8CyGgE+BoR6/neHThK99dsWM+WlwYjPWrYMIAAAB/SURBVHhetdC1DgJRAAXRYV1wd3d3u///X/AKErIt4XTTDv/TTXSvn1GpDGTDfCFsLqEtYw3kapZlSRSVblWUrmIAl3pDcQRehw9wFYDDl4GGwIgPGEuTYAqzOcAi9SatfG22O+0PQKy344noLMMDHNuxbYzr7S73QcLT/+HGC3WXDbhl+W/fAAAAAElFTkSuQmCC);
}
div#~gallery_div~ .shufflevisible .jp-controls .jpli-shuffle {width: 24px; height: 16px; position: absolute; left: 57px; top: 55px; }
div#~gallery_div~ .shufflevisible .jp-controls .jpli-shuffle.on { box-shadow: inset 0 0 4px #41536B; border-radius: 5px; background: rgba(0,0,0,.1); border: 1px solid #fff; border: 1px solid rgba(255, 255, 255, 0.43); box-sizing: border-box; }

@media screen and (max-width: 640px) { 
	div#~gallery_div~ .shufflevisible .jp-controls .jpli-shuffle { left: 163px; top: 17px; }
}


/*playlist  thumb styles */
div#~gallery_div~ .playlistThumb:before {content: '';display: inline-block;height: 100%;vertical-align: middle;}
div#~gallery_div~ .playlistThumb img {max-width: 100%;max-height: 100%;display: inline-block;vertical-align: middle;}

.jp-slider-progress .slider-volume.seekBar{min-height: 24px;top: 28px;}