/*@createarg[
{'group':'branded','groupName':'Player logo','name':'watermark','type':'text','title':'Logo URL','default':'',desc:'Location of an external jpg, png or gif image to show in a corner of the display.'},
{'group':'branded','groupName':'Player logo','name':'watermark_link','type':'text','title':'Logo click URL','default':'',desc:'Open URL on  logo click.'},
{'group':'design','name':'theme_color2','type':'color','title':'Theme color 2','default':'#98a4b3',desc:'Customize Theme color 2 for your gallery'},

{'group':'design','name':'player_colors','type':'pallet','title':'Pallet',desc:'Select pre-defined color pallet',
values :{ 	"Sweet Lavender" : { short_name : "sweet_lavender", set : {
		theme_color: "#620096",
		text_color : "#7a007a",
		bg_color : "#ffb8e9",
		theme_color2: "#c66bff",
	}}, 	"Many Oranges" : { short_name : "many_oranges", set : {
		theme_color: "#fff200",
		text_color : "#703114",
		bg_color : "#ffaa00",
		theme_color2: "#f2811d",
	}}, 	"Dark Glow" : { short_name : "dark_glow", set : {
		theme_color: "#ff8400",
		text_color : "#ffffff",
		bg_color : "#003a47",
		theme_color2: "#410069",
	}}, 	"Green Field" : { short_name : "green_field", set : {
		theme_color: "#f2ff3d",
		text_color : "#3c4f0e",
		bg_color : "#96db00",
		theme_color2: "#6fd178",
	}}, 	"Vintage Paint" : { short_name : "vintage_paint", set : {
		theme_color: "#9e0a3a",
		text_color : "#5d5553",
		bg_color : "#fff9d7",
		theme_color2: "#5fa1dd",
	}}, 	"Red Flame" : { short_name : "red_flame", set : {
		theme_color: "#8a173e",
		text_color : "#fffccc",
		bg_color : "#ff002b",
		theme_color2: "#ff5500",
	}}, 	"Gray Aluminium" : { short_name : "grayaluminium", set : {
		theme_color: "#a8b6bd",
		text_color : "#566069",
		bg_color : "#dde5eb",
		theme_color2: "#98a4b3",
	}}, 	"White Snowstorm" : { short_name : "whitesnowstorm", set : {
		theme_color: "#b3bcc2",
		text_color : "#1b1d1f",
		bg_color : "#ffffff",
		theme_color2: "#ebedf0",
	}}, 	"Deep Black" : { short_name : "whitesnowstorm", set : {
		theme_color: "#ffbf00",
		text_color : "#ffffff",
		bg_color : "#242424",
		theme_color2: "#000000",
	}},
}},
]@createarg */
div#~gallery_div~ .jp-controls .jpli-playlistbtn, div#~gallery_div~ .jp-controls .jpli-repeat, div#~gallery_div~ .jp-controls .jpli-stop, div#~gallery_div~ .jp-controls .jpli-mute, div#~gallery_div~ .jp-controls .jpli-unmute, div#~gallery_div~ .jp-controls .jpli-volume-max { display: none !important; }

div#~gallery_div~ { width: 100% !important; text-align: left; }
div#~gallery_div~ * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
div#~gallery_div~ ul { list-style: none; padding: 0; margin: 0; display: block; width: 100%; height: 100%; }
div#~gallery_div~ .jp-stop, div#~gallery_div~ .jp-mute, div#~gallery_div~ .jp-unmute, div#~gallery_div~ .jp-volume-max { display: none!important; }
div#~gallery_div~ .jp-type-playlist { height: 100%; overflow: hidden; width: 100%; position: relative; margin: 0 auto; }
div#~gallery_div~ .jp-type-playlist .jp-interface, div#~gallery_div~ .jp-type-playlist .cp-upper-panel { position: relative; width: 100%; z-index: 5; height: 20px; overflow: hidden; }
div#~gallery_div~ .jp-controls { display: block; height: 100%; position: absolute; left: 0; width: 15%; top: 0; }
div#~gallery_div~ .jp-controls li { display: block; float: left; background: transparent; height: 100%; padding: 0px; margin: 0; width: 32.5%; position: relative; overflow: hidden; }
div#~gallery_div~ .jp-controls li.jpli-pause { margin-left: -32.5%; }
div#~gallery_div~ .jp-controls li > a { z-index: 10; position: relative; }
div#~gallery_div~ .jp-controls li > a > i { font-size: 14px; }
div#~gallery_div~ .jp-volume-bar { width: 11%; display: block; height: 100%; margin: 0; position: absolute; left: 88%; }
div#~gallery_div~ .jp-volume-bar-value { display: block; height: 100%; float: left; }
div#~gallery_div~ .jp-progress { height: 11px; width: 40%; display: block; margin: 0; position: absolute; left: 41.5%; top: 50%; margin-top: -1px !important; }
div#~gallery_div~ .jp-slider-progress { height: 8px; width: 59%; display: block; margin: 0; position: absolute; left: 21.5%; top: 50%; margin-top: -4px; z-index: 5; }
div#~gallery_div~ .jp-progress, div#~gallery_div~ .slider-volume > .track, div#~gallery_div~ .slider-volume > .highlight-track { overflow: hidden; }
div#~gallery_div~ .jp-play-bar { height: 100%; display: block; position: absolute; left: 0; }
div#~gallery_div~ .jp-seek-bar { width: 100%; }
div#~gallery_div~ .jp-controls .jp-shuffle, div#~gallery_div~ .jp-controls .jp-play, div#~gallery_div~ .jp-controls .jp-pause, div#~gallery_div~ .jp-controls .jp-next, div#~gallery_div~ .jp-controls .jp-previous { display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; }
div#~gallery_div~ .jp-current-time, div#~gallery_div~ .jp-duration { font-size: 11px; z-index: 5; position: absolute; pointer-events: none; top: 50%; margin-top: -0.5em; line-height: 1em; height: 1em; }
div#~gallery_div~ .jp-current-time { padding-left: 2px; right: 81%; }
div#~gallery_div~ .jp-duration { padding-right: 2px; left: 81.8%; }
div#~gallery_div~ .jp-playlist { position: relative; top: 0; box-sizing: border-box; overflow-y: auto; height: calc(100% - 20px); height: ~arg_playlist_height~px; text-align: left; }
div#~gallery_div~ .jp-playlist ul { list-style: none; padding: 0; margin: 0; display: block; width: 100%; height: auto; }
div#~gallery_div~ .jp-playlist li { overflow: hidden; display: block; margin: 0; padding: 0; }
div#~gallery_div~ .jp-playlist li a { font-size: 10px; line-height: 1.2em; display: block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; position: relative; padding: .3em .5em; }
div#~gallery_div~ .jp-playlist .audioItem_title, div#~gallery_div~ .jp-platlist .audioItem_desc { font-size: 1em !important; line-height: inherit; }
div#~gallery_div~ .jp-playlist .audioItem_duration { display: inline-block !important; float: right; font-size: .9em; opacity: .8; font-weight: normal; }
div#~gallery_div~ .slider-volume { margin-left: 0 !important; }
div#~gallery_div~ .jp-slider-volume-bar { width: 10%; display: block; height: 100%; margin: 0; position: absolute; left: 88%; }
div#~gallery_div~ .slider-volume { top: 50%; margin-top: -9px; height: 18px; }
div#~gallery_div~ .slider-volume > .track, div#~gallery_div~ .slider-volume > .highlight-track { height: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
div#~gallery_div~ .shufflevisible .jp-controls li { width: 24.2%; }
div#~gallery_div~ .shufflevisible .jp-controls li.jpli-pause { margin-left: -24.2%; }
div#~gallery_div~ .v2 .jp-controls li.jpli-pause { margin-left: 0; display: none; }
div#~gallery_div~ .playlistThumb:before { content: ''; display: inline-block; height: 100%; vertical-align: middle; }
div#~gallery_div~ .playlistThumb img { max-width: 100%; max-height: 100%; display: inline-block; vertical-align: middle; }
div#~gallery_div~ .branding .jp-slider-volume-bar { padding-right: 30px; }
div#~gallery_div~ .branding .jp-branding { display: block !important; text-align: center; width: 40px; height: 30px; line-height: 20px; position: absolute; top: 50%; margin-top: -15px; right: 5px; z-index: 5; }
div#~gallery_div~ .branding .jp-branding a { display: block; width: 100%; height: 100%; line-height: 20px; }
div#~gallery_div~ .branding .jp-branding a img { max-width: 100%; max-height: 100%; display: inline-block; vertical-align: middle; }
div#~gallery_div~ .branding .jp-branding a:after { content: ''; height: 100%; display: inline-block; vertical-align: middle; }
div#~gallery_div~ .cp-upper-panel { height: auto; padding: 3px; white-space: nowrap; }
div#~gallery_div~ .cp-upper-panel:after { content: ''; display: block; clear: both; }
div#~gallery_div~ .cp-upper-panel a { display: inline-block; vertical-align: middle; color: #000; color: #~arg_text_color~; text-decoration: none; line-height: 1em; padding: 4px 5px; border-radius: 3px; }
div#~gallery_div~ .cp-upper-panel a:hover { background: #~arg_theme_color~; color: #~arg_bg_color~; }
div#~gallery_div~ .cp-upper-panel .ze_search_cont { float: left; width: 60%; }
div#~gallery_div~ .cp-upper-panel .ze_search_cont .ze_searchBox { border-radius: 3px; color: #~arg_text_color~; border: 1px solid #~arg_theme_color~; outline: none !important; background: #~arg_bg_color~; opacity: .8em; width: 100%; padding-right: 24px; padding-left: 5px; }
div#~gallery_div~ .cp-upper-panel .ze_search_cont .ze_searchBox:focus { opacity: 1; border-color: #~arg_text_color~; }
div#~gallery_div~ .cp-upper-panel .ze_search_cont .ze_search_clear { position: absolute; margin-left: -15px; margin-top: 3px; color: #~arg_text_color~; }
div#~gallery_div~ .cp-upper-panel .cp-download-all-link { float: right; text-align: right; }
@media screen and (max-width: 750px) { div#~gallery_div~ .jp-current-time, div#~gallery_div~ .jp-duration { font-size: 9px; } }
div#~gallery_div~ .mobileLayout .jp-current-time, div#~gallery_div~ .mobileLayout .jp-duration { font-size: 9px; }

div#~gallery_div~ * { outline: none; }
div#~gallery_div~ .jp-audio { font-family: 'Arial', sans-sefif; }
div#~gallery_div~ .jp-interface, div#~gallery_div~ .cp-upper-panel { border-radius: 3px; border: 1px solid #~arg_theme_color2~; -moz-box-shadow: 0 1px 3px rgba(13, 25, 32, 0.26), inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 -1px 0 rgba(255, 255, 255, 0.3), inset 0 0 15px rgba(255, 255, 255, 0.6); -webkit-box-shadow: 0 1px 3px rgba(13, 25, 32, 0.26), inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 -1px 0 rgba(255, 255, 255, 0.3), inset 0 0 15px rgba(255, 255, 255, 0.6); box-shadow: 0 1px 3px rgba(13, 25, 32, 0.26), inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 -1px 0 rgba(255, 255, 255, 0.3), inset 0 0 15px rgba(255, 255, 255, 0.6); background: #~arg_bg_color~; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #~arg_bg_color~), color-stop(100%, #~arg_theme_color2~)); background-image: -webkit-linear-gradient(top, #~arg_bg_color~, #~arg_theme_color2~); background-image: -moz-linear-gradient(top, #~arg_bg_color~, #~arg_theme_color2~); background-image: -ms-linear-gradient(top, #~arg_bg_color~, #~arg_theme_color2~); background-image: -o-linear-gradient(top, #~arg_bg_color~, #~arg_theme_color2~); background-image: linear-gradient(to bottom, #~arg_bg_color~ 0%, #~arg_theme_color2~ 100%); }
div#~gallery_div~ a { text-decoration: none; }
div#~gallery_div~ .jp-controls li { border-left: 1px solid rgba(255, 255, 255, 0.28); border-right: 1px solid rgba(0, 0, 0, 0.31); }
div#~gallery_div~ .jp-controls li > a > i { color: #~arg_text_color~; text-shadow: 0px 1px #~arg_bg_color~; }
div#~gallery_div~ .jp-controls li:hover { background-color: #~arg_theme_color~; color: #~arg_bg_color~; border-color: #~arg_bg_color~; }
div#~gallery_div~ .jp-controls li:hover > a > i { color: #~arg_bg_color~; }
div#~gallery_div~ .jp-controls li.on, div#~gallery_div~ .jp-controls li:active { background-color: #~arg_theme_color~; box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5); border-color: #~arg_bg_color~; }
div#~gallery_div~ .jp-controls li.on > a > i, div#~gallery_div~ .jp-controls li:active > a > i { color: #~arg_bg_color~; }
div#~gallery_div~ .jp-volume-bar { background: url("~skin_path~images/bottombar-volumeBack.jpg") repeat-x left center; }
div#~gallery_div~ .jp-volume-bar-value { background: url("~skin_path~images/bottombar-volume.jpg") repeat-x left center; }
div#~gallery_div~ .jp-progress, div#~gallery_div~ .slider-volume > .track, div#~gallery_div~ .slider-volume > .highlight-track { background-color: #~arg_theme_color~; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #~arg_theme_color2~), color-stop(100%, #~arg_bg_color~)); background-image: -webkit-linear-gradient(top, #~arg_theme_color2~, #~arg_bg_color~); background-image: -moz-linear-gradient(top, #~arg_theme_color2~, #~arg_bg_color~); background-image: -ms-linear-gradient(top, #~arg_theme_color2~, #~arg_bg_color~); background-image: -o-linear-gradient(top, #~arg_theme_color2~, #~arg_bg_color~); background-image: linear-gradient(to bottom, #~arg_theme_color2~ 0%, #~arg_bg_color~ 100%); border-radius: 5px; box-shadow: 0 0 2px rgba(0, 0, 0, 0.4); }
div#~gallery_div~ .jp-play-bar { background-color: #1B89FF; box-shadow: inset 0 3px 3px #00c2ff, inset 0 -3px 3px #57c9ff, 0 0 3px black; background: #006ccf; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #~arg_theme_color2~), color-stop(100%, #~arg_bg_color~)); background-image: -webkit-linear-gradient(top, #~arg_theme_color2~, #~arg_bg_color~); background-image: -moz-linear-gradient(top, #~arg_theme_color2~, #~arg_bg_color~); background-image: -ms-linear-gradient(top, #~arg_theme_color2~, #~arg_bg_color~); background-image: -o-linear-gradient(top, #~arg_theme_color2~, #~arg_bg_color~); background-image: linear-gradient(to bottom, #~arg_theme_color2~ 0%, #~arg_bg_color~ 100%); }
div#~gallery_div~ .jp-current-time, div#~gallery_div~ .jp-duration { color: #~arg_text_color~; opacity: .7; }
div#~gallery_div~ .jp-current-time { padding-left: 2px; /*border-left: 1px solid rgba(0,0,0,1/10);*/ }
div#~gallery_div~ .jp-duration { padding-right: 2px; /*border-right: 1px solid rgba(0,0,0,1/10);*/ }
div#~gallery_div~ .jp-playlist ul { background-color: #~arg_bg_color~; }
div#~gallery_div~ .jp-playlist li a { color: #~arg_text_color~; border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
div#~gallery_div~ .jp-playlist li a:hover { background-color: #~arg_theme_color2~; }
div#~gallery_div~ .jp-playlist li.jp-playlist-current a { background-color: #~arg_theme_color~; color: #~arg_bg_color~; -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1); -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1); box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1); }
div#~gallery_div~ .jp-playlist .audioItem_desc { opacity: .5; }
div#~gallery_div~ .slider-volume > .track, div#~gallery_div~ .slider-volume > .highlight-track { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
div#~gallery_div~ .slider-volume > .highlight-track { background-color: #c5c5c5; background: -webkit-linear-gradient(#c5c5c5, #a2a2a2); background: -o-linear-gradient(#c5c5c5, #a2a2a2); background: linear-gradient(#c5c5c5, #a2a2a2); }
div#~gallery_div~ ::-webkit-scrollbar { width: 8px; }
div#~gallery_div~ ::-webkit-scrollbar-track { background: #~arg_bg_color~; -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0); -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }
div#~gallery_div~ ::-webkit-scrollbar-thumb { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; background: #~arg_theme_color~; -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0); }
div#~gallery_div~ ::-webkit-scrollbar-thumb:window-inactive { background: #~arg_theme_color~; opacity: .5; }

div#~gallery_div~ .jp-controls a { font-size: 0; color: transparent; line-height: 0; }
div#~gallery_div~ .jp-controls [class^="jp-"] > i { display: block; position: absolute; width: 100%; height: 100%; top: 0; left: 0; text-align: center; white-space: nowrap; }
div#~gallery_div~ .jp-controls [class^="jp-"] > i:before, div#~gallery_div~ .jp-controls [class*=" jp-"] > i:before { font-family: "cincojplayer02" !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: inherit; display: inline-block; vertical-align: middle; line-height: 1em; margin-bottom: -0.3em; }
div#~gallery_div~ .jp-controls [class^="jp-"] > i:after, div#~gallery_div~ .jp-controls [class*=" jp-"] > i:after { display: inline-block; vertical-align: middle; content: ''; height: 100%; }
div#~gallery_div~ .jp-pause > i:before { content: "b"; }
div#~gallery_div~ .jp-play > i:before { content: "c"; }
div#~gallery_div~ .jp-previous > i:before { content: "e"; }
div#~gallery_div~ .shufflevisible .jp-shuffle > i:before { content: "d"; }
div#~gallery_div~ .jp-next > i:before { content: "a"; }

@font-face { font-family: "cincojplayer02"; src: url("~skin_path~fonts/2/cincojplayer02.eot"); src: url("~skin_path~fonts/2/cincojplayer02.eot?#iefix") format("embedded-opentype"), url("~skin_path~fonts/2/cincojplayer02.woff") format("woff"), url("~skin_path~fonts/2/cincojplayer02.ttf") format("truetype"), url("~skin_path~fonts/2/cincojplayer02.svg#cincojplayer02") format("svg"); font-weight: normal; font-style: normal; }

div#~gallery_div~ .mobileLayout .jp-controls { width: 34%; }
div#~gallery_div~ .mobileLayout .jp-slider-volume-bar { display: none; }
div#~gallery_div~ .mobileLayout .jp-current-time { left: 33%; right: auto; padding: 0 0 0 2px; top: .8em; }
div#~gallery_div~ .mobileLayout .jp-duration { right: 0; left: auto; padding: 0 2px 0 0; top: .8em; }
div#~gallery_div~ .mobileLayout .jp-progress, div#~gallery_div~ .mobileLayout .jp-slider-progress { left: 37.5%; width: 60%; margin-top: -2px; z-index: 10; }
div#~gallery_div~ .mobileLayout .branding .jp-slider-progress { padding-right: 40px; }
div#~gallery_div~ .mobileLayout .branding .jp-duration { padding-right: 45px; }
@media screen and (max-width: 750px) { div#~gallery_div~ .jp-controls { width: 34%; }
  div#~gallery_div~ .jp-slider-volume-bar { display: none; }
  div#~gallery_div~ .jp-current-time { left: 33%; right: auto; padding: 0 0 0 2px; top: .8em; }
  div#~gallery_div~ .jp-duration { right: 0; left: auto; padding: 0 2px 0 0; top: .8em; }
  div#~gallery_div~ .jp-progress, div#~gallery_div~ .jp-slider-progress { left: 37.5%; width: 60%; margin-top: -2px; z-index: 10; }
  div#~gallery_div~ .branding .jp-slider-progress { padding-right: 40px; }
  div#~gallery_div~ .branding .jp-duration { padding-right: 45px; } }

div#~gallery_div~ .slider-volume > .dragger { width: 5px; height: 14px; margin: 0 auto; margin-top: -7.5px !important; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8); -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; background: #c5c5c5; background: -moz-linear-gradient(90deg, #b4b4b4 20%, #e6e6e6 50%, #b4b4b4 80%); background: -webkit-radial-gradient(50% 0%, 12% 50%, white 0%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient(50% 100%, 12% 50%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient(50% 50%, 200% 50%, #e6e6e6 5%, #d9d9d9 30%, #999999 100%); }
